.panelNav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 2rem;
	background-color: var(--sideBarBgc);
	z-index: 1000;
	box-shadow: 0px 0px 4px 4px #d3d3d3d3;
	.menu {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 100%;
		background-color: transparent;
		border: none;
		transition: transform 0.3s ease-in-out;
		cursor: pointer;
		z-index: 1000;

		.span {
			display: block;
			position: relative;
			width: 100%;
			height: 2px;
			background-color: var(--pagesColor);
			cursor: pointer;
			&::after,
			&::before {
				content: '';
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: var(--pagesColor);
			}
			&::after {
				top: -10px;
			}
			&::before {
				top: 10px;
			}
		}
		&:hover {
			transform: scale(1.05);
		}
	}
	.logo {
		height: 100%;
		width: auto;
		background-color: transparent;
		z-index: 101;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: var(--logo-hover);
				scale: 1.05;
			}
		}
	}
}
