.panelNav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 55px;
	display: flex;
	align-items: center;
	background-color: var(--sideBarBgc);
	z-index: 1000;
	box-shadow: 0px 0px 4px 4px #d3d3d3d3;
	.menu {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 2rem;
		width: 48px;
		height: 48px;
		background-color: transparent;
		border: none;
		transition: all 0.3s ease-in-out;
		cursor: pointer;
		z-index: 1000;

		.span {
			display: block;
			position: relative;
			width: 28px;
			height: 2px;
			background-color: #000000;
			transition: all 0.3s;

			&::after,
			&::before {
				content: '';
				position: absolute;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: inherit;
			}
			&::after {
				top: -10px;
			}
			&::before {
				top: 10px;
			}
		}
		&:hover {
			transform: scale(1.05);
		}
	}
}
