.switchButton {
	position: relative;
	display: flex;
	justify-content: space-around;
	background-color: var(--lightGrayColor);

	.off,
	.on {
		padding: 0.5rem 2rem;
		font-size: var(--textSize_16);
		background-color: transparent;
		color: var(--darkColor);
		border: none;
		transition: all 0.3s;
		pointer-events: none;
		z-index: 100;
	}
	.off {
		color: var(--whiteColor);
	}
	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 50%;
		height: 100%;
		background-color: var(--blackColor);
		transition: all 0.3s;
	}
}
.switch {
	.off {
		color: var(--darkColor);
	}
	.on {
		color: var(--whiteColor);
	}

	&::after {
		left: 50%;
		background-color: var(--mainColor);
	}
}
