.menu {
	display: flex;
	gap: 2rem;
	padding: 0 2.4rem;

	.link {
		font-size: var(--menu-TextSize);
		color: var(--menu-textColor);
		font-weight: 600;
		&:hover {
			color: var(--menu-textColorHover);
		}
	}
	.menuElement {
		position: relative;
		display: flex;
		align-items: center;
		font-size: var(--menu-TextSize);
		font-weight: 600;
		color: var(--menu-textColor);
		cursor: pointer;
		transition: color 0.3s ease-in-out;
		&:hover {
			color: var(--menu-textColorHover);
		}
		&:hover .arrow {
			rotate: 180deg;
		}

		.title {
			padding-right: 1rem;
			pointer-events: none;
		}

		.arrow {
			transition: all 0.3s ease-in-out;
			pointer-events: none;
		}

		.active {
			display: block;
			opacity: 1;
			visibility: visible;
		}
	}
}

.secondNavBgColor {
	background-image: var(--Bgc-navSecond)
}

@media (max-width: 1700px) {
	.menu {
		max-width: 1400px;
		margin-left: calc(var(--logo-width) + 8rem);
	}
}
