.desktopNavWrapper {
	display: flex;
	width: 92%;
	max-width: 1400px;
	margin: 0 auto;
	gap: 2rem;
	padding: 0 2.4rem;
	line-height: 20px;

	.link {
		font-size: var(--menu-TextSize);
		color: var(--menu-textColor);
		font-weight: 600;
		&:hover {
			color: var(--menu-textColorHover);
		}
	}
	.menuElementContainer {
		position: relative;
		display: flex;
		align-items: center;
		font-size: var(--menu-TextSize);
		font-weight: 600;
		color: var(--menu-textColor);
		cursor: pointer;
		transition: color 0.3s ease-in-out;
		&:hover {
			color: var(--menu-textColorHover);
		}
		&:hover .chevron {
			rotate: 180deg;
		}
		.menuElement {
			display: flex;
			flex-direction: row;
			align-items: center;
			pointer-events: none;
			.title {
				padding-right: 1rem;
				pointer-events: none;
			}

			.chevron {
				transition: all 0.3s ease-in-out;
				pointer-events: none;
			}
		}

		.subMenu {
			position: absolute;
			display: none;
			flex-direction: column;

			top: calc(50% + (var(--headerHeight) / 2));

			left: 0;
			padding: 1.8rem 0;

			background: var(--subMenuBgc);
			opacity: 0;
			visibility: hidden;
			z-index: 1000;
			list-style: none;

			.subLink {
				display: block;
				width: 100%;
				white-space: nowrap;
				line-height: 1.8rem;
				padding: 0.7rem 3rem 0.7rem 2rem;
				color: var(--subMenu-Color);
				font-size: var(--subMenu-TextSize);
				font-weight: 400;
				transition: all 0.3s;

				&:hover {
					color: var(--subMenu-ColorHover);
				}
			}
			.activeSubMenuLi {
				color: white;
			}
		}

		.active {
			display: block;
			opacity: 1;
			visibility: visible;
		}
	}
}

.navBgcDark {
	background-color: var(--Bgc-navSecond);
}

@media (max-width: 1700px) {
	.desktopNavWrapper {
		max-width: 1400px;
		margin-left: calc(var(--logo-width) * 2);
	}
}
