.analyticsSettingsTemplateContainer {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	height: 100%;
	width: 100%;
	background-color: var(--pagesBgc);
	padding: 2rem;
	overflow: hidden;

	
}

@media (width < 800px) {
	.analyticsSettingsTemplateContainer {
		margin-top: 5rem;
		align-items: center;
		
	}
}