.statisticContainer {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		'a a a a a a'
		'c c c c b b'
		'd d d e e e';
	gap: 3rem;

	.statisticWrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
		grid-area: a;
		gap: 2rem;

		.statisticCardContainer {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 2rem 1rem;
			gap: 2rem;
			background-color: var(--statBgc);
			border: none;
			border-radius: var(--borderRadius16);
			
			.statBox {
				display: flex;
				align-items: center;
				gap: 1rem;
				min-width: 40%;
				.statMain {
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
					.statValue {
						color: var(--statMainColor);
						font-size: var(--textSize_20);
						font-weight: 600;
					}
					.statTitle {
						font-size: var(--textSize_10);
						color: var(--statSecondColor);
					}
				}
			}
			.statGrowth {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				.statGrowthBox {
					display: flex;
					flex-direction: column;
					.statGrowthPercent {
						font-size: var(--textSize_16);
						color: var(--statThirdColor);
					}
					.lastSpan {
						font-size: var(--textSize_10);

						color: var(--statSecondColor);
					}
				}
			}
			.iconBox {
				display: flex;
				align-items: center;
				justify-content: center;
				min-width: 45px;
				height: 45px;

				border: 2px solid #ececec;
				border-radius: var(--borderRadius08);
			}
			.pageViews {
				background-color: #ecf1fd;
			}
			.users {
				background-color: #e7f6fa;

				svg {
					width: 30px;
					height: 30px;
					path {
						fill: #0aa8c0;
					}
				}
			}
			.posts {
				background-color: #fff4e8;

				svg {
					width: 25px;
					height: 25px;
					fill: #ff8300;
					g {
						path {
							fill: #ff8300;
						}
					}
				}
			}
			.likes {
				background-color: #ffeff0;

				svg {
					width: 25px;
					height: 25px;
					path {
						fill: #ff4d6e;
					}
				}
			}
			.comments {
				background-color: #e8fded;

				svg {
					width: 25px;
					height: 25px;
					path {
						fill: #37b44b;
					}
				}
			}
		}
	}
	.areaChartWrapper {
		display: grid;
		grid-area: c;

		padding: 3rem;
		color: #000000;
		background-color: var(--statBgc);
		border-radius: var(--borderRadius16);

		.areaChartInfo {
			display: flex;
			justify-content: space-between;
			margin-bottom: 2rem;
			.areaChartTitle {
				margin-left: 4rem;
				color: var(--statMainColor);
				font-size: var(--textSize_22);
				font-weight: 500;
			}
			.areaCurrentViews {
				display: flex;
				gap: 2rem;
				padding: 2rem 0;
				.areaCurrentInfo {
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding: 0 2rem;
					color: var(--statMainColor);

					span:first-child {
						display: flex;
						font-size: var(--textSize_22);
					}

					span:last-child {
						font-size: var(--textSize_10);
						color: var(--statSecondColor);
					}
				}
			}
			.areaCurrentDropdown {
				position: relative;
				margin-right: 2rem;
				.areaCurrentViewsFromTo {
					display: flex;
					align-items: center;
					padding: 0 1rem;
					color: var(--statMainColor);
					line-height: 30px;
					font-size: var(--textSize_12);
					font-weight: 600;
					text-transform: uppercase;
					cursor: pointer;

					span {
						flex-shrink: 0;
						margin-right: 0.5rem;
					}
					svg {
						flex-shrink: 0;
					}
				}
				.areaCurrentViewsSelect {
					position: absolute;
					top: 35%;
					left: 0;
					width: 100%;
					padding: 0 1rem;
					line-height: 30px;
					box-shadow: 0px 1px 2px 2px #eeeeee;
					transform-origin: top;
					transform: scaleY(0);
					transition: all 0.3s;

					span {
						font-size: var(--textSize_12);
						color: var(--statMainColor);
						text-transform: uppercase;
						cursor: pointer;
					}
				}

				.scaleUp {
					transform: scaleY(1);
				}
				.rotate {
					rotate: 180deg;
				}
			}
		}

		.stackedAreaChart {
			.areaChart {
				width: 100%;
				height: 350px;
			}
		}
	}
	.arrowUpStat {
		width: 25px;
		height: 25px;
		fill: var(--statThirdColor);
	}
}

@media (max-width: 1500px) {
	.statisticContainer {
		grid-template-rows: auto 1fr auto auto;
		grid-template-areas:
			'a a a a a a'
			'c c c b b b'
			'd d d e e e';

		.areaChartWrapper {
			grid-area: c;

			width: 100%;

			padding: 3rem 0 1rem;

			.areaChartInfo {
				.areaChartTitle {
					margin-left: 3rem;
				}

				
			}
			.stackedAreaChart {
				.areaChart {
					width: 100%;
					height: 250px;
				}
			}
		}
	}
}
@media (max-width: 1300px) {
	.statisticContainer {
		grid-template-rows: 1fr;
		grid-template-areas:
			'a a a a a a'
			'c c c c c c'
			'b b b b b b'
			'd d d d d d'
			'e e e e e e';

		.areaChartWrapper {
			.areaChartInfo {
				.areaCurrentDropdown {
					.areaCurrentViewsSelect {
						top: 35%;
					}
				}
			}
		}
	}
}
@media (max-width: 800px) {
	.statisticContainer {
		.statisticWrapper{
			margin-top: 5rem;
		}
	}
}

@media (max-width: 600px) {
	.statisticContainer {
		.areaChartWrapper {
			position: relative;
			overflow: hidden;

			.areaChartInfo {
				justify-content: center;
				.areaChartTitle {
					top: 3%;
					left: 3%;
					position: absolute;
					margin-left: 1rem;

					font-size: var(--textSize_18);
				}
				.areaCurrentViews {
					display: flex;
					justify-content: end;
					gap: 1rem;
					padding: 1rem 0;
					min-width: 200px;
					.areaCurrentInfo {
						
						padding: 0;

						span:first-child {
							display: flex;
							font-size: var(--textSize_18);
						}

						span:last-child {
							font-size: var(--textSize_10);
							color: var(--statSecondColor);
						}
					}
				}
				.areaCurrentDropdown {
					margin-right: 0rem;
					.areaCurrentViewsSelect {
						top: 40%;
					}
				}
			}
			.stackedAreaChart {
				overflow-x: scroll;
				.areaChart {
					min-width: 600px;
				}
			}
			::-webkit-scrollbar {
				display: none;
			}
		}
	}
}
