.contactPageTemplateContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	min-height: 100dvh;
	padding: 20rem 0 10rem;
}


@media (width < 900px) {
	.contactPageTemplateContainer{
		padding: 12rem 0 10rem;
	}
}