.listWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100dvh;

	.listTitle {
		padding: 2rem;
		font-size: var(--textSize_26);
		font-weight: 400;
		line-height: 4rem;
		font-family: var(--font-2);
		color: var(--pagesColor);
	}

	// Search ----------
	.searchContainer {
		display: flex;
		align-items: center;
		padding: 2rem;
		gap: 1rem;
		width: 100%;

		.searchTitle {
			font-size: 2rem;
			font-family: var(--font-2);
		}
		.searchBox {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.5rem 1rem;

			max-width: 400px;
			width: 100%;
			box-shadow: 3px -2px 10px black;
			border-radius: 20px;
			.searchInput {
				padding: 0.5rem 1rem;
				width: 100%;
				font-size: var(--textSize_16);
				font-family: var(--font-2);
				outline: none;
				border: none;
				color: var(--pagesColor);
				background: none;
			}
			.searchBtn {
				padding: 0.5rem;
				background: transparent;
				border: none;

				transition: all 0.3s;
				.searchIcon {
					background: transparent;
					color: #000000;
				}
			}
		}
	}

	.listContainer {
		width: 100%;
		height: 100%;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		background-color: #ffffff;
		// scrollbar-width: none;
		overflow-x: auto;

		.tableContainer {
			position: relative;
			display: inline-block;
			min-width: 100%;

			.thead,
			.tbody {
				.tr {
					display: flex;
					flex-direction: row;

					.th,
					.td {
						display: flex;
						align-items: center;
						justify-content: center;

						gap: 1rem;
						min-width: 120px;
						width: 100%;
						font-family: var(--font-2);
						color: var(--colorTabel);
						cursor: pointer;
						&:first-child {
							padding-left: 2rem;
							max-width: 300px;
							min-width: 200px;
						}
						&:nth-child(2) {
							min-width: 350px;
						}
						&:nth-child(3) {
							min-width: 250px;
						}
						&:nth-child(n + 3) {
							max-width: 150px;
						}
					}
				}
			}
			.thead {
				top: 0;
				position: sticky;
				z-index: 1000;
				background-color: #ffffff;
				.tr {
					.th {
						position: relative;
						padding: 1.5rem 0;

						&:hover {
							background-color: var(--bgcTabelHover);
						}
					}
				}
			}
			.tbody {
				overflow: auto;
				height: 100%;
				background-color: var(--bgcTBody);

				.tr {
					padding: 1rem 0;
					transition: all 0.3s;

					&:nth-child(odd) {
						background-color: #ffffff;
					}
					.td {
						position: relative;

						&:nth-child(-n + 2) {
							justify-content: flex-start;

							&:hover {
								color: #ffffff;
							}
						}
						&:nth-child(2) {
							display: flex;
							justify-content: space-between;
							padding-right: 3rem;
							.comment {
								display: -webkit-box;
								-webkit-box-orient: vertical;
								-webkit-line-clamp: 1;
								line-clamp: 1;
								overflow: hidden;
							}
							&:hover > .comment {
								color: #ffffff;
							}
						}
						&:last-child {
							padding-right: 0;

							a {
								display: flex;
								align-items: center;
							}
						}
						&:nth-child(n + 4):nth-child(-n + 4) {
							text-align: center;
						}
					}
					&:hover {
						background-color: var(--bgcTabelHover);
					}
				}
			}
		}
	}

	.popupInfo {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 0 2rem;
		margin-bottom: 3rem;

		span {
			font-size: var(--textSize_16);
			span:first-child {
				display: inline;

				font-weight: 600;
			}
		}
		span:last-child {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 5;
			line-clamp: 5;
			overflow: hidden;
		}
	}

	.openPopup {
		display: flex;
	}
}

.tabelTitle {
	display: flex;
	color: #000000;
	cursor: pointer;
	&:hover {
		color: #251c1c;
	}
}

@media (width <= 700px) {
	.listWrapper {
		.searchContainer {
			.searchBox {
				max-width: none;
			}
		}

		.pagination {
			padding: 2rem;
		}
	}
}
@media (width <= 500px) {
	.listWrapper {
		.pagination {
			justify-content: space-between;
			gap: 0;
		}
	}
}
