.adminPanelTemplateContainer {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100dvh;
	
	background-color: var(--pagesBgc);
	padding: 2rem;
	overflow: hidden;

	.statisticTitle {
		margin-bottom: 3rem;
		font-size: var(--textSize_26);
		font-weight: 400;
		line-height: 4rem;
		font-family: var(--font-2);
		color: var(--pagesColor);
	}
}


