.adminPanelTemplateContainer {
	
	width: 100%;
	min-height: 100dvh;
	height: 100%;
	
	background-color: var(--pagesBgc);
	padding: 2rem;

	.statisticTitle {
		margin-bottom: 3rem;
		font-size: var(--textSize_26);
		font-weight: 400;
		line-height: 4rem;
		font-family: var(--font-2);
		color: var(--pagesColor);
	}
}
