@use '../../../assets/styles/variable' as *;

.boxTitle {
	margin-bottom: 1.6rem;
	font-size: var(--textSize_14);
	font-weight: bold;
}
.formWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;

	.formInputBox {
		position: relative;
		margin-bottom: 1rem;
		label {
			display: block;
			margin-bottom: 0.5rem;
			font-weight: bold;
			font-size: 13px;
			line-height: 20px;
		}
		.formInput {
			position: relative;
			input {
				width: 100%;
				padding: var(--vspace-0_25);
				color: #000000;
				font-size: var(--textSize_16);
				font-family: var(--font-2);
				border: 1px solid var(--inputBorderColor);
				border-radius: var(--borderRadius06);
				outline: none;
				transition: all 0.3s;

				&:hover {
					box-shadow: 0px 0px 0px 2px var(--inputBoxShadowColor);
					border-color: #ffffff;
				}

				&:focus {
					box-shadow: 0px 0px 0px 2px var(--inputFocusColor);
					border-color: #ffffff;
				}
			}
		}
	}

	.profileBox {
		// position: relative;
		display: flex;
		flex-direction: row;
		width: 100%;

		span {
			flex-basis: 80%;
		}

		.avatarBox {
			position: absolute;
			top: 2rem;
			right: 2rem;
			z-index: 1;
			width: 70px;
			height: 70px;
			overflow: hidden;
			border-radius: 50%;
			cursor: pointer;
			transition: all 0.3s;

			input {
				display: none;
			}

			img {
				width: 100%;
				height: 100%;
				opacity: 1;
				object-fit: cover;
				transition: all 0.3s;
			}

			&:hover {
				box-shadow: 0px 0px 3px 3px #d3d3d3d3;

				img {
					opacity: 0.3;
				}
			}
			.image {
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;

				.uploadSVG {
					width: 35px;
					height: 35px;
					fill: var(--inputFocusColor);
				}
			}
		}
	}

	.saveChanges {
		@include formBtn($bgc: #d3d3d3d3, $color: #979797, $padding: 1rem, $cursor: not-allowed);

		align-self: flex-end;
		margin-top: 3rem;
	}
	.enabledChanges {
		color: #ffffff;

		background-color: #00684a;
		cursor: pointer;

		&:hover {
			box-shadow: 0px 0px 3px 3px #3fa588;
		}
	}
}
.topDistance {
	margin-top: 3rem;
}
