.postsContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	background-color: var(--white);

	.articleContainer {
		height: 100%;
		margin-top: var(--vspace-4);
		margin-bottom: var(--vspace-2);
		overflow: hidden;

		.articleWrapper {
			position: relative;
			max-width: 1520px;
			width: 94%;
			margin: 0 auto;
			margin-top: calc(var(--brick-padding) * -1);
			.lines {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;

				span {
					height: 100%;
					width: 1px;
					background-color: var(--color-border);
					position: absolute;
					top: 0;
					bottom: 0;
					z-index: 1;

					&:nth-child(1) {
						left: var(--line-left1);
					}
					&:nth-child(2) {
						left: var(--line-left2);
					}
					&:nth-child(3) {
						left: var(--line-left3);
					}
				}
			}
			
		}
	}

	.paginationContainer {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 3rem;
		margin-left: auto;
		margin-right: auto;
		// margin-bottom: var(--vspace-2);
		padding: var(--vspace-2) var(--gutter);
		width: 92%;

		.paginationButtons {
			display: flex;
			gap: 1rem;
		}
		.paginationBtn {
			position: relative;
			font-family: inherit;
			font-size: var(--text-Size);
			border: none;
			background-color: transparent;
			cursor: pointer;
			transition: all 0.3s;

			&:hover::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 2px;
				background-color: #000000;
			}
		}
		.paginationNumber {
			// padding: 0.4em 0.6em;
			height: 35px;
			width: 35px;
		}
		.controlBtn {
			padding: 0.4em 0;
		}

		.btnActive {
			color: #ffffff;
			background-color: #000000;
		}
	}
}

@media (max-width: 1400px) {
	.postsContainer {
		.articleContainer {
			.articleWrapper {
				.lines {
					span {
						&:nth-child(3) {
							display: none;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1100px) {
	.postsContainer {
		.articleContainer {
			.articleWrapper {
				.lines {
					span {
						&:nth-child(2) {
							display: none;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 700px) {
	.postsContainer {
		.articleContainer {
			.articleWrapper {
				.lines {
					span {
						&:nth-child(1) {
							display: none;
						}
					}
				}
			}
		}

		.paginationContainer {
			.controlBtn {
				position: absolute;
				// bottom: 10%;
				top: 0;
				&:first-child {
					left: 35%;
				}
				&:last-child {
					right: 35%;
				}
			}
		}
	}
}
