.loaderContainer {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: var(--loaderBgc);
	opacity: 1;
	visibility: visible;
	transition: 0.3s opacity ease-in-out;
	z-index: 1001;

	.loaderWrapper {
		display: flex;
		align-items: center;

		justify-content: center;
		width: 120px;
		height: 120px;

		opacity: 0;

		.roller {
			display: block;
			position: relative;
			width: 80px;
			height: 80px;

			div {
				position: absolute;
				animation: spin 2s cubic-bezier(0.1, 0, 0.5, 1) infinite;
				transform-origin: 40px 40px;
				color: red;
				// opacity: 0;

				&::after {
					content: ' ';
					display: block;
					position: absolute;
					width: 7px;
					height: 7px;
					border-radius: 50%;
					background: red;
					margin: -4px 0 0 -4px;
				}

				&:nth-child(1) {
					animation-delay: 0s;

					&::after {
						top: 63px;
						left: 63px;
					}
				}
				&:nth-child(2) {
					animation-delay: -0.1s;

					&::after {
						top: 68px;
						left: 56px;
					}
				}
				&:nth-child(3) {
					animation-delay: -0.2s;

					&::after {
						top: 71px;
						left: 48px;
					}
				}
				&:nth-child(4) {
					animation-delay: -0.3s;

					&::after {
						top: 72px;
						left: 40px;
					}
				}
				&:nth-child(5) {
					animation-delay: -0.4s;

					&::after {
						top: 71px;
						left: 32px;
					}
				}
				&:nth-child(6) {
					animation-delay: -0.5s;

					&::after {
						top: 68px;
						left: 24px;
					}
				}
				&:nth-child(7) {
					animation-delay: -0.6s;

					&::after {
						top: 63px;
						left: 17px;
					}
				}
				&:nth-child(8) {
					animation-delay: -0.7s;

					&::after {
						top: 56px;
						left: 12px;
					}
				}
			}
		}
	}
	.show {
		animation-delay: 0.3s;
		animation-duration: 0.2s;
		animation-name: in;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
	}

	.hide {
		opacity: 1;
		animation-duration: 0.2s;
		animation-name: hide;
	}
}

@keyframes spin {
  0%{
    opacity: 0;
  }
	100% {
    -webkit-transform: rotate(360deg);
		transform: rotate(360deg);
    opacity: 1;
	}
}

@keyframes in {
	100% {
		opacity: 1;
	}
}
