.formBox {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	width: 100%;
	label {
		display: block;
		margin-bottom: 0.5rem;
		font-weight: bold;
		font-size: 13px;
		line-height: 20px;
	}
	.formInput {
		position: relative;

		input {
			width: 100%;
			padding: var(--vspace-0_25);
			color: #000000;
			font-size: var(--textSize_14);
			// font-family: var(--font-2);
			border: 1px solid var(--inputBorderColor);
			border-radius: var(--borderRadius06);
			outline: none;
			transition: all 0.3s;

			&:hover {
				box-shadow: 0px 0px 0px 3px var(--inputBoxShadowColor);
			}

			&:focus {
				box-shadow: 0px 0px 0px 3px var(--inputFocusColor);
				border-color: #ffffff;
			}
		}
		
	}
}
