.addCategoryContainer {
	margin-bottom: 4rem;

	p {
		margin-bottom: 2rem;
		font-size: var(--textSize_26);
		font-weight: 400;
		line-height: 4rem;
		font-family: var(--font-2);
		color: var(--pagesColor);
	}

	.formContainer {
		.formWrapper {
			display: flex;
			flex-direction: column;
			width: 500px;
			.formInput {
				display: flex;
				flex-direction: column;
				font-family: var(--font-2);
				margin-bottom: 1rem;

				label {
					margin-bottom: 1rem;
					font-size: var(--textSize_18);
					font-weight: 500;
					color: var(--mainFormColor);
				}
				input {
					margin-bottom: 1rem;
					padding: 0.5rem;
					font-size: 1.6rem;
					background-color: var(--sideBarBgc);
					border: none;
					outline: none;
				}
			}
		}
		.successMessage {
			display: block;
			margin-bottom: 2rem;
			font-size: var(--textSize_16);
			color: #04dd00;
		}
		.errorMessage {
			display: block;
			margin-top: 1rem;
			font-size: var(--textSize_16);
			color: #ff0000;
		}
	}

	.submitBtns {
		display: flex;
		gap: 2rem;

		.submitBtn {
			background-color: var(--buttonBgcLight);
			color: var(--buttonColorDark);

			&:hover {
				color: var(--saveColor);
			}
		}
		.animate1 {
			animation: animateDot 1.4s ease-in-out 0.2s infinite;
		}
		.animate2 {
			animation: animateDot 1.4s ease-in-out 0.4s infinite;
		}
		.animate3 {
			animation: animateDot 1.4s ease-in-out 0.6s infinite;
		}
		.resetBtn {
			background-color: var(--buttonBgcLight);
			color: var(--buttonColorDark);

			&:hover {
				color: var(--resetColor);
			}
		}
	}
}

.error {
	color: var(--errorFormColor);
	font-size: var(--textSize_14);
}
.marginError {
	margin-bottom: 1rem;
}

@media (width < 1100px) {
	.addCategoryContainer {
		.formContainer {
			.formWrapper {
				width: 65%;
			}
		}
	}
}
@media (width < 900px) {
	.addCategoryContainer {
		.formContainer {
			.formWrapper {
				width: 100%;
			}
		}
	}
}
@media (width < 800px) {
	.addCategoryContainer {
		margin-top: 5rem;
	}
}
