.postFormContainer {
	display: flex;
	width: 100%;
	min-height: 100dvh;
	color: var(--mainFormColor);
	.postFormControllersWrapper {
		padding: 2rem;
		border-right: 1px solid var(--mainFormBgc);
		.postFormControllers {
			position: sticky;
			top: 1rem;
			display: flex;
			flex-direction: column;
			gap: 1rem;

			.postFormBtns {
				padding: 1rem 0.5em;
				color: var(--sideBarMainColor);
				background-color: var(--mainFormBgc);
				font-size: var(--textSize_12);
				border-radius: var(--borderRadius04);
				border: none;
				text-transform: uppercase;
				transition: all 0.3s;
				cursor: pointer;

				&:hover {
					color: var(--mainFormBgc);
					background-color: var(--sideBarMainColor);
				}
			}
		}
	}

	// FORM -------
	.formContainer {
		width: 100%;
		padding: 2rem;
		margin-bottom: 4rem;
		.formWrapper {
			display: flex;
			flex-direction: row;

			.formFlex {
				display: flex;
				flex-direction: column;
				padding-right: 4rem;
				gap: 1rem;
				width: 100%;

				.fileContainer {
					display: flex;
					flex-direction: column;
					// width: 300px;

					label {
						font-family: var(--font-2);
						font-size: 2rem;
						font-weight: 500;
						margin-bottom: 1rem;
					}
					.previewImage {
						display: flex;
						margin-bottom: 0.5rem;
						padding: 2rem;
						height: 20dvw;
						width: 100%;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
					.imageBox {
						max-width: 100%;
						display: flex;
						gap: 2rem;
					}
				}

				div {
					position: relative;
					// Delete fields button
					.deleteBtnWrapper {
						display: flex;
						align-items: center;
						justify-content: center;
						position: absolute;
						right: 0;
						top: 0;
						width: 30px;
						height: 30px;

						.icon {
							color: var(--errorFormColor);
							border: 1px solid var(--errorFormColor);
							border-radius: 50%;
							cursor: pointer;
							transition: all 0.3s;
							&:hover {
								scale: 1.1;
							}
						}
					}
				}
			}

			// FORM OPTIONS

			.formOptionsContainer {
				width: 30%;

				.formOptionsWrapper {
					position: sticky;
					top: 1rem;
					display: flex;
					flex-direction: column;
					gap: 1rem;

					// FORM CATEGORIES
					.categoriesContainer {
						display: flex;
						flex-direction: column;
						// gap: 2rem;
						.selectedCategoriesContainer {
							display: flex;
							flex-direction: column;
							gap: 1rem;
							.selectedCategoriesTitle {
								font-size: var(--textSize_20);
								font-family: var(--font-2);
								font-weight: 500;
							}
							.selectedCategories {
								margin: 1rem 0;
								display: flex;
								flex-wrap: wrap;
								span {
									margin-right: 1rem;
									margin-bottom: 1rem;
									padding: 0.5em;
									color: var(--sideBarMainColor);
									background-color: var(--mainFormBgc);
									font-size: var(--textSize_16);
									border-radius: var(--borderRadius04);
								}
							}
						}
						.categoriesOptions {
							display: flex;
							flex-direction: column;
							gap: 1rem;

							label {
								padding: 0.3rem 0;
								border-right: 1px solid var(--mainFormBgc);
								font-size: 1.6rem;
								cursor: pointer;
								transition: all .3s;
								&:hover {
									color: var(--categoryOptionHover);
									
								}

								input {
									margin-right: 0.5rem;
								}
							}
						}
						.categoryMargin{
							margin-top: 1rem;
						}
					}

					// FORM SEO

					.seoContainer {
						.seoTitle {
							margin: 1rem 0;
							font-size: var(--textSize_20);
							font-family: var(--font-2);
							font-weight: 500;
						}
					}

					// FORM STATUS
					.statusContainer {
						display: flex;
						align-items: center;
						.statusTitle {
							font-family: var(--font-2);
							font-size: 2rem;
							font-weight: 500;
							margin-right: 1rem;
						}
						.statusSelect {
							cursor: pointer;
							padding: 0.5rem;
							font-size: var(--textSize_16);
							border: none;
							background-color: var(--mainFormBgc);
							color:var(--sideBarMainColor);
							width: 100%;
							appearance: none;
							-moz-appearance: none;
							-webkit-appearance: none;

							background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
							background-repeat: no-repeat;
							background-position: right 10px center;
							background-size: 16px;
							border-radius: var(--borderRadius04);
							option {
								width: 80%;
								
							}
						}
					}
				}
			}
		}
	}

	.submitBtns {
		display: flex;
		gap: 2rem;
		margin-top: 3rem;

		
		.submitBtn {
			background-color: var(--createFormBgc);

			&:hover {
				color: var(--buttonColorHover);
				background-color: var(--createFormBgcHover);
			}
		}
		.animate1 {
			animation: animateDot 1.4s ease-in-out 0.2s infinite;
		}
		.animate2 {
			animation: animateDot 1.4s ease-in-out 0.4s infinite;
		}
		.animate3 {
			animation: animateDot 1.4s ease-in-out 0.6s infinite;
		}
		.resetBtn {
			background-color: var(--resetFormBgc);
			&:hover {
				color: var(--buttonColorHover);
				background-color: var(--resetFormHoverBgc);
			}
		}
		.clearAllBtn {
			background-color: var(--clearFormBgc);
			&:hover {
				color: var(--buttonColorHover);
				background-color: var(--clearFormHoverBgc);
			}
		}
	}
}
.textAreaContainer,
.formInput {
	display: flex;
	flex-direction: column;
	font-family: var(--font-2);
	margin-bottom: 1rem;
	width: 100%;
	
	label {
		margin-bottom: 1rem;
		font-size: var(--textSize_20);
		font-weight: 500;
	}
}
.formInput {
	input {
		margin-bottom: 1rem;
		padding: 1rem;
		
		font-size: var(--textSize_14);
		background-color: var(--mainFormBgc);
		border: none;
		border-radius: var(--borderRadius04);
		outline: none;
	}
}
.textAreaContainer {
	height: 100%;
	textarea {
		field-sizing: content;
		min-height: 150px;
		margin-bottom: 1rem;
		padding: 1rem;
		font-size: var(--textSize_14);
		
		
		background-color: var(--mainFormBgc);
		border: none;
		border-radius: var(--borderRadius04);
		outline: none;
	}
}

.error {
	color: var(--errorFormColor);
	font-size: var(--textSize_12);
}
.marginError {
	margin-bottom: 1rem;
}

.updateContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100dvh;
	background-color: var(--pagesBgc);

	.updateWrapper {
		display: flex;
		justify-content: center;
		padding: var(--vspace-0_5);
		margin-top: 10rem;

		width: 100%;
		max-width: 600px;
		height: 600px;
		background-color: var(--mainFormBgc);
		border-radius: 12px;
	}
}

@media (width <= 1100px) {
	.postFormContainer {
		.formContainer {
			padding: 2rem;
			.formWrapper {
				display: flex;
				flex-direction: column;
				.formFlex {
					padding-right: 0;

					.fileContainer {
						.previewImage {
							height: 30dvw;
						}
					}
				}
				.formOptionsContainer {
					width: 100%;
					margin: 2rem 0;
					.formOptionsWrapper {
						.categoriesContainer {
							.categoriesOptions {
								flex-direction: row;
								flex-wrap: wrap;

								label {
									padding-right: 1rem;

									&:last-child {
										border: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (width <= 900px) {
	.postFormContainer {
		flex-direction: column;

		.postFormControllersWrapper {
			border-right: none;
		}
	}
}
@media (width <= 700px) {
	.postFormContainer {
		flex-direction: row;

		.postFormControllersWrapper {
			padding: 2rem 1rem 1rem;
			border-right: 1px solid var(--mainFormBgc);
			.postFormControllers {
				.postFormBtns {
					font-size: var(--textSize_10);

					width: 40px;
					height: 40px;
				}
			}
		}

		// FORM ----
		.formContainer {
			padding: 2rem;

			.formWrapper {
				.formFlex {
					.fileContainer {
						.previewImage {
							height: 40dvw;
						}
					}
				}
			}
		}
	}
}
@media (width <= 600px) {
	.postFormContainer {
		.postFormControllersWrapper {
			.postFormControllers {
				.postFormBtns {
					padding: 0.75rem 0.5em;
				}
			}
		}

		// FORM ----
		.formContainer {
			.formWrapper {
				.formFlex {
					.fileContainer {
						.imageBox {
							flex-direction: column;
							gap: 0;
						}
					}
				}
			}
		}
	}
}

@keyframes animateDot {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
