.postFormContainer {
	display: flex;
	width: 100%;
	min-height: 100dvh;
	max-width: 1300px;
	color: var(--textColor);
	.postFormControllersWrapper {
		padding: 2rem;
		border-right: 1px solid var(--lightGrayColor);
		.postFormControllers {
			position: sticky;
			top: 1rem;
			display: flex;
			flex-direction: column;
			gap: 1rem;

			.postFormBtns {
				padding: 1rem 0.5em;
				color: var(--darkColor);
				background-color: var(--whiteColor);
				font-size: var(--textSize_12);
				border-radius: var(--borderRadius04);
				border: none;

				text-transform: uppercase;
				transition: all 0.3s;
				cursor: pointer;

				&:hover {
					color: var(--mainColor);
				}
			}
		}
	}

	// FORM -------
	.formContainer {
		width: 100%;
		padding: 2rem;
		margin-bottom: 4rem;
		.formWrapper {
			display: flex;
			flex-direction: row;

			.formFlex {
				display: flex;
				flex-direction: column;
				padding-right: 4rem;
				gap: 1rem;
				width: 100%;

				.fileWrapper {
					display: flex;
					flex-direction: column;
					.fileTitle {
						font-family: var(--font-2);
						font-size: 2rem;
						font-weight: 500;
						margin-bottom: 1rem;
					}

					.uploadFile {
						position: relative;
						display: flex;
						width: 100%;
						height: 20dvw;
						margin-bottom: 1.5rem;
						border-radius: var(--borderRadius06);
						overflow: hidden;
						transition: all 0.3s;
						background-color: var(--whiteColor);
						box-shadow: 0px 0px 0px 2px var(--lightGrayColor);

						&:hover {
							box-shadow: 0px 0px 0px 2px var(--mainColor);
						}
						.previewImage {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
						.uploadFileShadow {
							position: absolute;
							top: 0;
							left: 0;
							display: flex;
							align-items: center;
							justify-content: center;
							width: 100%;
							height: 100%;
							cursor: pointer;
							svg {
								width: 80px;
								height: 80px;
								fill: var(--lightGrayColor);
								transition: all 0.3s;
							}
							&:hover {
								svg {
									fill: var(--mainColor);
								}
							}
						}
					}
					.uploadFilled {
						box-shadow: none;
					}
					.imageBox {
						display: flex;
						flex-direction: row;
						gap: 2rem;
						max-width: 100%;
					}
					.fileInput {
						display: none;
					}
				}

				.fieldBox {
					position: relative;

					// Delete fields button
					.deleteBtnWrapper {
						display: flex;
						align-items: center;
						justify-content: center;
						position: absolute;
						right: 0;
						top: 0;
						width: 30px;
						height: 30px;

						.icon {
							color: var(--errorColor);
							width: 20px;
							height: 20px;
							cursor: pointer;
							transition: all 0.3s;

							&:hover {
								scale: 1.1;
							}
						}
					}
				}
			}

			// FORM OPTIONS

			.formOptionsContainer {
				width: 40%;

				.formOptionsWrapper {
					position: sticky;
					top: 1rem;
					display: flex;
					flex-direction: column;
					gap: 1rem;

					// FORM CATEGORIES
					.categoriesContainer {
						display: flex;
						flex-direction: column;
						// gap: 2rem;
						.selectedCategoriesContainer {
							display: flex;
							flex-direction: column;
							gap: 1rem;
							.selectedCategoriesTitle {
								font-size: var(--textSize_20);
								font-family: var(--font-2);
								font-weight: 500;
							}
							.selectedCategories {
								margin: 1rem 0;
								display: flex;
								flex-wrap: wrap;
								span {
									margin-right: 1rem;
									margin-bottom: 1rem;
									padding: var(--vspace-0_25);
									color: var(--textColor);
									font-size: var(--textSize_16);
									border-radius: var(--borderRadius04);
									background-color: var(--whiteColor);
									// box-shadow: 0px 0px 0px 2px var(--lightGrayColor);
									transition: all 0.3s;
									cursor: pointer;
									&:hover {
										box-shadow: 0px 0px 0px 2px var(--mainColor);
									}
								}
							}
						}
						.categoriesOptions {
							display: flex;
							flex-direction: column;
							gap: 1rem;

							.checkbox {
								display: flex;
								align-items: center;
								gap: 1rem;
								padding: 0.3rem 0;
								border-right: 1px solid var(--lightGrayColor);
								font-size: 1.6rem;
								cursor: pointer;
								transition: all 0.3s;
								&:hover {
									color: var(--mainColor);
								}

								input {
									display: none;
								}
							}
						}
						.categoryMargin {
							margin-top: 1rem;
						}
					}

					// FORM SEO

					.seoContainer {
						.seoTitle {
							margin: 1rem 0;
							font-size: var(--textSize_20);
							font-family: var(--font-2);
							font-weight: 500;
						}
					}

					// FORM STATUS
					.selectContainer {
						display: flex;
						align-items: center;
						.selectTitle {
							font-family: var(--font-2);
							font-size: 2rem;
							font-weight: 500;
							margin-right: 1rem;
						}
						.selectOption {
							appearance: none;
							-moz-appearance: none;
							-webkit-appearance: none;
							width: 100%;
							padding: var(--vspace-0_25);
							color: var(--textColor);
							background-color: var(--whiteColor);
							font-size: var(--textSize_16);
							border: 1px solid var(--lightGrayColor);
							border-radius: var(--borderRadius06);
							background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
							background-repeat: no-repeat;
							background-position: right 10px center;
							background-size: 16px;
							outline: none;
							cursor: pointer;

							&:hover {
								box-shadow: 0px 0px 0px 2px var(--lightGrayColor);
								border-color: var(--whiteColor);
							}

							&:focus {
								box-shadow: 0px 0px 0px 2px var(--mainColor);
								border-color: var(--whiteColor);
							}
							option {
								width: 80%;
							}
						}
					}
				}
			}
		}
	}

	.submitBtns {
		display: flex;
		gap: 2rem;
		margin-top: 3rem;
		flex-wrap: wrap;

		.submitBtn {
			display: flex;
			align-self: flex-start;
			color: var(--darkColor);
			background-color: var(--lightGrayColor);
			cursor: not-allowed;
		}
		.save {
			color: var(--whiteColor);
			background-color: var(--mainColor);
			cursor: pointer;

			&:hover {
				background-color: var(--mainColorHover);
			}
		}
		.animate1 {
			animation: animateDot 1.4s ease-in-out 0.2s infinite;
		}
		.animate2 {
			animation: animateDot 1.4s ease-in-out 0.4s infinite;
		}
		.animate3 {
			animation: animateDot 1.4s ease-in-out 0.6s infinite;
		}

		.clearButton {
			transition: all 0.3s;
			color: var(--darkColor);
			background-color: var(--lightGrayColor);
			&:hover {
				color: var(--whiteColor);
				background-color: var(--clearButtonBgc);
			}
		}
		.clearAllBtn {
			color: var(--darkColor);
			background-color: var(--lightGrayColor);

			&:hover {
				color: var(--whiteColor);
				background-color: var(--clearAllButtonBgc);
			}
		}
		.cancelUpdate {
			display: flex;
			align-items: center;
			padding: 1rem 2.5rem;
			font-size: var(--textSize_18);
			border: none;
			color: var(--darkColor);
			background-color: var(--lightGrayColor);

			border-radius: var(--borderRadius04);
			transition: all 0.3s;
			cursor: pointer;

			&:hover {
				color: var(--whiteColor);
				background-color: var(--cancelButtonBgc);
			}
		}

		.isSubmitting {
			background-color: var(--lightGrayColor);
			color: var(--darkColor);
			cursor: not-allowed;

			&:hover {
				color: var(--darkColor);
				background-color: var(--lightGrayColor);
			}
		}
	}

	.updateWrapper {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		width: 100%;
		height: 100%;
		padding: 2rem;
		z-index: 2000;
		
		background-color: var(--popupBgcOpacity);

		.updateBox {
			position: sticky;
			top: 30%;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: var(--vspace-0_75);
			width: 100%;
			max-width: 500px;
			height: 100%;
			max-height: 200px;
			background-color: var(--whiteColor);
			border-radius: var(--borderRadius06);

			.updateInfo {
				margin-top: 4rem;
				color: var(--mainColor);
			}
			.updatePostLink {
				margin-top: 4rem;
				margin-bottom: 2rem;
				padding: 1rem 2rem;
				transition: all 0.3s;
				border-radius: var(--borderRadius06);

				color: var(--whiteColor);
				background-color: var(--mainColor);

				&:hover {
					background-color: var(--mainColorHover);
				}
			}
		}
	}
}

.formInputBox {
	display: flex;
	flex-direction: column;
	font-family: var(--font-2);
	margin-bottom: 1rem;
	width: 100%;

	label {
		margin-bottom: 1rem;
		font-size: var(--textSize_20);
		font-weight: 500;
	}
	.formInput {
		margin-bottom: 1rem;
		input {
			width: 100%;
			padding: var(--vspace-0_25);
			color: var(--textColor);
			font-size: var(--textSize_16);
			font-family: var(--font-2);
			border: 1px solid var(--lightGrayColor);
			border-radius: var(--borderRadius06);
			outline: none;
			transition: all 0.3s;

			&:hover {
				box-shadow: 0px 0px 0px 2px var(--lightGrayColor);
				border-color: var(--whiteColor);
			}

			&:focus {
				box-shadow: 0px 0px 0px 2px var(--mainColor);
				border-color: var(--whiteColor);
			}
		}
	}
}

.textAreaContainer {
	display: flex;
	flex-direction: column;
	font-family: var(--font-2);
	margin-bottom: 1rem;

	label {
		margin-bottom: 1rem;
		font-size: var(--textSize_20);
		font-weight: 500;
	}
	.textareaWrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		border-radius: var(--borderRadius06);
		border: 1px solid var(--lightGrayColor);
		background-color: var(--whiteColor);
		transition: all 0.3s;
		overflow: hidden;

		textarea {
			field-sizing: content;
			resize: vertical;
			min-height: 150px;
			width: 100%;
			max-width: 1150px;
			padding: var(--vspace-0_25) var(--vspace-0_25) 3rem;
			color: var(--textColor);
			line-height: var(--textLineHeight);
			font-size: var(--textSize_16);
			font-family: var(--font-2);
			border: none;
			outline: none;
			overflow: auto;
			transition:
				border-color 0.3s,
				box-shadow 0.3s;
		}
		&:hover {
			box-shadow: 0px 0px 0px 2px var(--lightGrayColor);
			border-color: var(--whiteColor);
		}
	}
	.focusArea {
		&:hover {
			box-shadow: 0px 0px 0px 2px var(--mainColor);
		}
	}
}
.error {
	color: var(--errorColor);
	font-size: var(--textSize_12);
}
.marginError {
	margin-bottom: 1rem;
}

.progressWrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 16px;
	width: 100%;
	background-color: #00a73826;
	z-index: 2000;
	transition: width 0.3s ease;
	.progress {
		position: relative;
		height: 100%;
		background-image: linear-gradient(to right, #89ffad, #6bd082, #4da259, #307734, #104f10);
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;

		.progressInfo {
			position: absolute;
			top: 0%;
			right: 1rem;
			height: 100%;
			color: var(--whiteColor);
			font-size: var(--textSize_14);
		}
	}
}

@media (width <= 1300px) {
	.postFormContainer {
		.formContainer {
			.formWrapper {
				flex-direction: column;
				.formFlex {
					padding-right: 0;

					.fileWrapper {
						.uploadFile {
							height: 25dvw;
						}
					}
				}
				.formOptionsContainer {
					width: 100%;
					margin: 2rem 0;
					.formOptionsWrapper {
						.categoriesContainer {
							.categoriesOptions {
								flex-direction: row;
								flex-wrap: wrap;

								.checkbox {
									padding-right: 1rem;

									&:last-child {
										border: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (width <= 900px) {
	.postFormContainer {
		flex-direction: column;

		.postFormControllersWrapper {
			border-right: none;
		}
	}
}
@media (max-width: 800px) {
	.postFormContainer {
		padding-top: 5.5rem;

		.postFormControllersWrapper {
			.postFormControllers {
				top: 7rem;
			}
		}
	}
}
@media (width <= 700px) {
	.postFormContainer {
		flex-direction: row;

		.postFormControllersWrapper {
			padding: 2rem 1rem 1rem;
			border-right: 1px solid var(--lightGrayColor);
			.postFormControllers {
				.postFormBtns {
					font-size: var(--textSize_10);
					width: 40px;
					height: 40px;
				}
			}
		}

		// FORM ----
		.formContainer {
			padding: 2rem;

			.formWrapper {
				.formFlex {
					.fileWrapper {
						.uploadFile {
							height: 30dvw;
						}
					}
				}
			}
		}
	}
}
@media (width <= 600px) {
	.postFormContainer {
		.postFormControllersWrapper {
			.postFormControllers {
				.postFormBtns {
					padding: 0.75rem 0.5em;
				}
			}
		}

		// FORM ----
		.formContainer {
			.formWrapper {
				.formFlex {
					.fileWrapper {
						.uploadFile {
							.uploadFileShadow {
								svg {
									height: 50px;
									width: 50px;
								}
							}
						}
						.imageBox {
							flex-direction: column;
							gap: 0;
						}
					}
				}
			}
		}
	}
}

@keyframes animateDot {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
