@use '../../../assets/styles/variable' as *;
.resetPasswordContainer {
	.title {
		margin-block: 2rem;
		font-size: var(--textSize_26);
		font-weight: 400;
		line-height: 4rem;
		font-family: var(--font-2);
		color: var(--pagesColor);
	}

	.boxTitle {
		margin-bottom: 1.6rem;
		font-size: var(--textSize_14);
		font-weight: bold;
	}
	.formContainer {
		display: flex;
		flex-direction: column;
		width: 100%;

		.switchVisibility {
			position: absolute;
			top: 50%;
			right: 3%;
			transform: translateY(-50%);
			display: flex;
			justify-content: center;
			align-items: center;
			width: 20px;
			height: 20px;
			background-color: transparent;
			border: none;
			cursor: pointer;

			svg {
				width: 20px;
				height: 15px;
				path {
					stroke: #889397;
				}
			}
		}
		.displayVisibility {
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 3px;
				height: 100%;
				transform: rotate(45deg);
				border-left: 1px solid #ffffff;
				background-color: #889397;
			}
		}

		.newPasswordInfo {
			margin-top: 0.5rem;
			font-size: 13px;

			li {
				display: flex;
				align-items: center;
				list-style: none;
				color: #889397;
				line-height: 20px;

				.checkSVG {
					width: 14px;
					height: 14px;
					margin-right: 0.3rem;
					path {
						fill: #889397;
					}
				}
			}
			.highlightLi {
				span {
					color: rgb(0, 255, 0);
				}
				.checkSVG {
					path {
						fill: rgb(0, 255, 0);
					}
				}
			}
			.errorLi {
				span {
					color: #ff0000;
				}
				.checkSVG {
					path {
						fill: #ff0000;
					}
				}
			}
		}

		.formBtns {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-top: 3rem;
			gap: 1rem;

			.saveChanges {
				@include formBtn($padding: 1rem, $bgc: #d3d3d3d3, $color: #979797, $cursor: not-allowed);
			}
			.enabledChanges {
				color: #ffffff;
				cursor: pointer;
				background-color: #00684a;

				&:hover {
					box-shadow: 0px 0px 3px 3px #3fa588;
				}
			}
			.cancelReset {
				@include formBtn($padding: 1rem, $bgc: transparent, $color: #000000);
				border: 1px solid #000000;

				&:hover {
					box-shadow: 0px 0px 3px 3px #d3d3d3d3;
				}
			}
		}
	}
}
