@use '../../../assets/styles/variable' as *;

.boxTitle {
	margin-bottom: 1.6rem;
	font-size: var(--textSize_14);
	font-weight: bold;
}
.formWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;

	.formInputBox {
		position: relative;
		margin-bottom: 1rem;
		label {
			display: block;
			margin-bottom: 0.5rem;
			font-weight: bold;
			font-size: 13px;
			line-height: 20px;
		}
		.formInput {
			position: relative;
			input {
				width: 100%;
				padding: var(--vspace-0_25);
				color: var(--textColor);
				font-size: var(--textSize_16);
				font-family: var(--font-2);
				border: 1px solid var(--lightGrayColor);
				border-radius: var(--borderRadius06);
				outline: none;
				transition: all 0.3s;

				&:hover {
					box-shadow: 0px 0px 0px 2px var(--lightGrayColor);
					border-color: var(--whiteColor);
				}

				&:focus {
					box-shadow: 0px 0px 0px 2px var(--mainColor);
					border-color: var(--whiteColor);
				}
			}
		}
	}

	.newPasswordInfo {
		margin-top: 0.5rem;
		font-size: 13px;

		li {
			display: flex;
			align-items: center;
			list-style: none;
			color: #889397;
			line-height: 20px;

			.checkSVG {
				width: 14px;
				height: 14px;
				margin-right: 0.3rem;
				path {
					fill: #889397;
				}
			}
		}
		.highlightLi {
			span {
				color: var(--mainColor);
			}
			.checkSVG {
				path {
					fill: var(--mainColor);
				}
			}
		}
		.errorLi {
			span {
				color: var(--errorColor);
			}
			.checkSVG {
				path {
					fill: var(--errorColor);
				}
			}
		}
	}

	.formBtns {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 3rem;
		gap: 1rem;

		.saveChanges {
			@include formBtn($padding: 1rem, $bgc: var(--lightGrayColor), $color: #979797, $cursor: not-allowed);
		}
		.enabledChanges {
			color: var(--whiteColor);
			cursor: pointer;
			background-color: var(--mainColor);

			&:hover {
				background-color: var(--mainColorHover);
			}
		}
		.cancelReset {
			@include formBtn($padding: 1rem, $bgc: transparent, $color: var(--blackColor));
			border: 1px solid var(--blackColor);

			&:hover {
				box-shadow: 0px 0px 3px 3px var(--lightGrayColor);
			}
		}
	}
}
