.container {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: var(--headerHeight);
	align-items: center;
	background-color: var(--Bgc-navTransparent);
	border-bottom: 1px solid var(--borderBottom);
	z-index: 1100;
	transition: all 0.3s ease-in-out;
	.logo {
		position: absolute;
		margin: 0;
		top: 50%;
		left: 2.5rem;
		transform: translateY(-50%);
		height: 60px;
		width: auto;
		background-color: transparent;
		z-index: 101;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			transition: all 0.3s ease-in-out;
			&:hover {
				scale: 1.05;
			}
		}
	}

	.panel {
		position: absolute;
		display: flex;
		align-items: center;
		gap: 2rem;
		right: var(--panelRight);

		.controlPanelContainer {
			position: relative;
			height: 100%;
			transition: all 0.3s ease-in-out;

			.signInBtn {
				font-size: var(--menu-TextSize);
				font-weight: 600;
				font-family: var(--fontFamily);
				color: var(--menu-textColor);
				background-color: transparent;
				border: none;
				cursor: pointer;
				transition: all 0.3s ease-in-out;
				&:hover {
					color: var(--closeBtn-ColorHover);
				}
			}

			.controlContainer {
				position: absolute;
				top: var(--controllContainerTop);
				right: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-evenly;
				width: 250px;
				min-height: 300px;
				height: 100%;
				background-color: var(--Bgc-desktopPanel);
				transition: all 0.3s ease-in-out;
				visibility: hidden;
				opacity: 0;
				transform-origin: top;
				transform: scaleY(0);
				overflow: hidden;

				.anchorLink {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 40px;
					font-size: var(--menu-TextSize);
					color: #ffffff;
					background-color: var(--bgcBlack);
					transition: all 0.3s;

					&:hover {
						color: #ffffff;
						background-color: var(--bgcLightBlack);
					}
				}
				.signUpContainer {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 100%;
					.signUpSpan {
						margin: 3rem 0;
						font-size: 16px;
						color: var(--color-text-light);
					}
				}
			}

			.authorInfo {
				display: flex;
				align-items: center;
				cursor: pointer;

				position: relative;

				.authorAvatar {
					background-color: #fff;
					width: 40px;
					height: 40px;

					border-radius: 50%;
				}

				.author {
					display: none;
				}
			}
			.controlSettings {
				position: absolute;
				top: var(--controllSettingsTop);
				right: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding-top: 3rem;
				width: 250px;
				// height: 100%;
				min-height: 300px;
				max-height: 300px;
				background-color: var(--Bgc-desktopPanel);
				transition: all 0.3s ease-in-out;
				visibility: hidden;
				opacity: 0;
				transform-origin: top;
				transform: scaleY(0);
				overflow-y: auto;

				.controlLinks {
					width: 100%;
					height: 100%;
					text-align: center;
					white-space: nowrap;
					line-height: 40px;
					color: var(--blackColor);
					border-top: 1px solid black;
					font-size: var(--subMenu-TextSize);
					font-weight: 400;
					transition: all 0.3s ease-in-out;
					&:hover {
						color: var(--white);
						background-color: var(--bgcBlack);
					}
					&:last-of-type {
						border-bottom: 1px solid var(--bgcBlack);
					}
				}

				.signOut {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					margin-top: auto;

					width: 100%;
					line-height: 40px;
					max-height: 40px;
					font-size: var(--menu-TextSize);
					border: none;
					color: #ffffff;
					background-color: var(--bgcBlack);
					transition: all 0.3s;
					cursor: pointer;

					&:hover {
						color: #ffffff;
						background-color: var(--bgcLightBlack);
					}
				}
			}

			.controlSettings::-webkit-scrollbar {
				width: 5px; /* szerokość paska */
			}

			.controlSettings::-webkit-scrollbar-thumb {
				background-color: #000000;
			}

			/* tło toru przewijania */
			.controlSettings::-webkit-scrollbar-track {
				background-color: #e0e0e0;
			}

			.displayVisibility {
				visibility: visible;
				opacity: 1;

				transform: scaleY(1);
			}
		}
	}
}
.bgcNavBlack {
	background-color: var(--Bgc-navBlack);
}

@media (max-width: 900px) {
	.container {
		.panel {
			right: calc(4rem + 5rem);
		}
	}
}
@media (max-width: 600px) {
	.container {
		.panel {
			right: calc(4rem + 4rem);
		}
	}
}
