.container {
	--header-height: 8.8rem;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: var(--header-height);
	align-items: center;
	background-color: var(--Bgc-navTransparent);
	border-bottom: 1px solid var(--borderBottom);
	z-index: 1100;
	transition: all .3s ease-in-out ;
	
	.showHide {
		display: flex;
	}
	.fadeIn {
		transform: translateX(0);
		opacity: 1;
		visibility: visible;
	}

}
.bgcNavBlack{
	background-color: var(--Bgc-navBlack);
}
