.navContainer {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: var(--headerHeight);
	align-items: center;
	background-color: var(--Bgc-navTransparent);
	border-bottom: 1px solid var(--borderBottomColor);
	z-index: 1100;
	transition: all 0.3s ease-in-out;
	.logo {
		position: absolute;
		margin: 0;
		top: 50%;
		left: 2.5rem;
		transform: translateY(-50%);
		height: 60px;
		width: auto;
		background-color: transparent;
		z-index: 101;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			transition: all 0.3s ease-in-out;
			&:hover {
				scale: 1.05;
			}
		}
	}

	.navPanel {
		position: absolute;
		display: flex;
		align-items: center;
		gap: 2rem;
		right: var(--panelRight);

		.navPanelWrapper {
			height: 100%;
			.signInWrapper {
				height: 100%;
				transition: all 0.3s ease-in-out;
				position: relative;
				.signInBtn {
					font-size: var(--menu-TextSize);
					font-weight: 600;
					font-family: var(--fontFamily);
					color: var(--whiteColor);
					background-color: transparent;
					border: none;
					cursor: pointer;
					transition: all 0.3s ease-in-out;
					&:hover {
						color: var(--lightGrayColor);
					}
				}

				.linksWrapper {
					position: absolute;
					top: var(--controllContainerTop);
					right: 0;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-evenly;
					width: 250px;
					min-height: 300px;
					height: 100%;
					background-color: var(--desktopPanelColor);
					transition: all 0.3s ease-in-out;
					visibility: hidden;
					opacity: 0;
					transform-origin: top;
					transform: scaleY(0);
					overflow: hidden;

					.anchorLink {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 100%;
						height: 40px;
						font-size: var(--menu-TextSize);
						color: var(--whiteColor);
						background-color: var(--blackColor);
						transition: all 0.3s;

						&:hover {
							color: var(--whiteColor);
							background-color: var(--blackColorHover);
						}
					}
					.signUpWrapper {
						display: flex;
						flex-direction: column;
						align-items: center;
						width: 100%;
						.signUpSpan {
							margin: 3rem 0;
							font-size: 16px;
							color: var(--color-text-light);
						}
					}
				}
				.displayVisibility {
					visibility: visible;
					opacity: 1;

					transform: scaleY(1);
				}
			}

			.controlPanelUser {
				position: relative;

				.authorInfo {
					display: flex;
					align-items: center;
					cursor: pointer;

					position: relative;

					.authorAvatar {
						background-color: var(--whiteColor);
						width: 40px;
						height: 40px;

						border-radius: 50%;
					}

					.author {
						display: none;
					}
				}

				.controlSettings {
					position: absolute;
					top: var(--controllSettingsTop);
					right: 0;
					display: flex;
					flex-direction: column;
					align-items: center;
					padding-top: 3rem;
					width: 250px;
					// height: 100%;
					min-height: 300px;
					max-height: 300px;
					background-color: var(--desktopPanelColor);
					transition: all 0.3s ease-in-out;
					visibility: hidden;
					opacity: 0;
					transform-origin: top;
					transform: scaleY(0);
					overflow-y: auto;

					.controlLinks {
						width: 100%;
						height: 100%;
						text-align: center;
						white-space: nowrap;
						line-height: 40px;
						color: var(--blackColor);
						border-top: 1px solid black;
						font-size: var(--subMenu-TextSize);
						font-weight: 400;
						transition: all 0.3s ease-in-out;
						&:hover {
							color: var(--whiteColor);
							background-color: var(--blackColor);
						}
						&:last-of-type {
							border-bottom: 1px solid var(--blackColor);
						}
					}

					.signOut {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						margin-top: auto;

						width: 100%;
						line-height: 40px;
						max-height: 40px;
						font-size: var(--menu-TextSize);
						border: none;
						color: var(--whiteColor);
						background-color: var(--blackColor);
						transition: all 0.3s;
						cursor: pointer;

						&:hover {
							color: var(--whiteColor);
							background-color: var(--blackColorHover);
						}
					}
				}
				.displayVisibility {
					visibility: visible;
					opacity: 1;

					transform: scaleY(1);
				}
			}

			.controlSettings::-webkit-scrollbar {
				width: 5px; /* szerokość paska */
			}

			.controlSettings::-webkit-scrollbar-thumb {
				background-color: #000000;
			}

			/* tło toru przewijania */
			.controlSettings::-webkit-scrollbar-track {
				background-color: #e0e0e0;
			}

			
		}
	}
}
.bgcNavBlack {
	background-color: var(--blackColor);
}
