@use '../../assets/styles/variable' as *;

.container {
	--header-height: 8.8rem;
	display: flex;
	// justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: var(--header-height);
	align-items: center;
	// background-color: transparent;
	background-color: var(--Bgc-nav);
	border-bottom: 1px solid var(--border-bottom);
	z-index: 1000;
	
	
}
