.container {
	--header-height: 8.8rem;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: var(--header-height);
	align-items: center;
	background-color: var(--Bgc-navTransparent);
	border-bottom: 1px solid var(--borderBottom);
	z-index: 1100;
	transition: all 0.3s ease-in-out;

	.showHide {
		display: flex;
	}
	.fadeIn {
		transform: translateX(0);
		opacity: 1;
		visibility: visible;
	}
	.panel {
		position: absolute;
		display: flex;
		align-items: center;
		gap: 2rem;
		right: 7rem;

		.controlPanelContainer {
			position: relative;

			transition: all 0.3s ease-in-out;
			// overflow: hidden;

			.signInBtn {
				font-size: var(--menu-TextSize);
				font-weight: 600;
				font-family: var(--fontFamily);
				color: var(--menu-textColor);
				background-color: transparent;
				border: none;
				cursor: pointer;
				transition: all 0.3s ease-in-out;
				&:hover {
					color: var(--closeBtn-ColorHover);
				}
			}
			.controlContainer {
				position: absolute;
				top: 150%;
				right: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-evenly;
				width: 250px;
				height: 300px;
				background-color: #ffffff;
				// transform: translateX(200%);

				.anchorLink {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 40px;
					font-size: var(--menu-TextSize);
					color: #ffffff;
					background-color: #000000;
					transition: all 0.3s;

					&:hover {
						color: #ffffff;
						background-color: var(--btn-color-hover);
					}
				}
				.signUpContainer {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 100%;
					.signUpSpan {
						margin: 3rem 0;
						font-size: 16px;
						color: var(--color-text-light);
					}
				}
			}
			.authorInfo {
				padding-left: 2rem;
				.authorAvatar {
				}
				.author {
					font-size: var(--menu-TextSize);
					font-weight: 600;
					color: var(--menu-textColor);
					background-color: transparent;
					cursor: pointer;
				}
			}
			.controlSettings {
				position: absolute;
				top: 150%;
				right: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding-top: 3rem;
				width: 250px;
				height: 300px;
				background-color: #ffffff;
				// transform: translateX(200%);
				.controlLinks {
					width: 100%;
					text-align: center;
					white-space: nowrap;
					line-height: 40px;
					color: var(--black);
					font-size: var(--subMenu-TextSize);
					font-weight: 400;
					transition: all 0.3s ease-in-out;
					&:hover {
						color: var(--white);
						background-color: var(--black);
					}
				}
				.signOut {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					
					
					
					margin-top: auto;
					height: 100%;
					width: 100%;
					max-height: 40px;
					font-size: var(--menu-TextSize);
					border: none;
					color: #ffffff;
					background-color: #000000;
					transition: all 0.3s;
					cursor: pointer;

					&:hover {
						color: #ffffff;
						background-color: var(--btn-color-hover);
					}
				}
			}
		}
	}
}
.bgcNavBlack {
	background-color: var(--Bgc-navBlack);
}

@media (max-width: 900px) {
	.container {
		.panel {
			right: calc(4rem + 5rem);
		}
	}
}
@media (max-width: 600px) {
	.container {
		.panel {
			right: calc(4rem + 4rem);
		}
	}
}
