@use '../../../../assets/styles/variable' as *;
.profileTemplateContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	height: 100%;
	width: 100%;
	background-color: var(--pagesBgc);
	padding: 0 2rem;

	.title {
		margin-block: 2rem;
		font-size: var(--textSize_26);
		font-weight: 400;
		line-height: 4rem;
		font-family: var(--font-2);
		color: var(--pagesColor);
	}

	.profileWrapper {
		display: flex;
		flex-direction: column;

		.boxTitle {
			margin-bottom: 1.6rem;
			font-size: var(--textSize_14);
			font-weight: bold;
		}
		.formWrapper {
			display: flex;
			flex-direction: column;
			width: 100%;
			.formBox {
				display: flex;
				flex-direction: column;
				margin-bottom: 2rem;
				width: 100%;
				label {
					display: block;
					margin-bottom: 0.5rem;
					font-weight: bold;
					font-size: 13px;
					line-height: 20px;
				}
				.formInput {
					position: relative;

					input {
						width: 100%;
						padding: var(--vspace-0_25);
						color: #000000;
						font-size: var(--textSize_16);
						font-family: var(--font-2);
						border: 1px solid var(--inputBorderColor);
						border-radius: var(--borderRadius06);
						outline: none;
						transition: all 0.3s;

						&:hover {
							box-shadow: 0px 0px 0px 3px var(--inputBoxShadowColor);
						}

						&:focus {
							box-shadow: 0px 0px 0px 3px var(--inputFocusColor);
							border-color: #ffffff;
						}
					}
				}

				.newPasswordInfo {
					margin-top: 0.5rem;
					font-size: 13px;

					li {
						display: flex;
						align-items: center;
						list-style: none;
						color: #889397;
						line-height: 20px;

						.checkSVG {
							width: 14px;
							height: 14px;
							margin-right: 0.3rem;
							path {
								fill: #889397;
							}
						}
					}
					.highlightLi {
						span {
							color: rgb(0, 255, 0);
						}
						.checkSVG {
							path {
								fill: rgb(0, 255, 0);
							}
						}
					}
					.errorLi {
						span {
							color: #ff0000;
						}
						.checkSVG {
							path {
								fill: #ff0000;
							}
						}
					}
				}
				.resetPassword {
					align-self: flex-end;
					padding: 0.5rem;
					color: #338afb;
					background-color: transparent;
					border: none;
					cursor: pointer;
				}
			}

			.profileBox {
				// position: relative;
				display: flex;
				flex-direction: row;
				width: 100%;

				span {
					flex-basis: 80%;
				}

				.avatarBox {
					position: absolute;
					top: 7%;
					right: 5%;
					z-index: 1;
					width: 70px;
					height: 70px;
					overflow: hidden;
					border-radius: 50%;
					cursor: pointer;
					transition: all 0.3s;

					input {
						display: none;
					}

					img {
						width: 100%;
						height: 100%;
						opacity: 1;

						transition: all 0.3s;
					}

					&:hover {
						box-shadow: 0px 0px 3px 3px #d3d3d3d3;

						img {
							opacity: 0.3;
						}
					}
					.image {
						position: absolute;
						top: 0;
						left: 0;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 100%;
						height: 100%;

						.cameraSVG {
							width: 40px;
							height: 40px;
						}
					}
				}
			}
		}
		.profileContainer {
			margin-top: 2rem;
		}
		.saveChanges {
			@include formBtn($bgc: #d3d3d3d3, $color: #979797, $padding: 1rem, $cursor: not-allowed);

			align-self: flex-end;
			margin-top: 3rem;
		}
		.enabledChanges {
			color: #ffffff;

			background-color: #00684a;
			cursor: pointer;

			&:hover {
				box-shadow: 0px 0px 3px 3px #3fa588;
			}
		}
		.profileLabel {
			margin-bottom: 1.5rem;

			.profileEmail {
				display: flex;
				width: 100%;
				padding: var(--vspace-0_25);
				border: none;
				color: #000000;
				border: 1px solid #000000;
				border-radius: var(--borderRadius06);
				outline: none;
			}

			.profileEmailDisabled {
				background-color: #e8edeb;
				color: #889397;
				border: 1px solid #889397;
				cursor: not-allowed;
			}
		}

		.changeEmail {
			display: flex;
			align-self: start;
			color: var(--blueColor);
			border: none;
			background-color: transparent;
			cursor: pointer;
		}

		.deleteAccount {
			@include formBtn($bgc: #861a1a, $color: #ffffff, $padding: 1rem);

			align-self: flex-end;
			margin-top: 3rem;

			&:hover {
				box-shadow: 0px 0px 3px 3px #ae3131;
			}
		}
	}
}

@media (max-width: 800px) {
	.profileTemplateContainer {
		align-items: center;
	}
}
