.categoryListContainer {
	p {
		margin-bottom: 2rem;
		font-size: var(--textSize_26);
		font-weight: 400;
		line-height: 4rem;
		font-family: var(--font-2);
		color: var(--pagesColor);
	}

	.categoryListBox {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 2rem;

		.category {
			position: relative;
			padding: 0.75rem 2rem;
			background-color: #ffffff;
			transition: all 0.3s;
			cursor: pointer;

			
			.categoryDelete {
				position: absolute;
				top: 0;
				right: 0;
				width: 18px;
				height: 18px;

				.closeSVG {
					width: 100%;
					height: 100%;
					
					transition: transform .3s ease-in;
					path {
						stroke: red;
						stroke-width: 2px;
					}

					&:hover{
						transform: scale(1.15);
					}
				}
			}
		}
	}
}
