.subscriptionContainer {
	display: flex;
	justify-content: center;
	min-height: 100dvh;
	height: 100%;
	width: 100%;
	background-color: var(--pagesBgc);
	padding: 2rem;
	.subscriptionWrapper {
		display: flex;
		flex-direction: column;

		max-width: 600px;
		width: 100%;
		height: 100%;
		min-height: 400px;
		margin-top: 10rem;
		border-radius: var(--borderRadius08);
		box-shadow: 0px 0px 4px 4px var(--lightGrayColor);
		background-color: var(--whiteColor);
		overflow: hidden;

		.subscriptionTitle {
			padding: 2.4rem 3.2rem;
			color: var(--whiteColor);
			background-color: var(--mainColor);
			text-align: center;
			font-size: var(--textSize_26);
			font-family: var(--font-2);
			font-weight: bold;
		}
		.apiResponse {
			display: flex;
			justify-content: center;
			margin: 3rem 2rem;
		}
		.homePageLink {
			display: flex;
			align-self: flex-start;

			margin: 2rem auto;
			padding: 1rem 2rem;
			color: var(--textColor);
			font-size: var(--textSize_20);
			font-family: var(--font-2);
			font-weight: 600;

			&:hover {
				color: var(--mainColor);
			}
		}

		.subscriptionInfo {
			margin-top: auto;
			padding: 2rem;
			font-size: var(--textSize_16);
			color: var(--darkerGrayColor);
			line-height: 2.2rem;
			text-align: center;
		}
	}
}
