.subscriptionWrapper {
	grid-column: 9/13;

	.footerTitle {
		font-size: var(--text-xs);
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: var(--blackColor);
		padding-bottom: var(--vspace-0_75);
		margin-bottom: var(--vspace-0_75);
		margin-top: 0;
		border-bottom: 1px solid #e0e0e0;
	}
	.subscriptionText {
		font-size: var(--textSize_14);
	}
	.subscriptionFormWrapper {
		margin-top: 1.6rem;
		.formWrapper {
			display: flex;
			flex-direction: column;

			.subscriptionInput {
				padding: 0.8rem 2rem;
				// margin-bottom: 1.6rem;
				background-color: transparent;
				border: 1px solid var(--blackColorHover);
				font-size: calc(var(--text-Size) * 0.7778);
				line-height: 3.2rem;
				text-align: center;
				outline: none;
			}
			.subscriptionButton {
				padding: 0.8rem 2rem;
				margin: 1.6rem 0;
				background-color: var(--blackColor);
				color: var(--whiteColor);
				border: none;
				font-size: var(--text-xs);
				text-transform: uppercase;
				letter-spacing: 5px;
				line-height: 3.4rem;
				text-align: center;
				transition: all 0.3s ease-in-out;
				cursor: pointer;

				&:hover {
					background-color: var(--blackColorHover);
				}
			}
            .subscriptionError{
                margin-top: 1rem;
                color: var(--errorColor);
            }
            .subscriptionSuccess{
                margin-top: 1rem;
                color: var(--mainColor);
            }
		}
	}
}

@media (max-width: 1200px) {
	.subscriptionWrapper {
		grid-column: 1/7;
		grid-row: 2/3;
	}
}
@media (max-width: 800px) {
	.subscriptionWrapper {
		grid-column: 1/13;
		grid-row: 3/4;
	}
}


