@use '../../../assets/styles/variable' as *;
.changeEmailContainer {
	.title {
		margin-block: 2rem;
		font-size: var(--textSize_26);
		font-weight: 400;
		line-height: 4rem;
		font-family: var(--font-2);
		color: var(--sideBarColor);
	}

	.formWrapper {
		display: flex;
		flex-direction: column;
		width: 100%;

		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;
		width: 100%;
		label {
			display: block;
			margin-bottom: 0.5rem;
			font-weight: bold;
			font-size: 13px;
			line-height: 20px;
		}
		

		.formBtns {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-top: 3rem;
			gap: 1rem;

			.saveChanges {
				@include formBtn($padding: 1rem, $bgc: var(--lightGrayColor), $color: #979797, $cursor: not-allowed);
			}
			.enabledChanges {
				color: var(--whiteColor);
				cursor: pointer;
				background-color: var(--mainColor);
				
				&:hover {
					background-color: var(--mainColorHover);
					
				}
			}
			.cancelReset {
				@include formBtn($padding: 1rem, $bgc: transparent, $color: var(--blackColor));
				border: 1px solid var(--blackColor);

				&:hover {
					box-shadow: 0px 0px 3px 3px var(--lightGrayColor);
				}
			}
		}
	}
}
