@use '../../../assets/styles/variable' as *;
.changeEmailContainer {
	min-height: 100dvh;
	height: 100%;
	width: 100%;
	background-color: var(--pagesBgc);
	padding: 0 2rem;

	.title {
		margin-block: 2rem;
		font-size: var(--textSize_26);
		font-weight: 400;
		line-height: 4rem;
		font-family: var(--font-2);
		color: var(--pagesColor);
	}

	.formContainer {
		display: flex;
		flex-direction: column;
		width: 100%;

		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;
		width: 100%;
		label {
			display: block;
			margin-bottom: 0.5rem;
			font-weight: bold;
			font-size: 13px;
			line-height: 20px;
		}
		.formInput {
			position: relative;

			input {
				display: flex;
				width: 100%;
				padding: 1rem;
				color: #000000;
				border: 1px solid #889397;
				border-radius: var(--borderRadius06);
				outline: none;

				transition: all 0.3s;

				&:hover {
					box-shadow: 0px 0px 0px 3px #d3d3d3d3;
				}

				&:focus {
					box-shadow: 0px 0px 0px 3px #0498ec;
					border-color: #ffffff;
				}
			}
		}

		.formBtns {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-top: 3rem;
			gap: 1rem;

			.saveChanges {
				@include formBtn($padding: 1rem, $bgc: #d3d3d3d3, $color: #979797, $cursor: not-allowed);
			}
			.enabledChanges {
				color: #ffffff;
				cursor: pointer;
				background-color: #00684a;

				&:hover {
					box-shadow: 0px 0px 3px 3px #3fa588;
				}
			}
			.cancelReset {
				@include formBtn($padding: 1rem, $bgc: transparent, $color: #000000);
				border: 1px solid #000000;

				&:hover {
					box-shadow: 0px 0px 3px 3px #d3d3d3d3;
				}
			}
		}
	}
	.warnSVG {
		margin-right: 0.5rem;
	}
}
