.articleTextContainer {
	position: relative;
	display: flex;
	justify-content: space-between;
	// gap: 2rem;
	width: 100%;
	// height: 100%;

	.articleLeftSideContainer {
		position: sticky;
		top: 11rem;
		flex: 0 0 200px;

		max-width: 200px;
		height: 100%;
		font-size: calc(var(--text-Size) * 0.7778);
		font-weight: 300;
		line-height: calc(0.625 * var(--space));
		padding-right: 3.2rem;

		a {
			margin-right: 0.4em;
			color: var(--color-text);
			transition: all 0.3s;
			&:hover {
				color: #000000;
			}
		}
		.authorContent {
			margin-bottom: var(--vspace-0_5);

			.authorAvatar {
				margin-bottom: 2rem;

				img {
					margin: var(--vspace-0_25) 0 var(--vspace-0_25) 0;
					max-width: var(--vspace-5);

					object-fit: cover;
				}
			}
			.byline {
				display: flex;
				flex-direction: column;

				span {
					font-size: calc(var(--text-Size) * 0.6111);
					font-weight: 600;
					line-height: calc(0.375 * var(--space));
					text-transform: uppercase;
					letter-spacing: 0.05em;
					color: #000000;
				}
			}
		}

		.metaBottom {
			.catLinksBox {
				margin-bottom: var(--vspace-0_75);

				.catLinks {
					margin-bottom: 0.4em;
				}
			}

			span {
				font-size: calc(var(--text-Size) * 0.6111);
				font-weight: 600;
				line-height: calc(0.375 * var(--space));
				text-transform: uppercase;
				letter-spacing: 0.05em;
				color: #000000;
			}

			.tags {
				.tagtext {
					display: block;
					margin-bottom: 0.2em;
				}

				a {
					margin-right: 0.4rem;
				}
			}
		}
	}

	.articleMiddleSideContainer {
		display: flex;
		flex-direction: column;

		height: 100%;
		padding: 0 4.8rem;
		border-right: 1px solid var(--color-border);
		border-left: 1px solid var(--color-border);

		.articleMainText {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			margin-bottom: 6rem;
			font-size: var(--text-md);
			font-weight: 300;
			font-family: var(--fontFamily);
			line-height: calc(1.125 * var(--space));
		}
		.articleContentContainer {
			display: flex;
			flex-direction: column;
			gap: 5rem;

			.articleContent {
				display: flex;
				flex-direction: column;
				gap: 2rem;
				.articleContentTitle {
					font-size: var(--text-md);
				}
				.articleContentText {
					line-height: calc(1.125 * var(--space));
					font-weight: normal;
				}
				.articleImage {
					// width: 30dvw;

					img {
						width: 100%;
						max-height: 50dvh;
						object-fit: cover;
					}
					.articleImageText {
						font-size: 14px;
						color: var(--color-text);
					}
				}
			}
			.articleContentCompletion,
			.articleContentCallToAction {
				line-height: calc(1.125 * var(--space));
			}
			.articleContentCompletion {
				margin-bottom: var(--vspace-1);
			}
			.articleContentCallToAction {
				margin-bottom: var(--vspace-3);
			}
		}

		.articleReactionsBox {
			display: flex;
			flex-direction: column;
			margin-top: 5rem;
			.articleReactionsInfo {
				display: flex;
				align-items: center;
				margin-bottom: 1rem;
				.articleLikes {
					display: flex;
					align-items: center;
					margin-right: 1.5rem;

					.articleLikeBox {
						display: flex;
						align-items: center;
						justify-content: center;
						margin-right: 0.5rem;
						width: 25px;
						height: 25px;
						border-radius: 50%;
						background-color: #ffeff0;
						.articleLikeSVG {
							width: 20px;
							height: 20px;

							path {
								transition: all 0.5s;
								fill: #ff4d6e;
							}
						}

						&:hover .articleLikeSVG path {
							fill: #7d061c;
						}
					}
				}
			}

			.articleReactionButton {
				display: flex;
				align-self: start;
				padding: 0.5rem 1.5rem;
				font-size: var(--textSize_16);
				border-radius: var(--borderRadius04);
				background-color: #ff4d6e;
				border: none;
				cursor: pointer;
				transition: all 0.3s;

				&:hover {
					background-color: #ff4d6e;
					color: #ffffff;
				}
			}
		}
	}

	.articleRightSideContainer {
		position: sticky;
		top: 11rem;
		padding-left: 3.2rem;
		max-width: 200px;
		flex: 0 0 210px;
		height: 100%;

		.prev {
			margin-bottom: var(--vspace-1_5);
		}

		.prev,
		.next {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			cursor: pointer;

			&:hover a {
				color: #000000;
			}

			span {
				font-size: var(--text-xs);
				font-weight: 600;
				line-height: var(--vspace-0_5);
				text-transform: uppercase;
				letter-spacing: 0.2em;
				color: #000000;
			}
			a {
				font-size: var(--text-md);
				font-weight: 300;
				color: var(--color-text-light);
				transition: all 0.3s;
			}
		}
		.disabled {
			cursor: default;
			&:hover a {
				color: var(--color-text-light);
			}
		}
		.disabled a {
			cursor: default;
			pointer-events: none;
		}
	}
}
@media (max-width: 1400px) {
	.articleTextContainer {
		.articleMiddleSideContainer {
			padding: 0;
			border-right: none;
			border-left: none;
		}

		.articleRightSideContainer {
			.prev,
			.next {
				a {
					font-size: calc(var(--text-Size) * 1.0556);
				}
			}
		}
	}
}

@media (max-width: 1200px) {
	.articleTextContainer {
		flex-direction: column;
		padding: 0 5vw;

		.articleMiddleSideContainer {
			order: -1;
		}

		.articleLeftSideContainer {
			position: static;
			display: flex;
			flex-direction: row;
			margin-top: 4rem;
			width: 100%;
			max-width: none;

			.authorContent {
				max-width: 160px;
				padding-right: 4rem;

				.authorAvatar {
					margin-bottom: 1rem;
					img {
						width: 100px;
						height: 100px;
					}
				}
			}
		}
		.articleRightSideContainer {
			display: flex;
			padding-left: 0;
			padding-top: var(--vspace-1);
			font-size: var(--text-md);
			border-top: 1px solid var(--color-border);
			max-width: none;

			.prev,
			.next {
				flex: 0 0 50%;
				max-width: 50%;
				padding-right: 3.2rem;
				margin-bottom: 0;
			}
		}
	}
}
@media (max-width: 1000px) {
	.articleTextContainer {
		padding: 0;
	}
}
@media (max-width: 550px) {
	.articleTextContainer {
		.articleRightSideContainer {
			flex-direction: column;
			gap: 2rem;

			.prev,
			.next {
				max-width: none;
			}
		}
	}
}
