.articleTextContainer {
	position: relative;
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	width: 100%;
	// height: 100%;

	.articleLeftSideContainer {
		position: sticky;
		top: 11rem;
		max-width: 200px;
		height: 100%;
		font-size: calc(var(--text-Size) * 0.7778);
		font-weight: 300;
		line-height: calc(0.625 * var(--space));
		padding-right: 2.8rem;

		a {
			margin-right: 0.4em;
			color: var(--color-text);
			transition: all 0.3s;
			&:hover {
				color: #000000;
			}
		}
		.authorContent {
			margin-bottom: var(--vspace-0_5);

			.authorAvatar {
				margin-bottom: 2rem;

				img {
					margin: var(--vspace-0_25) 0 var(--vspace-0_25) 0;
					max-width: var(--vspace-5);

					object-fit: cover;
				}
			}
			.byline {
				display: flex;
				flex-direction: column;

				span {
					font-size: calc(var(--text-Size) * 0.6111);
					font-weight: 600;
					line-height: calc(0.375 * var(--space));
					text-transform: uppercase;
					letter-spacing: 0.05em;
					color: #000000;
				}
			}
		}

		.metaBottom {
			.catLinksBox {
				margin-bottom: var(--vspace-0_75);

				.catLinks {
					margin-bottom: 0.4em;
				}
			}

			span {
				font-size: calc(var(--text-Size) * 0.6111);
				font-weight: 600;
				line-height: calc(0.375 * var(--space));
				text-transform: uppercase;
				letter-spacing: 0.05em;
				color: #000000;
			}

			.tags {
				.tagtext {
					display: block;
					margin-bottom: 0.2em;
				}

				a {
					margin-right: 0.4rem;
				}
			}
		}
	}

	.articleMiddleSideContainer {
		display: flex;
		flex-direction: column;
		// gap: 8rem;
		padding: 0 4.8rem;
		height: 100%;
		border-right: 1px solid var(--color-border);
		border-left: 1px solid var(--color-border);

		.articleMainText {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			margin-bottom: 6rem;
			font-size: var(--text-md);
			font-weight: 300;
			font-family: var(--fontFamily);
			line-height: calc(1.125 * var(--space));
		}
		.articleContent {
			display: flex;
			flex-direction: column;
			gap: 2rem;

			.articleContentTitle {
				font-size: var(--text-md);
			}
			.articleContentText {
				line-height: calc(1.125 * var(--space));
				font-weight: normal;
			}
			.articleImage {
				// width: 30dvw;

				img {
					width: 100%;
					max-height: 50dvh;
					object-fit: cover;
				}
				.articleImageText {
					font-size: 14px;
					color: var(--color-text);
				}
			}
			.articleContentCompletion,
			.articleContentCallToAction {
				line-height: calc(1.125 * var(--space));
			}
		}
	}

	.articleRightSideContainer {
		position: sticky;
		top: 11rem;
		max-width: 200px;
		height: 100%;
	}
}

@media (max-width: 1200px) {
	.articleTextContainer {
		flex-direction: column;

		.articleMiddleSideContainer {
			order: -1;
		}

		.articleLeftSideContainer {
			display: flex;
			flex-direction: row;
			width: 100%;
			max-width: none;

			.authorContent {
				max-width: 160px;
				padding-right: 4rem;

				.authorAvatar {
					img {
						width: 100px;
						height: 100px;
					}
				}
			}
		}
	}
}
