.postCategoriesContainer {
	.postCategoriesTitle {
		margin-bottom: 2rem;
		font-size: var(--textSize_26);
		font-weight: 400;
		line-height: 4rem;
		font-family: var(--font-2);
		color: var(--pagesColor);
	}
	
	.postCategoriesWrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 2rem;

		.postCategory {
			position: relative;
			// padding: 0.75rem 2rem;
			padding: 1rem 2.5rem;
			background-color: #ffffff;
			font-size: var(--textSize_14);
			box-shadow: 0px 0px 0px 2px var(--inputBoxShadowColor);
			border-radius: var(--borderRadius06);
			transition: all 0.3s;
			cursor: pointer;
			&:hover{
				box-shadow: 0px 0px 0px 2px var(--inputFocusColor);

			}
			.deletePostCategory {
				position: absolute;
				top: 2px;
				right: 2px;
				width: 18px;
				height: 18px;

				.closeSVG {
					width: 100%;
					height: 100%;

					transition: transform 0.3s ease-in;
					path {
						stroke: red;
						stroke-width: 2px;
					}

					&:hover {
						transform: scale(1.15);
					}
				}
			}
		}
	}
}
