.listWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100dvh;
	// border: 1px solid black;

	background-color: var(--bgcTabel);
	background-color: #deb887;
	// background-color: #eaefff;

	.listTitle {
		margin: 2rem 0 0 2rem;
		// padding: 2rem;
		font-size: 2.4rem;
		font-family: var(--font-2);
	}

	// Search ----------
	.searchContainer {
		display: flex;
		align-items: center;
		padding: 2rem;
		gap: 1rem;
		width: 100%;

		.searchTitle {
			font-size: 2rem;
			font-family: var(--font-2);
		}
		.searchBox {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.5rem 1rem;

			max-width: 400px;
			width: 100%;
			box-shadow: 3px -2px 10px black;
			border-radius: 20px;
			.searchInput {
				padding: 0.5rem 1rem;
				width: 100%;
				font-size: 1.6rem;
				font-family: var(--font-2);
				outline: none;
				border: none;

				background: none;
			}
			.searchBtn {
				padding: 0.5rem;
				background: transparent;
				border: none;

				transition: all 0.3s;
				.searchIcon {
					background: transparent;
					color: #000000;
					// path {
					// 	transition: all 0.3s;
					// }
				}
				// &:hover .searchIcon path {
				// 	fill: #c29457;
				// }
			}
		}
	}

	.listContainer {
		width: 100%;
		overflow-x: auto;
		scrollbar-width: none;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		height: 100%;

		.tableContainer {
			display: inline-block;
			min-width: 100%;
			height: 100%;

			.thead,
			.tbody {
				background-color: var(--bgcTabel);

				.tr {
					display: flex;
					flex-direction: row;

					.th,
					.td {
						display: flex;
						align-items: center;
						justify-content: center;

						gap: 1rem;
						min-width: 120px;
						width: 100%;
						font-family: var(--font-2);
						color: var(--colorTabel);
						cursor: pointer;
						&:first-child {
							padding-left: 2rem;
							min-width: 250px;
						}
						&:nth-child(n + 2) {
							max-width: 150px;
						}
					}
				}
			}
			.thead {
				.tr {
					.th {
						position: relative;
						padding: 1.5rem 0;

						&:hover {
							background-color: var(--bgcTabelHover);
						}

						// .theadDropDown {
						// 	position: absolute;
						// 	left: 0;
						// 	top: 100%;
						// 	display: flex;
						// 	flex-direction: column;
						// 	width: 100%;
						// 	transform-origin: top;
						// 	transform: scaleY(0);
						// 	opacity: 0;
						// 	visibility: hidden;
						// 	background-color: #ffffff;
						// 	box-shadow: 0px 5px 20px black;

						// 	transition: all 0.3s;

						// 	div {
						// 		padding: 1rem;
						// 		&:hover {
						// 			background-color: var(--bgcTabelHover);
						// 		}
						// 	}
						// }
						// .scaleUp {
						// 	transform: scaleY(1);
						// 	opacity: 1;
						// 	visibility: visible;
						// }
					}
				}
			}
			.tbody {
				height: 100%;

				.tr {
					padding: 1rem 0;
					transition: all 0.3s;

					&:nth-child(odd) {
						background-color: #fff;
					}
					.td {
						padding-right: 1rem;

						&:first-child {
							justify-content: start;
						}
						&:nth-child(2) {
							text-align: center;
						}
						&:last-child {
							padding-right: 0;

							a {
								display: flex;
								align-items: center;
							}
						}
						&:nth-child(n + 5):nth-child(-n + 6) {
							justify-content: flex-end;
						}
					}
					&:hover {
						background-color: var(--bgcTabelHover);
					}
				}
				// .admin {
				// 	background-color: #ff8f8f !important;
				// 	&:hover {
				// 		background-color: var(--bgcTabelHover) !important;
				// 	}
				// }
				// .moderator {
				// 	background-color: #8ffdff !important;
				// 	&:hover {
				// 		background-color: var(--bgcTabelHover) !important;
				// 	}
				// }
			}
		}
	}

	// Paggination-------------
	.pagination {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 3rem;
		margin-top: 1rem;
		padding: 2rem 3rem;
		.paginationRows {
			display: flex;
			flex-direction: row;

			span {
				margin-right: 1rem;
			}
			.selectRows {
				position: relative;

				.inputBox {
					display: flex;
					align-items: center;
					cursor: pointer;
					.selectInput {
						display: flex;
						align-items: center;
						max-width: 30px;
						background: transparent;
						font-size: 18px;
						border: none;
						outline: none;
						pointer-events: none;
						cursor: pointer;
						z-index: 1;
					}
					.arrowRows {
						height: 15px;
						width: 15px;
						pointer-events: none;
					}
					.rotate {
						rotate: 180deg;
					}
				}
				.rows {
					position: absolute;
					top: -13rem;
					display: flex;
					flex-direction: column;
					width: 50px;
					background-color: #ffffff;
					box-shadow: 0px 5px 20px #d3d3d3d3;
					transform-origin: bottom;
					opacity: 0;
					transform: scaleY(0);
					transition: all 0.3s;
					span {
						display: flex;
						align-items: center;
						justify-content: center;
						line-height: 40px;

						width: 100%;
						cursor: pointer;

						&:hover {
							background-color: var(--bgcTabelHover);
						}
					}
					.activeRow {
						background-color: var(--bgcTabelHover);
					}
				}
				.scale {
					transform: scaleY(1);
					opacity: 1;
				}
			}
		}
		.arrowsControls {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 2rem;

			.arrows {
				padding: 0.75rem;
				cursor: pointer;

				border: none;
				background: none;

				transition: all 0.3s;

				.arrowPrev,
				.arrowNext {
					width: 15px;
					height: 15px;

					pointer-events: none;
				}
			}
		}
	}
}

.tabelTitle {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	color: #000000;
	cursor: pointer;
	&:hover {
		color: #251c1c;
	}

	.newUser{
		position: absolute;
		top: -100%;
		right: 2rem;
		transform: translateY(50%);
		padding: .5rem 1rem;
		background-color: #00ff1a;
		
		
	}
}
.publish {
	line-height: 40px;
	transition: all 0.3s;
	&:hover {
		background-color: var(--bgcPublishHover);
		cursor: pointer;
	}
}

@media (width <= 700px) {
	.listWrapper {
		height: 100dvh;
		.listContainer {
			height: 100%;
			.tableContainer {
				height: 100%;
				.tbody {
					height: 100%;
				}
			}
		}
		.searchContainer {
			.searchBox {
				max-width: none;
			}
		}

		.pagination {
			padding: 2rem;
		}
	}

	.publish {
		background-color: var(--bgcPublishHover);
	}
}
@media (width <= 500px) {
	.listWrapper {
		.pagination {
			justify-content: space-between;
			gap: 0;
		}
	}
}
