.listWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100dvh;

	.listTitle {
		padding: 2rem;
		font-size: var(--textSize_26);
		font-weight: 400;
		line-height: 4rem;
		font-family: var(--font-2);
		color: var(--pagesColor);
	}

	// Search ----------
	.searchContainer {
		display: flex;
		align-items: center;
		padding: 2rem;
		gap: 1rem;
		width: 100%;

		.searchTitle {
			font-size: 2rem;
			font-family: var(--font-2);
		}
		.searchBox {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.5rem 1rem;

			max-width: 400px;
			width: 100%;
			box-shadow: 3px -2px 10px black;
			border-radius: 20px;
			.searchInput {
				padding: 0.5rem 1rem;
				width: 100%;
				color: var(--pagesColor);
				font-size: var(--textSize_16);
				font-family: var(--font-2);
				outline: none;
				border: none;

				background: none;
			}
			.searchBtn {
				padding: 0.5rem;
				background: transparent;
				border: none;

				transition: all 0.3s;
				.searchIcon {
					background: transparent;
					color: #000000;
				}
			}
		}
	}

	.listContainer {
		width: 100%;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		height: 100%;
		background-color: #ffffff;
		overflow-x: auto;

		.tableContainer {
			position: relative;
			display: inline-block;
			min-width: 100%;

			.thead,
			.tbody {
				background-color: var(--bgcTBody);

				.tr {
					display: flex;
					flex-direction: row;

					.th,
					.td {
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 1rem;
						min-width: 120px;
						width: 100%;
						font-family: var(--font-2);
						color: var(--colorTabel);
						cursor: pointer;
						&:first-child {
							padding-left: 2rem;
							min-width: 250px;
						}
						&:nth-child(n + 2) {
							max-width: 150px;
						}
					}
				}
			}
			.thead {
				top: 0;
				position: sticky;
				z-index: 1000;
				.tr {
					.th {
						position: relative;
						padding: 1.5rem 0;
						&:nth-child(2) {
							min-width: 200px;
						}
						&:hover {
							background-color: var(--bgcTabelHover);
						}
					}
				}
			}
			.tbody {
				overflow: auto;
				height: 100%;

				.tr {
					padding: 1rem 0;
					transition: all 0.3s;

					&:nth-child(odd) {
						background-color: #ffffff;
					}
					.td {
						padding-right: 1rem;

						&:first-child {
							justify-content: start;
						}
						&:nth-child(2) {
							text-align: center;
							min-width: 200px;
						}
						&:last-child {
							padding-right: 0;

							a {
								display: flex;
								align-items: center;
							}
						}
						&:nth-child(n + 4):nth-child(-n + 5) {
							justify-content: flex-end;
						}
						&:nth-child(6) {
							padding-right: 0;
						}
						&:nth-child(n + 8):nth-child(-n + 8) {
							text-align: center;
						}

						.inActiveUser {
							color: #a7a7a7;
						}
						.activeUser {
							color: #00eb23;
						}
					}
					&:hover {
						background-color: var(--bgcTabelHover);
					}
				}
			}
		}
	}

	.popupInfo {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 0 2rem;
		margin-bottom: 3rem;

		span {
			font-size: var(--textSize_16);
			span:first-child {
				font-weight: 600;
			}
		}
	}

	.openPopup {
		display: flex;
	}
}

.tabelTitle {
	position: relative;
	display: flex;

	align-items: center;
	width: 100%;
	color: #000000;
	cursor: pointer;
	span {
		margin-left: 2rem;
	}
	&:hover {
		color: #251c1c;
	}
}
.scale {
	transform: scaleY(1);
	opacity: 1;
}
@media (width <= 700px) {
	.listWrapper {
		.searchContainer {
			.searchBox {
				max-width: none;
			}
		}

		.pagination {
			padding: 2rem;
		}
	}
}
@media (width <= 500px) {
	.listWrapper {
		.pagination {
			justify-content: space-between;
			gap: 0;
		}
	}
}
