@use '../../../assets/styles/variable' as *;
.title {
	
	margin-top: 2rem;
	font-size: var(--textSize_26);
	font-weight: 400;
	line-height: 4rem;
	font-family: var(--font-2);
	color: var(--sideBarColor);
}

.deleteAccountWrapper {
	display: flex;
	flex-direction: column;
	.deleteForm {
		display: flex;
		flex-direction: column;

		.formBtns {
			display: flex;
			margin-top: 3rem;
			.deleteAccount {
				@include formBtn($bgc: #d3d3d3d3, $color: #979797, $padding: 1rem, $cursor: not-allowed);
				margin-right: 1rem;
			}
			.confirmDeletion {
				color: var(--whiteColor);
				background-color: var(--errorColor);
				transition: all 0.3s;
				cursor: pointer;
				&:hover {
					background-color: var(--errorColorHover);
				}
			}
			.cancelDeletion {
				@include formBtn($padding: 1rem 2rem, $bgc: var(--mainColor), $color: var(--whiteColor));

				&:hover {
					background-color: var(--mainColorHover);
				}
			}
		}
	}
}

@media (width < 800px) {
	.title {
		margin-top: 7rem;
	}
}
