@use '../../../assets/styles/variable' as *;
.title {
	// margin-block: 2rem;
    margin-top: 2rem;
	font-size: var(--textSize_26);
	font-weight: 400;
	line-height: 4rem;
	font-family: var(--font-2);
	color: var(--pagesColor);
}

.deleteAccountWrapper {
	display: flex;
	flex-direction: column;
	.deleteForm {
		display: flex;
		flex-direction: column;

		.formBtns {
			display: flex;
			margin-top: 3rem;
			.deleteAccount {
				@include formBtn($bgc: #d3d3d3d3, $color: #979797, $padding: 1rem, $cursor: not-allowed);
				margin-right: 1rem;
			}
			.confirmDeletion {
				color: #ffffff;
				background-color: #861a1a;
				transition: all 0.3s;
				cursor: pointer;
				&:hover {
					box-shadow: 0px 0px 3px 3px #ae3131;
				}
			}
			.cancelDeletion {
				@include formBtn($padding: 1rem, $bgc: transparent, $color: #000000);
				border: 1px solid #000000;
				&:hover {
					box-shadow: 0px 0px 3px 3px #d3d3d3d3;
				}
			}
		}
	}
}

@media (width < 800px) {
    .title{
        margin-top: 7rem;
    }
}