.commentContainer {
	padding: 2rem 0 0 0;

	.commentContent {
		padding-left: 12%;

		.commentInfo {
			display: flex;
			align-items: center;
			justify-content: space-between;
			// gap: 1rem;

			.commentAuthor {
				font-size: var(--text-Size);
				font-weight: 600;
				line-height: var(--vspace-1);
				color: var(--blackColor);
			}
			.commentMeta {
				position: relative;
				.commentTime {
					font-size: calc(var(--text-Size) * 0.7778);
					text-transform: uppercase;
					letter-spacing: 0.1rem;
					text-align: right;
					color: var(--color-text-light);
				}
				.commentCrud {
					position: absolute;
					top: 30px;
					right: 0;
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					

					.commentReply {
						position: relative;
						
						display: flex;
						flex-direction: column;

						.commentReplybButton {
							border: none;
							background: none;
							font-size: var(--text-xs);
							font-family: var(--fontFamily);
							font-weight: 600;
							text-transform: uppercase;
							letter-spacing: 0.2em;
							color: var(--blackColor);
							cursor: pointer;
							animation: animateReplyBtn 0.5s ease-in-out;
						}
						.commentHideButton {
							display: flex;
							width: 30px;
							height: 30px;
							background-color: transparent;
							animation: rotateX 0.5s ease-in-out;
							cursor: pointer;

							&::before,
							&::after {
								content: '';
								position: absolute;
								height: 100%;
								width: 2px;
								background-color: var(--blackColor);
							}
							&::before {
								left: 50%;
								transform: translateX(-50%);
								// top: 50%;
								rotate: 45deg;
							}
							&::after {
								// top: 50%;
								transform: translateX(50%);
								right: 50%;
								rotate: -45deg;
							}
						}
						.commentLogIn {
							position: absolute;
							display: none;
							top: 20px;
							font-size: var(--text-xs);
							color: var(--blackColorHover);
						}
						.commentLogInShow {
							display: flex;
						}
					}
					.deleteUpdateContainer {
						position: relative;
						display: flex;
						flex-direction: column;
						align-items: end;
						.deleteUpdateMenu {
							display: flex;
							justify-content: center;
							width: 30px;
							height: 30px;
							border-radius: 100%;
							transition: all 0.3s ease-in-out;
							cursor: pointer;

							&:hover {
								background-color: var(--lightGrayColor);
							}
						}
						.deleteUpdateBtns {
							position: absolute;
							display: none;
							flex-direction: column;
							top: 30px;
							gap: 0.5rem;
							animation: animateReplyBtn 0.5s ease-in-out;
							.updateBtn,
							.deleteBtn {
								border: none;
								background: none;
								font-size: var(--text-xs);
								font-family: var(--fontFamily);
								font-weight: 600;
								text-transform: uppercase;
								letter-spacing: 0.2em;
								color: #000000;
								cursor: pointer;
							}
						}
						.showCrud {
							display: flex;
						}
					}
				}
			}
		}
		.commentText {
			max-width: 80%;

			p {
				margin-bottom: var(--vspace-1);
				line-height: var(--vspace-1);
				color: var(--blackColorHover);
			}
		}
		.commentWrapper {
			padding-bottom: var(--vspace-1_75);

			.commentTextArea {
				display: block;
				field-sizing: content;
				padding: 10px;
				min-height: 150px;

				width: 100%;

				margin-bottom: var(--vspace-0_25);
				font-size: calc(var(--text-Size) * 0.7778);
				font-family: var(--fontFamily);
				font-style: normal;
				font-weight: 400;
				line-height: var(--vspace-0_75);
				border: none;
				border-bottom: 1px solid #828484;
				border-top: 1px solid #828484;

				background: transparent;
				&:focus {
					outline: none;
				}
			}
			.commentError {
				font-size: var(--textSize_14);
				color: var(--errorColor);
			}
			.resMessage {
				font-size: var(--textSize_14);

				color: rgb(0, 255, 140);
			}
			.addComment {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				align-self: center;
				margin-left: auto;
				margin-right: auto;
				margin-top: var(--vspace-1);
				padding: 0 3.2rem;
				width: 90%;
				height: var(--btn-heightXs);
				font-size: var(--textSize_14);
				line-height: calc(var(--btn-heightXs) - 1rem);
				background-color: var(--blackColor);
				color: var(--whiteColor);
				text-transform: uppercase;
				letter-spacing: 0.4em;
				white-space: nowrap;
				border: none;
				cursor: pointer;
				transition: all 0.3s;

				&:hover {
					background-color: var(--blackColorHover);
				}
			}
		}
	}

	.commentAvatar {
		position: absolute;

		left: 0;
		display: block;
		width: 64px;
		height: 64px;

		.authorAvatar {
			width: 100%;
			min-height: 100%;
			border-radius: 100%;
			border: 2px solid var(--lightGrayColor);
			object-fit: cover;
		}
	}
	.commentLeft {
		padding-left: 5%;
		border-left: 1px solid var(--color-border);
	}
}

@keyframes rotateX {
	from {
		rotate: 0;
		opacity: 0;
		scale: 0;
	}
	to {
		rotate: 360deg;
		opacity: 1;
		scale: 1;
	}
}
@keyframes animateReplyBtn {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);

		opacity: 1;
	}
}

@media (max-width: 800px) {
	.commentContainer {
		.commentContent {
			padding-left: 14%;
		}

		.commentLeft {
			padding-left: 5%;
		}
	}
}
@media (max-width: 700px) {
	.commentContainer {
		.commentAvatar {
			display: none;
		}
		.commentContent {
			padding-left: 0;
			.commentText {
				max-width: none;
				width: 100%;
				p {
					font-size: var(--textSize_16);
				}
			}
			.commentInfo {
				flex-direction: column;
				align-items: start;

				.commentMeta {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					margin-bottom: var(--vspace-0_25);
					width: 100%;
					gap: 0.5rem;
					.commentTime {
						text-align: left;
						font-size: var(--textSize_12);
					}
					.commentCrud {
						position: relative;
						flex-direction: row;
						align-items: center;
						top: 0;
						.deleteUpdateContainer {
							display: flex;
							align-items: center;

							.deleteUpdateBtns {
								gap: 1rem;
								padding: 1rem;
								background-color: var(--whiteColor);
							}
						}
					}
				}
			}

			.commentWrapper {
				.addComment {
					display: flex;
					align-items: center;
					justify-content: center;
					margin-left: auto;
					margin-right: auto;
					margin-top: var(--vspace-1);
					width: 90%;
					height: 40px;
					font-size: var(--textSize_14);
					line-height: 40px;
				}
			}
		}
		.commentLeft {
			padding-left: 5%;
		}
	}
}
