.postFormBtn {
	// width: 100%;
	padding: 1rem 2.5rem;
	font-size: var(--textSize_18);
	border: none;
    color: var(--buttonColor);
	border-radius: var(--borderRadius04);
	transition: all 0.3s;
	cursor: pointer;
}
