.miniMarkdownWrapper {
	width: 100%;
	padding: 1rem;
	box-shadow: 0px 0px 8px 2px #d3d3d3d3;

	.markdownToolbar {
		display: flex;

		.markdownButtonBox {
			.markdownButton {
				border: none;
				padding: 0.5rem 1rem;
				margin-right: 1rem;
				border-radius: var(--borderRadius06);
				transition:
					color 0.3s,
					box-shadow 0.3s;
				cursor: pointer;
				outline: none;
				&:hover {
					color: var(--greenColor);
					box-shadow: 0px 0px 2px 1px var(--greenColor);
				}
				&:focus {
					color: var(--greenColor);

					box-shadow: 0px 0px 2px 1px var(--greenColor);
				}
			}
		}
	}

	.markdownToolbar [role='separator'] {
		width: 1px;
		background-color: #d3d3d3d3;

		margin-right: 1rem;
	}
}
