.acknowledgementsList {
	margin-bottom: 2rem;
	.acknowledgement {
		margin-bottom: 1rem;
		list-style: none;

		.checkbox {
			display: flex;
			flex-direction: row;
			align-items: start;
			justify-content: start;
			gap: 1rem;
			width: 100%;
			cursor: pointer;

			input {
				display: none;
			}
			&:hover {
				.checkmark {
					box-shadow: 0px 0px 3px 3px var(--lightGrayColor);
				}
				.scaleCheckmark {
					box-shadow: none;
				}
			}

			.acknowledgementInfo {
				display: flex;
				flex-direction: column;
				color: var(--sideBarColor);

				p {
					font-size: var(--textSize_14);
					margin-bottom: 0.5rem;
					line-height: 20px;
				}

				
				ul,
				ol {
					margin-bottom: 1rem;
					padding-left: 1.5rem;
				}

				li {
					margin-bottom: 0.5rem;
				}

				a {
					color: #1a73e8;
					text-decoration: none;
				}

				a:hover {
					text-decoration: underline;
				}

				
				blockquote {
					border-left: 4px solid #ddd;
					padding-left: 1rem;
					color: #555;
					font-style: italic;
					margin: 1rem 0;
				}

				
				strong {
					font-weight: bold;
				}

			
				em {
					font-style: italic;
				}
			}
		}
	}
}
