.acknowledgementsList {
	margin-bottom: 2rem;
	.acknowledgement {
		margin-bottom: 1rem;
		list-style: none;

		.checkbox {
			display: flex;
			flex-direction: row;
			align-items: start;
			justify-content: start;
			gap: 1rem;
			width: 100%;
			cursor: pointer;

			input {
				display: none;
			}
			&:hover {
				.checkmark {
					box-shadow: 0px 0px 3px 3px #d3d3d3d3;
				}
				.scaleCheckmark {
					box-shadow: none;
				}
			}

			.acknowledgementInfo {
				display: flex;
				flex-direction: column;

				.spanInfo1 {
					line-height: 20px;
					font-size: 13px;
					font-weight: 600;
				}
				.spanInfo2 {
					line-height: 20px;
					font-size: 13px;
				}
			}
		}
	}
}
