.mobileContainer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	flex-direction: column;
	align-items: center;
	padding: 0 calc(2.5 * 2.5rem);
	width: 100dvw;
	height: 100dvh;
	opacity: 0;
	visibility: hidden;
	transform: translateX(-100%);
	background-color: var(--Bgc-navMobile);
	transition: all 0.5s ease-in-out;
	z-index: 1002;
	overflow: hidden;

	.mobileElement {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 4rem;

		.title {
			margin-top: 3rem;
			font-size: var(--subMenu-TextSize);
			font-weight: 300;
			color: var(--menu-textColorHover);
			letter-spacing: 0.4em;
			text-transform: uppercase;
		}
	}

	.close {
		background-color: transparent;
		border: unset;
		cursor: pointer;

		.closeSVG {
			width: 28px;
			height: 28px;
			stroke-width: 1px;
			color: var(--closeBtn-Color);
			transition: 0.3s all ease-in-out;
		}

		&:hover {
			.closeSVG {
				color: var(--closeBtn-ColorHover);
				scale: 1.1;
			}
		}
	}

	.mobileLink {
		display: flex;
		flex-direction: column;
		margin-top: 8rem;
		width: 100%;
		counter-reset: ctr;

		.link {
			position: relative;
			width: 100%;
			padding-left: 2.6rem;
			color: var(--menu-textColor);
			font-weight: 600;
			font-size: var(--menu-TextSize);
			border-top: 1px dotted rgba(255, 255, 255, 0.1);
			line-height: var(--lineHeight);
			&:hover {
				color: rgba(255, 255, 255, 0.7);
			}
			&::before {
				content: counter(ctr, decimal-leading-zero);
				counter-increment: ctr;
				position: absolute;
				top: 3px;
				left: 0;
				font-size: calc((1.8rem / 1.2) / 1.2);
				font-weight: 300;
				color: rgba(255, 255, 255, 0.25);
			}
			&:last-child {
				border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
			}
		}
		.menuElementContainer {
			width: 100%;
			min-height: var(--lineHeight);
			height: var(--lineHeight);
			border-top: 1px dotted rgba(255, 255, 255, 0.1);
			line-height: var(--lineHeight);
			transition: all 0.3s ease-in-out;
			overflow: hidden;
			cursor: pointer;

			&:hover .menuElement .title {
				color: var(--menu-textColorHover);
			}
			&:hover .arrow {
				rotate: 180deg;
			}

			.menuElement {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				font-size: var(--menu-TextSize);
				font-weight: 600;
				color: var(--menu-textColor);
				pointer-events: none;

				.title {
					color: var(--menu-textColor);
					padding-left: 2.6rem;
					pointer-events: none;
					transition: all 0.3s ease-in-out;

					&::before {
						content: counter(ctr, decimal-leading-zero);
						counter-increment: ctr;
						position: absolute;
						top: 3px;
						left: 0;
						font-size: calc((1.8rem / 1.2) / 1.2);
						font-weight: 300;
						color: rgba(255, 255, 255, 0.25);
					}
				}

				.arrow {
					transition: all 0.3s ease-in-out;
					pointer-events: none;
				}
				.rotateArrow{
					rotate: 180deg;
				}
			}

			.subMenu {
				display: block;

				flex-direction: column;
				height: 100%;
				padding: 1.8rem 0;
				background: black;
				opacity: 1;
				visibility: visible;
				list-style: none;
				transition: all 0.3s ease-in-out;
				z-index: 1000;
				.subMenuLi {
					.subLink {
						display: block;
						width: 100%;
						height: 100%;
						white-space: nowrap;
						line-height: 1.8rem;
						padding: 0.7rem 3rem 0.7rem 2rem;
						color: var(--subMenu-Color);
						font-size: var(--subMenu-TextSize);
						font-weight: 400;
						transition: all 0.3s ease-in-out;

						&:hover {
							color: var(--subMenu-ColorHover);
							background-color: #d3d3d3d3;
						}
					}
					.activeSubMenuLi {
						color: white;
					}
				}
			}
		}

		.controlPanelContainer {
			width: 100%;
			min-height: var(--lineHeight);
			height: var(--lineHeight);
			border-top: 1px dotted rgba(255, 255, 255, 0.1);
			line-height: var(--lineHeight);
			transition: all 0.3s ease-in-out;
			overflow: hidden;
			
			cursor: pointer;
			&:hover .signInBtn,
			&:hover .authorInfo .author {
				color: var(--menu-textColorHover);
			}
			.signInBtn {
				padding-left: 2.6rem;
				font-size: var(--menu-TextSize);
				font-weight: 600;
				color: var(--menu-textColor);
				background-color: transparent;
				border: none;
				cursor: pointer;
			}
			.controlContainer {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 5rem;
				margin-bottom: 5rem;
				transform: translateX(-1%);
				line-height: 1.8rem;

				.anchorLink {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					max-width: 200px;
					height: 40px;
					font-size: var(--menu-TextSize);
					color: #000000;
					background-color: #ffffff;
					transition: all 0.3s;

					&:hover {
						color: #ffffff;
						background-color: var(--btn-color-hover);
					}
				}
				.signUpContainer {
					display: flex;
					flex-direction: column;
					align-items: center;
					.signUpSpan {
						margin: 3rem 0;
						color: var(--color-text-light);
					}
				}
			}
			.authorInfo {
				padding-left: 2rem;
				.authorAvatar {
					display: none;
				}
				.author {
					font-size: var(--menu-TextSize);
					font-weight: 600;
					color: var(--menu-textColor);
					background-color: transparent;
					cursor: pointer;
				}
			}
			.controlSettings {
				display: flex;
				flex-direction: column;
				gap: 2rem;
				line-height: 1.8rem;
				.controlLinks {
					white-space: nowrap;
					line-height: 1.8rem;
					padding: 0.7rem 3rem 0.7rem 2rem;
					color: var(--subMenu-Color);
					font-size: var(--subMenu-TextSize);
					font-weight: 400;
					transition: all 0.3s ease-in-out;
					&:hover {
						color: var(--subMenu-ColorHover);
						background-color: #d3d3d3d3;
					}
				}
				.signOut {
					display: flex;
					align-items: center;
					justify-content: center;
					align-self: center;
					margin-top: 2rem;
					margin-bottom: 5rem;
					width: 100%;
					max-width: 200px;
					height: 40px;
					font-size: var(--menu-TextSize);
					border: none;
					color: #000000;
					background-color: #ffffff;
					transition: all 0.3s;
					cursor: pointer;

					&:hover {
						color: #ffffff;
						background-color: var(--btn-color-hover);
					}
				}
			}
		}
		.active {
			height: 100%;
		}
	}
}
.visibleMenu {
	display: flex;
}
.displayAnim {
	transform: translateX(0);
	opacity: 1 ;
	visibility: visible;
}
.scrollMenu {
	overflow-y: scroll;
}
.secondNavBgColor {
	background-image: var(--Bgc-navSecond);
}
@media (max-width: 500px) {
	.mobileContainer {
		padding: 0 calc(4rem);

		.mobileLink {
			margin-top: 7rem;
		}
		.mobileElement {
			.title {
				margin-top: 1.5rem;
			}
		}
	}
}
