.commentsContainer {
	padding-bottom: var(--vspace-4);
	

	.commentsContent,
	.commentFormContainer {
		padding-top: var(--vspace-0_5);
		padding-bottom: var(--vspace-0_5);
		max-width: 980px;

		.commentsTitle {
			margin-top: 0;
			text-align: center;
			font-size: var(--textSize_30);
			font-weight: 600;
			font-family: var(--font-2);
			font-style: normal;
			color: var(--blackColor);
		}
	}
	.commentsContent {
		.commentList {
			position: relative;
			margin: var(--vspace-2) 0 var(--vspace-1_5);
			padding: 0;
		}
	}
	.commentFormContainer {
		margin-top: var(--vspace-2);

		background: transparent;
		max-width: 900px;

		.commentWrapper {
			padding-top: var(--vspace-1_75);
			padding-bottom: var(--vspace-1_75);

			.commentTextArea {
				field-sizing: content;
				padding: 10px;
				min-height: 250px;
				min-width: 300px;
				width: 100%;
				max-width: 100%;
				margin-bottom: var(--vspace-0_25);
				font-size: calc(var(--text-Size) * 0.7778);
				font-family: var(--fontFamily);
				font-style: normal;
				font-weight: 400;
				line-height: var(--vspace-0_75);
				border: none;
				border-bottom: 1px solid #828484;
				border-top: 1px solid #828484;

				background: transparent;
				&:focus {
					outline: none;
				}
			}
			.commentError {
				font-size: var(--textSize_14);
				color: var(--errorColor);
			}
			.resMessage {
				font-size: var(--textSize_14);

				color: var(--mainColor);
			}
			.addComment {
				display: flex;
				flex-direction: column;
				align-self: center;
				margin-left: auto;
				margin-right: auto;
				margin-top: var(--vspace-1);
				padding: 0 3.2rem;
				width: 90%;
				height: var(--btn-height);
				font-size: 18px;
				line-height: calc(var(--btn-height) - 0.4rem);
				background-color: var(--blackColor);
				color: var(--whiteColor);
				text-transform: uppercase;
				letter-spacing: 0.4em;
				white-space: nowrap;
				border: none;
				cursor: pointer;
				transition: all 0.3s;

				&:hover {
					background-color: var(--blackColorHover);
				}
			}
		}
		.commentAnchorSignin {
			display: flex;
			justify-content: center;
			align-items: center;
			justify-self: center;
			margin-top: var(--vspace-2);
			width: 100%;
			height: 40px;
			max-width: 200px;
			font-size: 18px;
			color: var(--whiteColor);
			background-color: var(--blackColor);
			transition: all 0.3s;

			&:hover {
				background-color: var(--blackColorHover);
			}
		}
	}
}

@media (width < 700px) {
	.commentsContainer {
		.commentFormContainer {
			.commentsTitle {
				font-size: var(--textSize_24);
			}
			.commentWrapper {
				.commentTextArea {
					min-height: 150px;
				}

				.addComment {
					display: flex;
					align-items: center;
					justify-content: center;
					margin-left: auto;
					margin-right: auto;
					margin-top: var(--vspace-1);
					width: 90%;
					height: 40px;
					font-size: var(--textSize_14);
					line-height: 40px;
				}
			}
		}
	}
}
