.commentsContainer {
	padding-bottom: var(--vspace-4);
	// background-color: #ffffff;

	.commentsContent,
	.commentFormContainer {
		padding-top: var(--vspace-0_5);
		padding-bottom: var(--vspace-0_5);
		max-width: 980px;

		h3 {
			margin-top: 0;
			text-align: center;
			font-size: var(--text-xl);
			font-weight: 600;
			font-family: var(--font-2);
			font-style: normal;
			color: var(--color-text-dark);
		}
	}
	.commentsContent {
		.commentList {
			position: relative;
			margin: var(--vspace-2) 0 var(--vspace-1_5);
			padding: 0;
		}
	}
	.commentFormContainer {
		margin-top: var(--vspace-2);

		background: transparent;
		max-width: 900px;

		#contactForm {
			padding-top: var(--vspace-1_75);
			padding-bottom: var(--vspace-1_75);

			.commentTextArea {
				field-sizing: content;
				padding: 10px;
				min-height: 250px;
				min-width: 300px;
				width: 100%;
				max-width: 100%;
				margin-bottom: var(--vspace-0_25);
				font-size: calc(var(--text-Size) * 0.7778);
				font-family: var(--fontFamily);
				font-style: normal;
				font-weight: 400;
				line-height: var(--vspace-0_75);
				border: none;
				border-bottom: 1px solid #828484;
				border-top: 1px solid #828484;
				// box-shadow: 0 0 45px #dddddd;
				background: transparent;
				&:focus {
					outline: none;
				}
			}
			.commentError {
				font-size: var(--text-xs);
				color: red;
			}
			.resMessage {
				font-size: var(--text-xs);
				color: rgb(0, 255, 140);
			}
			.addComment {
				margin-top: var(--vspace-1);
				padding: 0 3.2rem;
				width: 100%;
				height: var(--btn-height);
				font-size: 18px;
				line-height: calc(var(--btn-height) - 0.4rem);
				background-color: #000000;
				color: #ffffff;
				text-transform: uppercase;
				letter-spacing: 0.4em;
				white-space: nowrap;
				border: none;
				cursor: pointer;
				transition: all 0.3s;

				&:hover {
					background-color: var(--btn-color-hover);
				}
			}
		}
		.commentAnchorSignin {
			display: flex;
			justify-content: center;
			align-items: center;
			justify-self: center;
			margin-top: var(--vspace-2);
			width: 100%;
			height: 40px;
			max-width: 200px;
			font-size: 18px;
			color: #ffffff;
			background-color: #000000;
			transition: all 0.3s;

			&:hover {
				background-color: var(--btn-color-hover);
			}
		}
	}
}
