.homeContainer {
	position: relative;
	width: 100%;
	height: 100dvh;
	background-color: #151515;

	.sliderContainer {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;

		.sliderListContainer {
			display: flex;
			flex-direction: row;
			overflow: hidden;

			.sliderList {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 100%;
				min-width: 100%;
				height: 100dvh;

				.sliderHero {
					position: relative;
					display: block;
					width: 100%;
					height: 100%;
					transition: opacity 1s linear;

					.sliderHeroBg {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						width: 100%;
						height: 100%;
						background-size: cover;
						background-position: center center;
						background-repeat: no-repeat;

						&::before,
						&::after {
							content: '';
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							width: 100%;
							height: 100%;
						}
						&::before {
							background-color: rgba(0, 0, 0, 0.4);
						}
						&::after {
							background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.78) 100%);
						}
					}

					.sliderContent {
						position: relative;
						padding-top: 20rem;
						padding-bottom: 20vh;
						height: 100%;
						
						
						.column {
							align-self: flex-end;
							max-width: var(--slideContent-width);
							padding:0 var(--gutter);
							.meta {
								display: flex;
								gap: 1rem;
								line-height: 3rem;
								font-size: var(--text-meta);
								margin-bottom: var(--vspace-0_5);
								.categories {
									display: flex;
									gap: 1rem;

									a {
										font-weight: 300;
										color: #ffffffb3;
									}
								}
								.postedBy {
									color: #ffffff;
									font-weight: 500;

									.author {
										color: #ffffffb3;
										font-weight: 300;
									}
								}
							}

							.text {
								position: relative;
								font-size: var(--text-h1);
								font-family: var(--font-3);
								// word-wrap: break-word;
								font-weight: 400;
								
								text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
								
								a {
									color: #ffffff;
								}
							}
						}
					}
					.animated{
						animation: animate 1s cubic-bezier(0, 0.55, 0.45, 1) 1s both;
					}
				}
				.sliderHero1 {
					left: 0;
					z-index: 998;
					opacity: 0;
				}
				.sliderHero2 {
					left: -100%;
					z-index: 998;
					opacity: 0;
				}
				.sliderHero3 {
					left: -200%;
					z-index: 998;
					opacity: 0;
				}
				.sliderActive {
					z-index: 999;
					opacity: 1;
				}
			}
		}
		.dots {
			display: flex;
			gap: 1rem;
			width: 92%;
			max-width: 1400px;
			margin-top: -15dvh;
			margin-left: auto;
			margin-right: auto;
			padding: 0 3.2rem;
			list-style: none;
			z-index: 1000;

			.dot {
				&::after {
					content: '';
					display: inline-block;
					width: 0;
					height: 1px;
					background-color: #ffffff;
					transform: translateY(-4px);
					transition: width 0.3s cubic-bezier(0.21, 0.97, 0.75, 0.85);
				}

				.dotBtn {
					margin: 0;
					padding: 0.4rem;
					line-height: 3.2rem;
					height: auto;
					color: white;
					letter-spacing: 4px;
					border: none;
					background-color: transparent;
					cursor: pointer;
				}
			}

			.slickActive {
				&::after {
					width: 32px;
					margin: 0 10px 0 4px;
				}
			}
		}
	}

	.socialContainer {
		position: absolute;
		right: var(--socialPosition-right);
		bottom: 15dvh;
		text-align: right;
		color: white;
		font-weight: 400;
		z-index: 1000;

		.socialText {
			rotate: 90deg;
			font-size: 12px;
		}
		.lineThrough {
			display: block;
			width: 1px;
			height: 3.6rem;
			background-color: #fff;
			margin: 3.6rem auto 4.8rem;
		}
		.socialIcons {
			text-align: center;
			font-size: 2rem;
			margin-bottom: 2.8rem;
			.link {
				margin-bottom:var(--margin-bottomSocialLinks);
				list-style: none;

				a {
					width: 20px;
					height: 20px;
					color: #ffffff;
				}
			}
		}
	}

	.arrowsContainer {
		position: absolute;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: row;
		z-index: 1000;

		.arrowBtn {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: var(--padding-arrows);
			border: none;
			background-color: var(--white);
			color: var(--black);
			
			cursor: pointer;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: var(--arrows-ColorHover);
				background-color: var(--arrows-BgcHover);
			}
		}
	}
}

@keyframes animate {
	from {
		opacity: 0;
		visibility: hidden;
		transform: translateY(20%);
	}to{
		opacity: 1;
		visibility: visible;
		transform: translateY(0);

	}
}

