.homeContainer {
	position: relative;
	width: 100%;
	height: 100dvh;
	background-color: #151515;

	.heroWrapper {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;

		.heroSlider {
			display: flex;
			flex-direction: row;
			overflow: hidden;

			.heroSlide {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 100%;
				min-width: 100%;
				height: 100dvh;
				user-select: none;
				-webkit-user-select: none;
				-webkit-user-drag: none;

				.heroSlideBox {
					position: relative;
					display: block;
					width: 100%;
					height: 100%;
					transition: opacity 1s linear;

					.heroImageWrapper {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						width: 100dvw;
						height: 100dvh;
						
						img {
							height: 100%;
							width: 100%;
							object-fit: cover;
						}
						// &::before,
						&::after {
							content: '';
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							width: 100%;
							height: 100%;
						}
						// &::before {
						// 	background-color: rgba(0, 0, 0, 0.4);
						// }
						&::after {
							background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.78) 100%);
						}
					}

					.heroContent {
						position: relative;
						padding-top: 20rem;
						padding-bottom: 20vh;
						height: 100%;

						.heroText {
							display: flex;
							flex-direction: column;
							align-self: flex-end;
							max-width: var(--slideContent-width);
							padding: 0 var(--gutter);
							gap: 1rem;
							.heroMeta {
								display: flex;
								
								gap: 1.5rem;
								
								font-size: var(--textSpan);

								.heroCategories {
									display: flex;
									gap: 1rem;

									a {
										font-weight: 300;
										color: #ffffffb3;
									}
								}
								.heroPostedBy {
									color: #ffffff;
									font-weight: 500;

									.heroAuthor {
										color: #ffffffb3;
										font-weight: 300;
									}
								}
							}

							.heroTitle {
								user-select: none;
								-webkit-user-select: none;
								-webkit-user-drag: none;
								position: relative;
								font-size: var(--text-h1);
								font-family: var(--font-3);

								font-weight: 400;

								text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

								a {
									color: #ffffff;
								}
							}
						}
					}
					.animated {
						animation: animate 1s cubic-bezier(0, 0.55, 0.45, 1) 1s both;
					}
				}
			}
		}
		.dots {
			display: flex;
			gap: 1rem;
			width: 92%;
			max-width: 1400px;
			margin-top: -15dvh;
			margin-left: auto;
			margin-right: auto;
			padding: 0 3.2rem;
			list-style: none;
			z-index: 1000;

			.dot {
				&::after {
					content: '';
					display: inline-block;
					width: 0;
					height: 1px;
					background-color: #ffffff;
					transform: translateY(-4px);
					transition: width 0.3s cubic-bezier(0.21, 0.97, 0.75, 0.85);
				}

				.dotBtn {
					margin: 0;
					padding: 0.4rem;
					line-height: 3.2rem;
					height: auto;
					color: white;
					letter-spacing: 4px;
					border: none;
					background-color: transparent;
					cursor: pointer;
				}
			}

			.slickActive {
				&::after {
					width: 32px;
					margin: 0 10px 0 4px;
				}
			}
		}
	}

	.socialWrapper {
		position: absolute;
		right: var(--socialLinksRight);
		bottom: 15dvh;
		text-align: right;
		color: white;
		font-weight: 400;
		z-index: 1000;

		.socialText {
			rotate: 90deg;
			font-size: 12px;
		}
		.lineThrough {
			display: block;
			width: 1px;
			height: 3.6rem;
			background-color: #ffffff;
			margin: 3.6rem auto 4.8rem;
		}
		.socialLinks {
			text-align: center;
			font-size: 2rem;
			margin-bottom: 2.8rem;
			.socialLi {
				margin-bottom: var(--margin-bottomSocialLinks);
				list-style: none;
				display: flex;
				justify-content: center;
				gap: 1rem;

				.socialLink {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					padding: 0.25rem;
					border-radius: var(--borderRadius06);
					background-color: #f3f4f6;
					color: #1f2937;
					transition: all 0.3s ease;
					text-decoration: none;

					&:hover {
						background: var(--greenColor);
						color: var(--white);
						transform: translateY(-2px);
					}
				}
			}
		}
	}

	.arrowsWrapper {
		position: absolute;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: row;
		z-index: 1000;

		.arrowBtn {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: var(--padding-arrows);
			border: none;
			background-color: var(--white);
			color: var(--blackColor);

			cursor: pointer;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: var(--arrows-ColorHover);
				background-color: var(--arrows-BgcHover);
			}
		}
	}
}

@media (width < 600px) {
	.homeContainer {
		.heroWrapper {
			.heroSlider {
				.heroSlide {
					.heroSlideBox {
						.heroContent {
							.heroText {
								.heroMeta {
									flex-direction: column;
								}
							}
						}
					}
				}
			}

			.dots {
				margin-top: -14dvh;
				margin-left: 0;

				.dot {
					.dotBtn {
						padding: 0.3rem;
						line-height: 2rem;
					}
				}

				.slickActive {
					&::after {
						width: 25px;
						margin: 0 0 0 4px;
					}
				}
			}
		}
	}
}

@media (height < 500px) {
	.homeContainer {
		.socialWrapper {
			.socialText {
				display: none;
			}
			.lineThrough {
				display: none;
			}
		}
	}
}

@keyframes animate {
	from {
		opacity: 0;
		visibility: hidden;
		transform: translateY(20%);
	}
	to {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}
