.boxTitle {
	margin-bottom: 1rem;
	font-weight: 400;
	line-height: 4rem;
	font-family: var(--font-2);
	font-size: var(--textSize_20);
	color: var(--textColor);
}
.formWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;

	.formCheckbox {
		label {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			line-height: 20px;
			font-family: var(--font-2);
			margin-bottom: 2rem;
			font-size: var(--textSize_18);
			font-weight: 500;
			color: var(--textColor);
			z-index: 100;
			cursor: pointer;
		}
		input {
			display: none;
		}
	}

	.submitBtns {
		display: flex;
		gap: 2rem;
		margin-top: 3rem;

		.saveSettings {
			display: flex;
			align-self: flex-start;
			color: var(--buttonColorLight);
			background-color: var(--buttonBgcGreen);

			&:hover {
				background-color: var(--buttonBgcHoverGreen);
			}
		}
		.animate1 {
			animation: animateDot 1.4s ease-in-out 0.2s infinite;
		}
		.animate2 {
			animation: animateDot 1.4s ease-in-out 0.4s infinite;
		}
		.animate3 {
			animation: animateDot 1.4s ease-in-out 0.6s infinite;
		}
		.clearButton {
			transition: all 0.3s;
			&:hover {
				color: var(--buttonColorLight);
				background-color: var(--clearButtonBgc);
			}
		}
	}
	.error {
		color: var(--errorFormColor);
		font-size: var(--textSize_14);
	}
}
@keyframes animateDot {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
