.profileInfoBox{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1.6rem 0;
    padding: 2.4rem;
    font-size: 13px;
    background-color: #fff;
    border: 1px solid #e8edeb;
    box-shadow: 0px 4px 10px -4px rgba(0,30,43,0.3);
    width: 450px;
    max-width: 90dvw;
    border-radius: var(--borderRadius16);
}