.latestCommentsContainer {
	grid-area: e;
	padding: 3rem;
	color: var(--blackColor);
	background-color: var(--whiteColor);
	border-radius: var(--borderRadius16);
	overflow: hidden;

	.latestCommentsTitle {
		margin-bottom: 2rem;
		color: var(--lighterBlackColor);
		font-weight: 500;
	}

	.latestCommentsWrapper {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		margin-bottom: 2rem;
		.latestCommentsImage {
			position: relative;
			min-width: 55px;
			height: 55px;
			background-color: transparent;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 50%;
				border: 2px solid var(--lightGrayColor);
			}
		}
		.latestCommentsInfo {
			display: flex;
			gap: 0.5rem;
			flex-direction: column;
			justify-content: space-evenly;
			color: var(--lighterBlackColor);
			font-size: var(--textSize_16);

			.latestCommentsAuthor {
				font-size: var(--textSize_14);
			}
			.latestCommentsPost {
				display: flex;
				flex-direction: row;
				gap: 0.5rem;
				font-size: var(--textSize_14);
				span {
					flex: 0 0 auto;
				}
				.latestCommentsPostTitle {
					font-weight: 500;
					color: var(--lighterBlackColor);
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 1;
					text-overflow: ellipsis;
					line-clamp: 1;
					overflow: hidden;
					transition: all 0.3s;

					&:hover {
						color: var(--blackColor);
					}
				}
			}
			.latestCommentsComment {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
				text-overflow: ellipsis;
				line-clamp: 3;
				line-height: 2.4rem;
				color: var(--blackColor);
				overflow: hidden;
			}
		}
	}
}

@media (max-width: 500px) {
	.latestCommentsContainer {
		.latestCommentsWrapper {
			.latestCommentsInfo {
				.latestCommentsComment {
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					text-overflow: ellipsis;
					line-clamp: 2;
					overflow: hidden;
				}
			}
		}
	}
}
