.popupContainer {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	align-items: center;
	justify-content: center;
	min-height: 100dvh;
	height: 100%;
	width: 100%;
	background-color: var(--popupBgcOpacity);
	z-index: 3000;
	padding: 0 2rem;

	.popupWrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 4rem 2rem;
		max-width: 560px;
		width: 100%;
		min-height: 350px;
		border-radius: var(--borderRadius16);
		background-color: var(--whiteColor);

		.popupTitle {
			font-size: var(--textSize_18);
			margin-bottom: 3rem;
			text-align: center;
		}
		
		.popupFooter {
			text-align: center;
			margin-top: auto;
			
			.deleteInfo {
				text-align: center;
				font-size: var(--textSize_18);
			}
			.popupBtn {
				padding: 1rem 0;
				width: 200px;
				margin: 2rem 0 auto;
				border: none;
				font-size: var(--textSize_18);
				color: var(--whiteColor);
				cursor: pointer;
				transition: all 0.3s;
			}

			.deleteBtn {
				background-color: var(--errorColor);

				&:hover {
					background-color: var(--errorColorHover);
				}
			}
			.closePopupBtn {
				background-color: var(--mainColor);

				&:hover {
					background-color: var(--mainColorHover);
				}
			}
		}
		.close {
			position: absolute;
			top: 1rem;
			right: 1rem;
			padding: 0.3rem 0.5rem;
			border: none;
			background-color: transparent;
			cursor: pointer;

			.closeSVG {
				&:hover {
					scale: 1.1;
				}
			}
		}
	}
}

@media (width < 600px) {
	.popupContainer {
		display: none;

		padding: 0 1rem;

		.popupWrapper {
			.popupTitle {
				
				font-size: var(--textSize_16);
			}

			.popupFooter {
				.deleteInfo {
				
				font-size: var(--textSize_16);
			}
				.popupBtn {
					width: 150px;

					font-size: var(--textSize_16);
				}
			}
		}
	}
}
