.loginWrapper {
	display: flex;
	padding: var(--vspace-0_5);
	margin: 0 var(--vspace-0_5);
	width: 100%;
	max-width: 980px;
	min-height: 600px;
	box-shadow: 0px 0px 4px 4px #d3d3d3d3;
	// background-color: var(--bgcWhite);
	border-radius: 12px;

	.formContainer {
		margin-top: var(--vspace-1);
		padding: 2rem;
		
		width: 50%;

		h1 {
			margin-bottom: var(--vspace-0_25);
			color: var(--lightBlackColor);
			font-size: var(--text-xl);
			font-weight: 400;
		}
		p {
			font-size: var(--text-xs);
			color: var(--color-text-light);

			a {
				font-weight: 600;
				color: #00a700;
				transition: all 0.3s;

				&:hover {
					border-bottom: 1px solid #00a700;
				}
			}
		}

		.formWrapper {
			margin-top: var(--vspace-1);
			display: flex;
			flex-direction: column;

			.formInputBox {
				margin-bottom: 2rem;

				.formInput {
					position: relative;
					input {
						width: 100%;
						padding: var(--vspace-0_25);
						font-size: var(--textSize_16);
						font-family: var(--font-2);
						color: var(--textColor);
						border: 1px solid var(--inputBorderColor);
						outline: none;
						transition: all 0.3s;

						&:hover {
							box-shadow: 0px 0px 0px 2px var(--inputBoxShadowColor);
							border-color: #ffffff;
						}

						&:focus {
							box-shadow: 0px 0px 0px 2px var(--inputFocusColor);
							border-color: #ffffff;
						}
					}
				}

				.error {
					font-size: var(--textSize_12);
					color: var(--errorFormColor);
				}
			}
			.apiResponse {
				margin-bottom: 0;
			}

			.signInButton {
				margin-top: var(--vspace-0_5);
				padding: 0 3.2rem;
				height: var(--btn-heightXs);
				font-size: 16px;
				color: #ffffff;
				background-color: var(--bgcBlack);
				line-height: calc(var(--btn-heightXs) - 1rem);
				letter-spacing: 0.2em;
				white-space: nowrap;
				border: none;
				border-radius: 0;
				cursor: pointer;
				transition: all 0.3s;

				&:hover {
					background-color: var(--bgcLightBlack);
				}
			}
		}
	}
}
@media (width < 800px) {
	.loginWrapper {
		flex-direction: column;

		.formContainer {
			width: 100%;
			margin-top: 0;
			margin-bottom: 4rem;
			order: -1;
		}
	}
}


@media (height < 500px) {
	.loginWrapper {
		
		margin: 4rem;
		.formContainer {
			margin-top: 0;
		}
	}
}
