.sideBarLink {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	width: 100%;
	padding: 0.5rem 0;
	transition: all 0.3s;
    color: var(--sideBarColorIcon);
	cursor: pointer;
	&:hover {
		background-color: var(--sideBarBgcHoverLink);
	}
	
}
