.sideBarLink {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 0;
	min-height: var(--sideBarLineHeight);
	height: var(--sideBarLineHeight);
	line-height: var(--sideBarLineHeight);
	color: var(--sideBarColorIcon);
	transition: height 0.3s ease-in-out;
	overflow: hidden;
	cursor: pointer;

	.sideBarLinkHelper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 4rem;

		&:hover {
			background-color: var(--sideBarBgcHoverLink);
		}
		.sideBarLinkName {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 1rem;
			pointer-events: none;
			font-size: var(--sideBarLinks);
			font-weight: 500;

			p {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
				text-overflow: ellipsis;
				line-clamp: 1;
				overflow: hidden;
			}
		}
		.arrow {
			margin-right: 2rem;
			transition: all 0.3s;
			pointer-events: none;
		}

		.rotateArrow {
			rotate: 180deg;
		}
	}

	.activeSideBarLink {
		background-color: var(--sideBarBgcHoverLink);

		&:hover {
			background-color: var(--sideBarBgcHoverLink);
		}
	}
	.subMenu {
		display: none;
		flex-direction: column;
		height: 100%;
		width: 100%;
		margin-bottom: 1rem;
		opacity: 1;
		visibility: visible;
		list-style: none;
		transition: all 0.3s ease-in-out;
		z-index: 1000;

		.subMenuLi {
			padding-left: 4rem;
			.subLink {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
				text-overflow: ellipsis;
				line-clamp: 1;
				overflow: hidden;
				// display: block;
				width: 100%;
				height: 100%;
				white-space: nowrap;
				line-height: 1.8rem;
				padding: 0.7rem 3rem;

				color: var(--sideBarColorIcon);
				font-size: var(--sideBarSubLinks);
				font-weight: 400;
				transition: all 0.3s ease-in-out;
			}

			&:hover {
				
				background-color: var(--sideBarBgcHoverLink);
			}
		}
		.activeSubMenuLi {
			background-color: var(--sideBarBgcHoverLink);

			&:hover {
				background-color: var(--sideBarBgcHoverLink);
				
			}
		}
	}
}
.activeSubLinks {
	height: 100%;

	.subMenu {
		display: flex;
	}
}

@media (width < 800px) {
	.sideBarLink {
		.sideBarLinkHelper {
			padding-left: 3rem;
		}

		.subMenu {
			.subMenuLi {
				padding-left: 1rem;
			}
		}
	}
}
@media (width < 700px) {
	.sideBarLink {
		.sideBarLinkHelper {
			line-height: 50px;
			min-height: 50px;
			justify-content: center;
			.arrow {
				margin-left: 1rem;
			}
		}
		.sideBarPadding {
			padding-left: 0rem;
		}
		.subMenu {
			.subMenuLi {
				padding-left: 1rem;
			}
		}
	}
}
