.sideBarLink {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	padding: 1rem;
	transition: all 0.3s;
	color: var(--sideBarColorIcon);
	cursor: pointer;
	&:hover {
		background-color: var(--sideBarBgcHoverLink);
	}
	.sideBarLinkHelper {
		display: flex;
		align-items: center;
		gap: 1rem;
		width: 50%;
	}
}

@media (max-width: 700px) {
	.sideBarLink {
		
		.sideBarLinkHelper {

			justify-content: center;
		}
	}
}
