.sideBarLink {
	display: flex;
	flex-direction: column;
	width: 100%;

	min-height: var(--SideBarLineHeight);
	height: var(--SideBarLineHeight);
	line-height: var(--SideBarLineHeight);
	color: var(--sideBarColorIcon);
	transition: height 0.3s ease-in-out;
	overflow: hidden;
	cursor: pointer;

	.sideBarLinkHelper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 2rem;

		&:hover {
			background-color: var(--sideBarBgcHoverLink);
		}
		.sideBarLinkName {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 1rem;
			pointer-events: none;
		}
		.arrow {
			margin-right: 2rem;
			transition: all 0.3s;
			pointer-events: none;
		}

		.rotateArrow {
			rotate: 180deg;
		}
	}
	.activeSideBarLink {
		background-color: rgb(146, 230, 146);

		&:hover {
			background-color: rgb(146, 230, 146);
		}
	}
	.subMenu {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		margin-bottom: 1rem;
		opacity: 1;
		visibility: visible;
		list-style: none;
		transition: all 0.3s ease-in-out;
		z-index: 1000;

		.subMenuLi {
			padding-left: 2rem;
			.subLink {
				display: block;
				width: 100%;
				height: 100%;
				white-space: nowrap;
				line-height: 1.8rem;
				padding: 0.7rem 3rem;

				color: var(--sideBarColorIcon);
				font-size: var(--subMenu-TextSize);
				font-weight: 400;
				transition: all 0.3s ease-in-out;
			}

			&:hover {
				background-color: #d3d3d3d3;
			}
		}
		.activeSubMenuLi {
			background-color: rgb(146, 230, 146);

			&:hover {
				background-color: rgb(146, 230, 146);
			}
		}
	}
	
}
.activeSubLinks {
	height: 100%;
}
@media (max-width: 700px) {
	.sideBarLink {
		.sideBarLinkHelper {
			justify-content: center;
		}
	}
}
