.showHide {
	display: flex !important;
}
.fadeIn {
	transform: translateX(0) !important;
	opacity: 1 !important;
	visibility: visible !important;
}

.active {
	height: 100% !important;
}
.overflowActive {
	overflow-y: scroll !important;
}

.displayVisibility {
	visibility: visible !important;
	opacity: 1 !important;

	transform: scaleY(1) !important;
}

.activeMenu{
	border: none;
}