@use '../../../assets/styles/variable' as *;
.popupContainer {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100dvh;
	height: 100%;
	width: 100%;
	background-color: #0000003d;
	z-index: 2000;

	.popupWrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 4rem;
		max-width: 560px;
		width: 100%;
		min-height: 350px;
		border-radius: var(--borderRadius16);
		background-color: var(--whiteColor);

		.popupTitle {
			font-size: var(--textSize_22);
			margin-bottom: 3rem;
			padding-bottom: 2rem;
			border-bottom: 1px solid var(--lightGrayColor);
		}
		.sendInfo {
			margin-top: auto;
			font-size: var(--textSize_14);
			span {
				font-weight: bold;
			}
		}
		.popupBtn {
			@include formBtn($padding: 1rem, $bgc: transparent, $color: #000000);
		}

		.sendPopupBtn {
			@include formBtn($padding: 1rem 2rem, $bgc: var(--mainColor), $color: var(--whiteColor));
			margin-top: auto;

			&:hover {
				background-color: var(--mainColorHover);
			}
		}
		.cancelPopupBtn {
			@include formBtn($padding: 1rem 2rem, $bgc: var(--mainColor), $color: var(--whiteColor));

			&:hover {
				background-color: var(--mainColorHover);
			}
		}

		.popupMessage {
			margin-top: 1rem;
		}

		.footerLine {
			margin-top: 1.8rem;
			padding: 1.8rem 0 0 0;
			border-top: 1px solid var(--lightGrayColor);
		}

		.close {
			position: absolute;
			top: 1rem;
			right: 1rem;
			padding: 0.3rem 0.5rem;
			border: none;
			background-color: transparent;
			cursor: pointer;

			.closeSVG {
				&:hover {
					scale: 1.1;
				}
			}
		}
	}
}
