.icons {
	width: 20px;
	height: 20px;

	path {
		fill: var(--sideBarColorIcon);
	}
}

.pencil {
	width: 20px;
	height: 20px;
	cursor: pointer;
	
}
.trash {
	width: 20px;
	height: 20px;
	fill: #000000;
	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		fill: #910000;
	}
}
.sort{
	width: 15px;
	height: 15px;
	
	cursor: pointer;
	
}
.arrowPrevSVG,.arrowNextSVG{
	width: 15px;
	height: 15px;
	
	cursor: pointer;
	
}

.commentsSVG{
	width: 20px;
	height: 20px;
	path {
		fill: var(--sideBarColorIcon);
	}
}
.heartSVG{
	width: 20px;
	height: 20px;
	path {
		fill: var(--sideBarColorIcon);
	}
}
.viewsSVG{
	width: 30px;
	height: 20px;
	path {
		stroke-width: 1px;
		stroke: #4A72FE;
	}
}
.closeSVG{
	width: 20px;
	height: 20px;
	path {
		stroke-width: 1px;
		stroke: #f90000;
	}
}