.icons {
	width: 20px;
	height: 20px;

	path {
		fill: var(--sideBarColor);
	}
}

.pencil {
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.trash {
	width: 20px;
	height: 20px;
	fill: #000000;
	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		fill: #910000;
	}
}
.sort {
	width: 15px;
	height: 15px;

	cursor: pointer;
}
.chevronPrevSVG,
.chevronNextSVG {
	width: 15px;
	height: 15px;
	cursor: pointer;
}

.commentsSVG {
	width: 20px;
	height: 20px;
	path {
		fill: var(--sideBarColor);
	}
}
.heartSVG {
	width: 20px;
	height: 20px;
	path {
		fill: var(--sideBarColor);
	}
}
.viewsSVG {
	width: 30px;
	height: 25px;
	color: #4a72fe;
}
.closeSVG {
	width: 20px;
	height: 20px;
	color: #5c6c75;
	transition: all 0.3s;
}

.profileSVG {
	width: 20px;
	height: 20px;
}
.checkSVG {
	width: 20px;
	height: 20px;
}
.warnSVG {
	width: 20px;
	height: 20px;

	path {
		fill: #ff0000;
	}
}

.cameraSVG {
	width: 20px;
	height: 20px;
}
.securitySVG {
	width: 20px;
	height: 20px;

	path:nth-child(2) {
		fill: var(--sideBarColor);
	}
}
.calendarSVG {
	width: 20px;
	height: 20px;
}
.settingSVG {
	width: 20px;
	height: 20px;
	fill: var(--sideBarColor);
}

.uploadSVG {
	width: 20px;
	height: 20px;
}
.lawSVG {
	width: 20px;
	height: 20px;
}
