.articleContainer {
	width: 100%;
	// height: 100%;
	padding-bottom: var(--vspace-4);

	.imageContainer {
		margin: 0 auto var(--vspace-2_5);
		width: 100%;
		max-width: 1080px;
		height: 30dvw;
		max-height: 40dvw;
		.image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.headerContainer {
		margin: var(--vspace-3) 0;

		.headerTitle {
			margin-top: 0;
			letter-spacing: -0.01em;
			text-align: center;
			font-size: var(--text-display-1);
			font-family: var(--font-2);
		}
	}
}
@media (max-width: 1200px) {
	.articleContainer {
		padding-bottom: 0;

		.headerContainer {
			margin: var(--vspace-2) 0;

			.headerTitle {
				font-size: var(--textSize_36);
			}
		}
	}
}
@media (max-width: 700px) {
	.articleContainer {
		.imageContainer {
			height: 50dvw;
			max-height: 50dvw;
		}

		.headerContainer {
			margin: var(--vspace-2) 0;

			.headerTitle {
				font-size: var(--textSize_28);
			}
		}
	}
}
@media (max-width: 550px) {
	.articleContainer {
		padding-bottom: var(--vspace-2);
	}
}
