.sideBarContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	gap: 2rem;
	min-width: 250px;
	width: 10%;
	height: 100dvh;
	padding: 2rem 0;
	background-color: var(--sideBarBgc);
	transition: all 0.3s;
	z-index: 1001;

	.sideBarMenu {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		.logo {
			margin-bottom: 2rem;
			height: 60px;
			width: auto;
			background-color: transparent;
			z-index: 101;

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				transition: all 0.3s ease-in-out;
				&:hover {
					color: var(--logo-hover);
					scale: 1.05;
				}
			}
		}
		.sideBarLinks {
			display: flex;
			flex-direction: column;
			width: 100%;
		}
	}

	.controlPanelUser {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 1rem;
		gap: 2rem;

		width: 100%;
		transition: all 0.3s ease-in-out;

		.authorAvatar {
			background-color: #fff;
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}

		.sideBarBtns {
			display: flex;
			align-items: center;
			background: transparent;
			border: none;
			cursor: pointer;
			fill: var(--sideBarColorIcon);

			.logoutSvg {
				height: 25px;
				width: 25px;
				transition: all 0.3s;

				&:hover {
					fill: #05e06b;
				}
			}
			.dashboardIcon {
				width: 20px;
				height: 20px;

				path {
					transition: all 0.3s;
				}
				&:hover path {
					fill: #05e06b;
				}
			}
			.profileIcon {
				margin: auto;
				width: 25px;
				height: 25px;
			}
		}
	}
}

@media (width < 800px) {
	.sideBarContainer {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		transform: translateX(-101%);
		min-width: 200px;
		width: 25%;
		padding: 0 0 2rem 0;
		transition: transform 0.3s;
		overflow-y: auto;

		.sideBarMenu {
			position: relative;
			.logo {
				font-size: 16px;
			}
			.btn {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 48px;
				height: 48px;
				background-color: transparent;
				border: none;
				transition: all 1s ease-in-out;
				cursor: pointer;
				z-index: 1000;
				.icon {
					width: 35px;
					height: 35px;
					path {
						stroke-width: 1px;
					}
				}
			}
		}
	}

	.activeSideBar {
		transform: translateX(0);
	}
}
