.sideBarContainer {
	width: 15%;
	height: 100%;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: wheat;

	.sideBarMenu {
		display: flex;
		flex-direction: column;
		height: 100%;
		.logo {
			color: var(--logo-color);
			font-size: var(--logo-Size);
			font-weight: 600;
			transition: all 0.3s ease-in-out;
			z-index: 101;

			&:hover {
				color: var(--logo-hover);
				scale: 1.05;
			}
		}
	}

	.controlPanelUser {
		// position: relative;
		height: 100%;
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		justify-content: flex-end;
		transition: all 0.3s ease-in-out;

		.authorAvatar {
			background-color: #fff;
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}

		.controlLinks {
			width: 100%;
			// height: 100%;
			text-align: center;
			white-space: nowrap;
			line-height: 40px;
			color: var(--black);

			font-size: var(--subMenu-TextSize);
			font-weight: 400;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: var(--white);
				background-color: var(--black);
			}
			// &:last-of-type {
			// 	border-bottom: 1px solid black;
			// }
		}

		.signOut {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-top: auto;
			width: 100%;
			line-height: 40px;
			max-height: 40px;
			font-size: var(--menu-TextSize);
			border: none;
			color: #ffffff;
			background-color: #000000;
			transition: all 0.3s;
			cursor: pointer;

			&:hover {
				color: #ffffff;
				background-color: var(--btn-color-hover);
			}
		}

		// .controlSettings::-webkit-scrollbar {
		// 	width: 5px; /* szerokość paska */
		// }

		// .controlSettings::-webkit-scrollbar-thumb {
		// 	background-color: #000000;
		// }

		// /* tło toru przewijania */
		// .controlSettings::-webkit-scrollbar-track {
		// 	background-color: #e0e0e0;
		// }
	}
}
