.sideBarContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	gap: 2rem;
	min-width: 250px;
	width: 10%;
	height: 100dvh;
	
	padding: 2rem 0;
	background-color: var(--sideBarBgc);
	
	transition: all 0.3s;
	.sideBarMenu {
		display: flex;
		flex-direction: column;
		align-items: center;
		
		width: 100%;
		.logo {
			margin-bottom: 2rem;
			color: var(--logo-color);
			font-size: var(--logo-Size);
			font-weight: 600;
			transition: all 0.3s ease-in-out;
			z-index: 101;

			&:hover {
				color: var(--logo-hover);
				scale: 1.05;
			}
		}
		.sideBarLinks {
			display: flex;
			flex-direction: column;
			width: 100%;
			
		}
	}

	.controlPanelUser {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 1rem;
		gap: 1rem;

		width: 100%;
		transition: all 0.3s ease-in-out;

		.authorAvatar {
			background-color: #fff;
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}

		.sideBarBtns {
			background: transparent;
			border: none;
			cursor: pointer;
			fill: var(--sideBarColorIcon);

			.logoutSvg {
				height: 25px;
				width: 25px;
				transition: all 0.3s;

				&:hover {
					fill: #05e06b;
				}
			}
		}

		// .controlSettings::-webkit-scrollbar {
		// 	width: 5px; /* szerokość paska */
		// }

		// .controlSettings::-webkit-scrollbar-thumb {
		// 	background-color: #000000;
		// }

		// /* tło toru przewijania */
		// .controlSettings::-webkit-scrollbar-track {
		// 	background-color: #e0e0e0;
		// }
	}
}
.activeSideBar {
	transform: translateX(0);
}
// @media (max-width: 1600px) {
// 	.sideBarContainer {
// 		width: 13%;
// 	}
// }
@media (max-width: 700px) {
	.sideBarContainer {
		position: absolute;
		transform: translateX(-101%);
		min-width: 100px;
		width: 25%;

		.sideBarMenu {
			.logo {
				color: var(--logo-color);
				font-size: 18px;
				font-weight: 600;
				transition: all 0.3s ease-in-out;
				z-index: 101;

				&:hover {
					color: var(--logo-hover);
					scale: 1.05;
				}
			}
		}
	}
}
