.socialLink {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 1rem;
	border-radius: var(--borderRadius06);
	background-color: #f3f4f6;
	color: #1f2937;
	text-decoration: none;
	transition: all 0.3s ease;

	&:hover {
		background: var(--greenColor);
		color: var(--white);
		transform: translateY(-2px);
	}
}
