.addUserFormContainer {
	

	p {
		margin-bottom: 2rem;
		font-size: var(--textSize_26);
		font-weight: 400;
		line-height: 4rem;
		font-family: var(--font-2);
		color: var(--pagesColor);
	}
	.formContainer {
		.formWrapper {
			display: flex;

			flex-wrap: wrap;
			width: 100%;
			gap: 3rem;
			max-width: 1000px;
			.formInput {
				display: flex;
				flex-direction: column;
				font-family: var(--font-2);

				width: 45%;

				label {
					margin-bottom: 1rem;
					font-size: 2rem;
					font-weight: 500;
					color: var(--mainFormColor);
				}
				input {
					margin-bottom: 1rem;
					padding: 0.5rem;
					font-size: 1.6rem;
					background-color: var(--sideBarBgc);
					border: none;
					outline: none;
				}
			}

			.statusContainer {
				display: flex;
				flex-direction: column;
				width: 45%;
				.statusTitle {
					margin-bottom: 1rem;
					color: var(--mainFormColor);
					font-size: 2rem;
					font-family: var(--font-2);
					font-weight: 500;
				}
				.statusSelect {
					margin-bottom: 1rem;
					padding: 0.5rem;
					font-size: var(--textSize_16);
					border: none;

					width: 100%;
					appearance: none;
					-moz-appearance: none;
					-webkit-appearance: none;
					cursor: pointer;

					background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
					background-repeat: no-repeat;
					background-position: right 10px center;
					background-size: 16px;

					option {
						background-color: #fff;
						width: 100%;
					}
				}
			}
		}
		.successMessage {
			display: block;
			margin-top: 1rem;
			font-size: var(--textSize_16);
			color: #04dd00;
		}
	}
	.submitBtns {
		display: flex;
		gap: 2rem;
		margin-top: 3rem;

		.submitBtn {
			background-color: var(--createFormBgc);

			&:hover {
				color: var(--buttonColorHover);
				background-color: var(--createFormBgcHover);
			}
		}
		.animate1 {
			animation: animateDot 1.4s ease-in-out 0.2s infinite;
		}
		.animate2 {
			animation: animateDot 1.4s ease-in-out 0.4s infinite;
		}
		.animate3 {
			animation: animateDot 1.4s ease-in-out 0.6s infinite;
		}
		.resetBtn {
			background-color: var(--resetFormBgc);
			&:hover {
				color: var(--buttonColorHover);
				background-color: var(--resetFormHoverBgc);
			}
		}
	}
}
.error {
	color: var(--errorFormColor);
	font-size: var(--textSize_12);
}
.marginError {
	margin-bottom: 1rem;
}

@media (width < 900px) {
	.addUserFormContainer {
		.formContainer {
			.formWrapper {
				.formInput {
					width: 100%;
				}
			}
		}
	}
}
