.addUserFormContainer {
	p {
		margin-bottom: 2rem;
		font-size: var(--textSize_26);
		font-weight: 400;
		line-height: 4rem;
		font-family: var(--font-2);
		color: var(--pagesColor);
	}
	.formContainer {
		.formWrapper {
			display: flex;
			flex-direction: column;

			width: 500px;

			.formInput {
				display: flex;
				flex-direction: column;
				font-family: var(--font-2);
				width: 100%;
				margin-bottom: 2rem;
				label {
					margin-bottom: 1rem;
					font-size: var(--textSize_18);
					font-weight: 500;
					color: var(--mainFormColor);
				}
				input {
					margin-bottom: 1rem;
					padding: 0.5rem;
					font-size: var(--textSize_16);
					background-color: var(--sideBarBgc);
					border: none;
					outline: none;
				}
			}

			.selectContainer {
				display: flex;
				flex-direction: column;
				width: 100%;
				margin-bottom: 2rem;
				.selectTitle {
					margin-bottom: 1rem;
					color: var(--mainFormColor);
					font-size: var(--textSize_18);
					font-family: var(--font-2);
					font-weight: 500;
				}
				.selectOption {
					margin-bottom: 1rem;
					padding: 0.5rem;
					font-size: var(--textSize_16);
					border: none;
					width: 100%;
					appearance: none;
					-moz-appearance: none;
					-webkit-appearance: none;
					cursor: pointer;
					background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
					background-repeat: no-repeat;
					background-position: right 10px center;
					background-size: 16px;

					option {
						background-color: #ffffff;
						width: 100%;
					}
				}
			}
		}
		.successMessage {
			display: block;
			margin-bottom: 2rem;
			font-size: var(--textSize_16);
			color: #04dd00;
		}
	}
	.submitBtns {
		display: flex;
		gap: 2rem;
		margin-top: 3rem;

		.submitBtn {
			background-color: var(--buttonBgcLight);
			color: var(--buttonColorDark);

			&:hover {
				color: var(--saveColor);
			}
		}
		.animate1 {
			animation: animateDot 1.4s ease-in-out 0.2s infinite;
		}
		.animate2 {
			animation: animateDot 1.4s ease-in-out 0.4s infinite;
		}
		.animate3 {
			animation: animateDot 1.4s ease-in-out 0.6s infinite;
		}
		.resetBtn {
			background-color: var(--buttonBgcLight);
			color: var(--buttonColorDark);

			&:hover {
				color: var(--resetColor);
			}
		}
	}
}
.error {
	color: var(--errorFormColor);
	font-size: var(--textSize_14);
}
.marginError {
	margin-bottom: 1rem;
}

@media (width < 1100px) {
	.addUserFormContainer {
		.formContainer {
			.formWrapper {
				width: 65%;
			}
		}
	}
}

@media (width < 900px) {
	.addUserFormContainer {
		.formContainer {
			.formWrapper {
				width: 100%;
			}
		}
	}
}
@media (width < 800px) {
	.addUserFormContainer {
		margin-top: 5rem;
	}
}
