.search {
	position: absolute;
	right: 4rem;
	padding: 8px;
    background-color: transparent;
	border: unset;
	cursor: pointer;

	.icon {
        width: 24px;
        height: 24px;
		color: var(--menu-textColor);
		transition: 0.3s all ease-in-out;
	}

	&:hover {
		.icon {
			color: var(--menu-textColorHover);
		}
	}
}
