.search {
	padding: 8px;
	top: 0;
	display: flex;
	align-items: center;
	background-color: transparent;
	border: unset;
	cursor: pointer;
	transition: all 0.3s ease-in-out;

	.icon {
		width: 24px;
		height: 24px;
		color: var(--whiteColor);
		transition: 0.3s all ease-in-out;
	}

	&:hover {
		.icon {
			color: var(--lightGrayColor);
		}
	}
}
