.verifyContainer {
	display: flex;
	justify-content: center;

	min-height: 100dvh;
	height: 100%;
	width: 100%;
	background-color: var(--pagesBgc);

	.verifyWrapper {
		margin-top: 10rem;
		text-align: center;
		
		.verifyBox {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			
			width: 500px;
			min-height: 350px;
			padding: 2rem;
			border-radius: var(--borderRadius08);
			box-shadow: 0px 0px 4px 4px #d3d3d3d3;
			background-color: #ffffff;

			.verifyTitle {
				margin: 2rem 0;
				color: var(--textColor);
				font-size: var(--textSize_26);
				font-family: var(--font-2);
				font-weight: 400;
			}
			.errorTitle {
				font-size: var(--textSize_20);
			}

			.apiResponse {
				
				// justify-content: center;
				align-self: self-start;
				width: 100%;
				margin-bottom: 0;
			}
			.resendButton {
				margin-top: 2rem;
				padding: 1rem 3.5rem;
				font-size: var(--textSize_20);
				border: none;
				color: var(--buttonColorLight);
				font-family: var(--font-2);
				background-color: var(--buttonBgcGreen);
				cursor: pointer;
				transition: all 0.3s;

				&:hover {
					background-color: var(--buttonBgcHoverGreen);
				}
			}
			.disabledResend {
				cursor: not-allowed;
				background-color: var(--buttonBgcLightGrey);
				&:hover {
					background-color: var(--buttonBgcLightGrey);
				}
			}
			.homeNavigate {
				margin-top: 2rem;
				.homePageLink {
					color: var(--textColor);
					font-size: var(--textSize_20);
					font-family: var(--font-2);
					font-weight: 600;

					&:hover {
						color: var(--buttonColorGreen);
					}
				}
			}
			.bottomInfo {
				margin-top: 4rem;
				color: #bbbbbb;
			}
		}
	}
}

@media (width < 600px) {
	.verifyContainer {
		.verifyWrapper {
			max-width: 90%;
			width: 100%;
			.verifyBox {
				width: 100%;
			}
		}
	}
}
