@use './assets/styles/variable';

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
	scroll-behavior: smooth;
	font-size: 62.5%;
	font-family: var(--fontFamily);
}

body {
	height: 100%;
	background: var(--white);
	font-size: var(--text-Size);
	font-style: normal;
}

a {
	transition: all 0.3s ease-in-out;
	text-decoration: none;
}

.row {
	display: flex;
	width: 92%;
	max-width: 1400px;
	margin: 0 auto;
}
.column {
	padding: 0 var(--gutter);
	flex: 0 0 100%;
	max-width: 100%;
}
.sectionPages {
	min-height: 100dvh;
	background-color: var(--white);
	padding-top: calc(5.5 * var(--space));
}

@media (max-width: 800px) {
	.row {
		width: 90%;
	}
}
