$mainColor: #d12e36;
$mainLinkColor: #3f3ff7;
$mainLinkColorLight: #f2f2f2;
$mainWhite: #ffffff;
$mainBlack: #000000;
$mainGrey: #f6f6f6;
$mainDarkGrey: #7d7d7d;
$veryDarkGrey: #333333;
$shadowBlack: #2b2b2b;
$nearBlack: #141414;
$silverBreeze: #eeeeee;
$charcoalGray: #222222;
$paleGrey: #d9d9d9;
$graphiteGrey: #505050;
$staleGrey: #555555;
$gunmetal: #595959;

$desktopXL: 1600px;
$desktopBig: 1350px;
$desktop: 1250px;
$desktopSmaller: 1200px;
$desktopSmall: 1050px;
$tablet: 800px;
$tabletSmall: 600px;
$mobile: 500px;
$mobileSmall: 380px;

:root {
	--fontFamily: 'Inter', sans-serif;
	--font-2: 'DM Serif Text', serif;
	--font-3: 'DM Serif Display', serif;
	--loaderBgc: #000000;
	--logo-width: 96px;
	--logo-Size: 2.5rem;
	--logo-color: #ff9900;
	--logo-hover: #ff7700;

	--white: #ffffff;
	--black: #000000;

	--Bgc-main: #eff0f0;
	--Bgc-nav: transparent;
	--Bgc-navMobile: #000000;
	--Bgc-navSearch: #000000;
	--Bgc-navSecond: linear-gradient(90deg, #ff5c8d, #9000ff);

	--menu-textColor: #ffffff;
	--menu-textColorHover: #d3d3d3d3;

	--borderBottom: #ffffff0d;

	--subMenu-BgColor: #222222;
	--subMenu-Color: #d3d3d3d3;
	--subMenu-ColorHover: #ffffff;

	--closeBtn-Color: #ffffff;
	--closeBtn-ColorHover: #d3d3d3d3;

	--searchElementTextColor: #000000;

	--menuIcon-Color: #ffffff;
	--menuIcon-ColorHover: #d3d3d3d3;

	--menu-TextSize: 1.5rem;
	--subMenu-TextSize: 1.4rem;

	--text-Size: 1.8rem;
	--text-SizeInput: calc(calc(calc((1.8rem / 1.2) / 1.2) * 1.2) * 1.2 * 1.2);

	--text-meta: calc(calc((1.8rem / 1.2) / 1.2) * 1.2);
	--text-h1: 8.8rem;

	--text-display: calc(
		calc(calc(calc(calc(calc(calc(calc(calc((1.8rem / 1.2) / 1.2) * 1.2) * 1.2 * 1.2) * 1.2) * 1.2) * 1.2) * 1.2) * 1.2) *
			1.2
	);

	--arrows-BgcHover: #000000;
	--arrows-ColorHover: #ffffff;
	--padding-arrows: 2rem 2.5rem;

	--text-xs: calc((1.8rem / 1.2) / 1.2);
	--text-xl: calc(calc(calc(calc(calc((1.8rem / 1.2) / 1.2) * 1.2) * 1.2 * 1.2) * 1.2) * 1.2);
	// Slider content width
	--slideContent-width: 55%;
	// Posts width
	--width-post: 25%;
	// Post lines left
	--line-left1: 25%;
	--line-left2: 50%;
	--line-left3: 75%;

	--gutter: 2.4rem;

	--space: 3.2rem;
	--vspace-0_125: calc(0.125 * 3.2rem);
	--vspace-0_5: calc(0.5 * 3.2rem);
	--vspace-0_75: calc(0.75 * 3.2rem);
	--vspace-1_5: calc(1.5 * 3.2rem);
	--vspace-1: 3.2rem;
	--vspace-2: calc(2 * 3.2rem);
	--vspace-4: calc(4 * 3.2rem);

	//Color categories Header span
	--color-text-light: #929393;

	--color-text: #282828;
	// Color border posts
	--color-border: #eeeeee;

	

	// Brick Padding
	--brick-padding: 3rem;
	// Social links
	--margin-bottomSocialLinks: calc(1 * 3.2rem);
	--socialPosition-right: 4rem;

	--header-height: 8.8rem;
}
@media (max-width: 1600px) {
	:root {
		--text-h1: 8rem;
		--slideContent-width: 50dvw;
	}
}
@media (max-width: 1400px) {
	:root {
		--text-h1: 7.6rem;
		--width-post: 33%;
		--line-left1: 33%;
		--line-left2: 66%;
		--brick-padding: 4rem;
		
	}
}
@media (max-width: 1200px) {
	:root {
		--text-h1: 7rem;
		--slideContent-width: 55dvw;
		--gutter: 2rem;
		--brick-padding: 3.2rem;
	}
}
@media (max-width: 1100px) {
	:root {
		
		--width-post: 50%;
		--line-left1: 50%;
	}
}
@media (max-width: 1000px) {
	:root {
		--text-h1: 6.8rem;
		--slideContent-width: 70dvw;
		--margin-bottomSocialLinks: calc(0.5 * 3.2rem);
		
	}
}
@media (max-width: 900px) {
	:root {
		--lineHeight: calc(2.5 * 3.2rem);
		--menu-TextSize: calc(calc(calc((1.8rem / 1.2) / 1.2) * 1.2) * 1.2 * 1.2);
	}
}
@media (max-width: 800px) {
	:root {
		--text-h1: 6rem;
		--padding-arrows: 1.75rem 2.25rem;
	}
}
@media (max-width: 700px) {
	:root {
		--width-post: 100%;
		--brick-padding: 4rem;
	}
}
@media (max-width: 600px) {
	:root {
		--text-meta: calc(calc((1.7rem / 1.2) / 1.2) * 1.2);
		--text-h1: 5rem;
		--padding-arrows: 1.5rem 2rem;
		--socialPosition-right: 1.8rem;
		--gutter: 1rem;
	}
}

@media (max-width: 500px) {
	:root {
		--lineHeight: calc(2.5 * 2.8rem);
		--menu-TextSize: calc(calc(calc((1.7rem / 1.2) / 1.2) * 1.2) * 1.2 * 1.2);
		--slideContent-width: 75dvw;
	}
}

@mixin left-right-underline-hover($colorHover: $mainColor) {
	> .text {
		position: relative;
		display: inline-block;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2px;
			background-color: $colorHover;
			transform: scaleX(0);
			transform-origin: left;
			transition: transform 0.3s ease-in-out;
		}
	}

	&:hover {
		> .text::after {
			transform: scaleX(1);
			transform-origin: left;
		}
	}
}

@mixin left-right-hover($colorHover: $mainColor, $color: var(--black, #000)) {
	> .text {
		color: transparent;
		background-image: linear-gradient(90deg, $colorHover 50%, $color 50%);
		background-position: 100%;
		background-size: 200% 100%;
		background-clip: text;
		-webkit-background-clip: text;
		transition: all 0.3s ease-in-out;
	}

	> .icon {
		svg {
			color: $color;
			transition: 0.3s ease-in-out color;
		}

		&.iconActive svg {
			color: $mainColor;
		}
	}

	&:hover {
		> .text {
			background-position: 0;
		}

		> .icon svg {
			color: $mainColor;
		}
	}

	// &.active {
	//   >.text {
	//     background-position: 0;
	//   }
	// }
}

@mixin checkbox($width: 26px) {
	.checkbox {
		width: $width;
		height: $width;
		display: flex;
		-webkit-appearance: none;
		appearance: none;
		border: unset;
		position: relative;
		flex-shrink: 0;
		z-index: 1;
		user-select: none;
		cursor: pointer;

		&.round {
			&:checked::after,
			&::after {
				border-radius: 50%;
			}

			&::before {
				left: 0;
			}
		}

		&:not(.round) {
			&::before {
				left: 1px;
			}
		}
	}

	.checkbox::after {
		content: '';
		width: $width;
		height: $width;
		flex-shrink: 0;
		background-color: #ffffff;
		border: 1px solid #dfdfdf;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		transition: 0.3s all ease-in-out;
	}

	.checkbox:checked::after {
		content: '';
		width: $width;
		height: $width;
		background-color: #ee2e24;
		border-color: #ee2e24;
		position: absolute;
		top: 0;
		left: 0;
	}

	.checkbox::before {
		content: '';
		width: $width;
		height: $width;
		flex-shrink: 0;
		background-color: transparent;
		transition: 0.3s all ease-in-out;
		z-index: 5;
		scale: 0.8;
		clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
		position: relative;
		top: 0px;
	}

	.checkbox:checked::before {
		background-color: #ffffff;
	}
}

@mixin slideCheckbox() {
	.slideCheckbox {
		width: 42px;
		height: 26px;
		display: flex;
		-webkit-appearance: none;
		appearance: none;
		border: unset;
		position: relative;
		flex-shrink: 0;
		z-index: 1;
		user-select: none;
		cursor: pointer;
	}

	.slideCheckbox::after {
		content: '';
		width: 21px;
		height: 21px;
		background-color: #ffffff;
		border: 1px solid #eaeaea;
		border-radius: 50%;
		transition: 0.3s all ease-in-out;
		margin: auto;
		z-index: 2;
		position: absolute;
		left: 2px;
		top: 2px;
	}

	.slideCheckbox::before {
		content: '';
		width: 41px;
		height: 25px;
		border: 1px solid #d9d9d9;
		border-radius: 20px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		flex-shrink: 0;
		padding: 0 8px;
		background-image: linear-gradient(
			90deg,
			#ffffff 5%,
			#eb2d36 5%,
			#eb2d36 50%,
			#ffffff 50%,
			#ffffff 97%,
			#eb2d36 97%
		);
		background-position: 255%;
		background-size: 250%;
		transition: 0.3s all ease-in-out;
	}

	.slideCheckbox:checked::before {
		background-position: 180%;
		border: 1px solid transparent;
	}

	.slideCheckbox:checked::after {
		left: calc(100% - 8px);
	}

	.slideCheckbox.active,
	.slideCheckbox.disable {
		cursor: auto;
	}

	.slideCheckbox.disable::before {
		background-image: unset;
		border: 1px solid #d3d3d3;
		background-color: #d9d9d9;
	}

	.slideCheckbox:not(.active):not(.disable):hover::before {
		box-shadow: 1px 1px 5px 2px rgba($color: #000000, $alpha: 0.15);
	}
}

@mixin scrollbarRed() {
	scrollbar-color: rgba(237, 0, 0, 0.467) rgba(214, 37, 37, 0.137);

	&::-webkit-scrollbar {
		width: 5px;
		background-color: rgba(214, 37, 37, 0.137);
	}

	&::-webkit-scrollbar-thumb {
		background: rgba(237, 0, 0, 0.467);
	}
}

@mixin img() {
	.img {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

@mixin redScrollbar() {
	scrollbar-color: rgba(237, 0, 0, 0.467) rgba(214, 37, 37, 0.137);

	&::-webkit-scrollbar {
		width: 5px;
		background-color: rgba(214, 37, 37, 0.137);
	}

	&::-webkit-scrollbar-thumb {
		background: rgba(237, 0, 0, 0.467);
	}
}

@mixin containerPhone() {
	.containerPhone {
		width: fit-content;
		display: flex;

		.left {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #eb2d36;
			padding: 12px 14px;

			svg {
				width: 20px;
				height: 20px;
				transition: all 0.3s ease-in-out;
			}
		}

		.right {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #ffffff;
			border: 1px solid #eb2d36;
			padding: 0 10px;

			.textPhone {
				font-family: Lato;
				font-size: 14px;
				font-style: normal;
				font-weight: 900;
				line-height: 120%;
				color: transparent;
				background-image: linear-gradient(90deg, #eb2d36 50%, #000 50%);
				background-position: 100%;
				background-size: 200% 100%;
				background-clip: text;
				-webkit-background-clip: text;
				transition: all 0.3s ease-in-out;
			}
		}

		&:hover {
			.left {
				svg {
					scale: 1.1;
				}
			}

			.right > .textPhone {
				background-position: 0;
			}
		}
	}
}

@mixin input() {
	.input {
		width: 100%;
		height: 53px;
		font-size: 18px;
		border-radius: 10px;
		border: 1px solid #dadada;
		padding: 5px 15px;
		transition: 0.3s all ease-in-out;
		opacity: 0.8;

		&.margin {
			margin: 4px 0 0;
		}

		&.center {
			text-align: center;
		}

		&:hover {
			opacity: 1;
			box-shadow: 1px 1px 1px 1px rgba(#000000, 0.1);
		}

		&:focus {
			opacity: 1;
			box-shadow: 1px 1px 1px 1px rgba(#000000, 0.1);
		}

		&::placeholder {
			color: #a0a0a0;
			font-family: Lato;
			font-size: 16px;
			font-style: italic;
			font-weight: 400;
			line-height: 120%;
			opacity: 1;
			text-align: center;
		}
	}
}

@mixin ellipsis($lines: 9, $line-height: 23px) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lines;
	line-height: $line-height;
	max-height: calc($lines * $line-height);
}
@mixin ellipsisInputSearch($lines: 9) {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lines;
	white-space: nowrap;
}
@mixin btn() {
	.btn {
		width: fit-content;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: var(--fontSizeMedium);
		font-weight: 500;
		font-family: 'Lato';
		border-radius: 23px;
		padding: 15px;
		cursor: pointer;
		user-select: none;
		transition: 0.3s all ease-in-out;
		z-index: 90;
		text-align: center;
	}
}

@mixin btnRed() {
	.btn {
		&.btnRed {
			background-color: $mainColor;
			color: #ffffff;
			border: 1px solid $mainColor;
			text-shadow: 1px 1px 2px #00000055;

			&:not(.active):hover {
				background-color: #ffffff;
				text-shadow: 1px 1px 2px #00000000;
				color: $mainColor;
				box-shadow: 1px 1px 15px 10px rgba($color: #000000, $alpha: 0.1);
			}
		}
	}
}

@mixin btnWhite() {
	.btn {
		&.btnWhite {
			background-color: #ffffff;
			color: #000000;
			border: 3px solid $mainColor;

			&:not(.active):hover {
				background-color: $mainColor;
				text-shadow: 1px 1px 2px #00000000;
				color: #ffffff;
				box-shadow: 1px 1px 15px 10px rgba($color: #000000, $alpha: 0.1);
			}
		}
	}
}

@mixin btnBlank() {
	.btn {
		&.btnBlank {
			background-color: #ffffff;
			color: #000000;
			border: 2px solid $mainColor;

			&:hover {
				color: #ffffff;
				background-color: $mainColor;
				box-shadow: 1px 1px 10px 5px rgba(#000000, 0.1);
			}
		}
	}
}

@mixin btnGray() {
	.btn {
		&.btnGray {
			background-color: #f8f8f8;
			color: #000000;
			border: 1px solid #dfdfdf;

			&:hover {
				background-color: #fff;
				box-shadow: 1px 1px 10px 5px rgba(#000000, 0.1);
			}
		}
	}
}

@mixin error {
	.error {
		height: 25px;
		color: $mainColor;
		font-family: Lato;
		font-size: var(--fontError);
		font-weight: 400;
		margin: 0px 0 5px;
		text-align: center;
		user-select: none;
		opacity: 0;
		transition: 0.3s all ease-in-out;

		&.errorVisible {
			opacity: 1;
		}
	}
}
@mixin modal {
	.modal {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		background-color: #fff;
		border-radius: 32px;
		padding: 50px 25px 30px;
	}
}

%base-input-style {
	color: #1a1a1a;
	font-family: Lato;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
}
