.theme {
	--pagesBgc: #0a2012;
	
}

:root {
	--fontFamily: 'Inter', sans-serif;
	--font-2: 'DM Serif Text', serif;
	--font-3: 'DM Serif Display', serif;

	--headerHeight: 8.8rem;
	--panelRight: 6rem;
	--controllSettingsTop: 160%;
	--controllContainerTop: 260%;
	--logo-width: 96px;

	--loaderBgc: #000000;
	--pagesBgc: #007e561d;
	// --pagesBgc: #1f614d31;
	--mainColor: #009062;
	--mainColorHover: #065f43;
	--whiteColor: #ffffff;
	--blackColor: #000000;
	--blackColorHover: #282828;
	--lighterBlackColor: #464d4d;
	--darkColor: #1f2937;
	--textColor: #092013;
	--errorColor: #8f0000;
	--errorColorHover: #460101;
	--successColor: #009062;
	--color-text-light: #929393;
	--color-border: #eeeeee;

	--blueColor: #338afb;
	--lightGrayColor: #d3d3d3d3;
	--darkerGrayColor: #adadba;
	--popupBgcOpacity: #0090621f;

	--clearButtonBgc: #564c4c;
	--cancelButtonBgc: #564c4c;
	--clearAllButtonBgc: #564c4c;
	--cancelColor: #564c4c;
	
	--Bgc-navTransparent: transparent;
	--desktopPanelColor: #eff0f0;
	// footer
	--footerBgc: #eff0f0;
	// sidebar colors
	--sideBarColor: #092013;
	//  tabels colors
	--bgcTabelHover: #83bca9;
	--notifColor: #77d781;

	--borderBottomColor: #ffffff0d;

	--menu-TextSize: 1.5rem;
	--subMenu-TextSize: 1.4rem;

	--text-h1: 8rem;
	--textSpan: 1.6rem;
	--text-Size: 1.8rem;
	--text-SizeInput: calc(calc(calc((1.8rem / 1.2) / 1.2) * 1.2) * 1.2 * 1.2);
	// text size
	--text-md: calc(calc(calc((1.8rem / 1.2) / 1.2) * 1.2) * 1.2 * 1.2);
	--text-meta: calc(calc((1.8rem / 1.2) / 1.2) * 1.2);

	--text-display: calc(
		calc(
				calc(calc(calc(calc(calc(calc(calc((1.8rem / 1.2) / 1.2) * 1.2) * 1.2 * 1.2) * 1.2) * 1.2) * 1.2) * 1.2) * 1.2
			) *
			1.2
	);
	--text-display-1: calc(
		calc(calc(calc(calc(calc(calc(calc(calc((1.8rem / 1.2) / 1.2) * 1.2) * 1.2 * 1.2) * 1.2) * 1.2) * 1.2) * 1.2) * 1.2)
	);

	--text-xs: calc((1.8rem / 1.2) / 1.2);
	--text-xl: calc(calc(calc(calc(calc((1.8rem / 1.2) / 1.2) * 1.2) * 1.2 * 1.2) * 1.2) * 1.2);
	// Slider content width
	--slideContent-width: 55%;
	// Posts width
	--width-post: 25%;
	// Post lines left
	--line-left1: 25%;
	--line-left2: 50%;
	--line-left3: 75%;

	--gutter: 2.4rem;

	--space: 3.2rem;
	--vspace-0_125: calc(0.125 * 3.2rem);
	--vspace-0_25: calc(0.25 * 3.2rem);
	--vspace-0_5: calc(0.5 * 3.2rem);
	--vspace-0_75: calc(0.75 * 3.2rem);
	--vspace-1_5: calc(1.5 * 3.2rem);
	--vspace-1_75: calc(1.75 * 3.2rem);
	--vspace-1: 3.2rem;
	--vspace-2: calc(2 * 3.2rem);
	--vspace-2_5: calc(2.5 * 3.2rem);
	--vspace-3: calc(3 * 3.2rem);
	--vspace-4: calc(4 * 3.2rem);
	--vspace-5: calc(5 * 3.2rem);
	--padding-arrows: 2rem 2.5rem;

	--btn-height: calc(2 * 3.2rem);
	--btn-heightXs: calc(1.5 * 3.2rem);

	// Brick Padding
	--brick-padding: 3rem;
	--brick-paddingLeftRight: 3rem;
	// Social links
	--margin-bottomSocialLinks: calc(1 * 3.2rem);
	--socialLinksRight: 4rem;

	// form text
	--textLineHeight: 3rem;

	//  fontSize

	--sideBarLinks: 1.6rem;
	--sideBarSubLinks: 1.4rem;
	//  links lineheight
	--sideBarLineHeight: calc(2 * 2.5rem);

	--textSize_10: 1rem;
	--textSize_12: 1.2rem;
	--textSize_14: 1.4rem;
	--textSize_16: 1.6rem;
	--textSize_18: 1.8rem;
	--textSize_20: 2rem;
	--textSize_22: 2.2rem;
	--textSize_24: 2.4rem;
	--textSize_26: 2.6rem;
	--textSize_28: 2.8rem;
	--textSize_30: 3rem;
	--textSize_32: 3.2rem;
	--textSize_34: 3.4rem;
	--textSize_36: 3.6rem;
	--textSize_38: 3.8rem;
	--textSize_40: 4rem;
	--textSize_42: 4.2rem;
	--textSize_44: 4.4rem;
	--textSize_46: 4.6rem;
	--textSize_48: 4.8rem;
	--textSize_50: 5rem;
	--textSize_60: 6rem;
	--textSize_70: 7rem;

	// borders
	--borderRadius02: 0.2rem;
	--borderRadius04: 0.4rem;
	--borderRadius06: 0.6rem;
	--borderRadius08: 0.8rem;
	--borderRadius10: 1rem;
	--borderRadius12: 1.2rem;
	--borderRadius14: 1.4rem;
	--borderRadius16: 1.6rem;
	--borderRadius18: 1.8rem;
	--borderRadius20: 2rem;

	// Admin Panel END
}
@media (max-width: 1600px) {
	:root {
		--text-h1: 7.4rem;
		--textSpan: 1.5rem;
		--slideContent-width: 50dvw;
	}
}
@media (max-width: 1400px) {
	:root {
		--text-h1: 7.2rem;
		--width-post: 33%;
		--line-left1: 33%;
		--line-left2: 66%;
		--brick-padding: 4rem;
		--brick-paddingLeftRight: 4rem;
	}
}
@media (max-width: 1200px) {
	:root {
		--text-h1: 6.8rem;
		--textSpan: 1.4rem;
		--slideContent-width: 55dvw;
		--gutter: 2rem;
		--brick-padding: 3.2rem;
		--brick-paddingLeftRight: 3.2rem;
	}
}
@media (max-width: 1100px) {
	:root {
		--width-post: 50%;
		--line-left1: 50%;
	}
}
@media (max-width: 1000px) {
	:root {
		--text-h1: 6.4rem;
		--textSpan: 1.3rem;
		--slideContent-width: 70dvw;
		--margin-bottomSocialLinks: calc(0.5 * 3.2rem);
	}
}
@media (max-width: 900px) {
	:root {
		--lineHeight: calc(2.5 * 3.2rem);
		--menu-TextSize: calc(calc(calc((1.8rem / 1.2) / 1.2) * 1.2) * 1.2 * 1.2);
		--panelRight: 5rem;
	}
}
@media (max-width: 800px) {
	:root {
		--text-h1: 5.6rem;
		--textSpan: 1.2rem;
		--padding-arrows: 1.75rem 2.25rem;
	}
}
@media (max-width: 700px) {
	:root {
		--width-post: 100%;
		--brick-padding: 4rem;
		--brick-paddingLeftRight: 4rem;
		--text-display-1: calc(
			calc(calc(calc(calc(calc(calc((1.7rem / 1.2) / 1.2) * 1.2) * 1.2 * 1.2) * 1.2) * 1.2) * 1.2) * 1.2
		);
	}
}
@media (width < 600px) {
	:root {
		--text-meta: calc(calc((1.7rem / 1.2) / 1.2) * 1.2);
		--text-h1: 4rem;
		--padding-arrows: 1.5rem 2rem;
		--socialLinksRight: 1.8rem;
		--gutter: 1rem;
		--panelRight: 4rem;
	}
}

@media (max-width: 500px) {
	:root {
		--lineHeight: calc(2.5 * 2.8rem);
		// --menu-TextSize: calc(calc(calc((1.7rem / 1.2) / 1.2) * 1.2) * 1.2 * 1.2);
		--slideContent-width: 75dvw;
		--brick-padding: 4rem;
		--brick-paddingLeftRight: 2rem;
		--panelRight: 3rem;
	}
}
@media (max-width: 400px) {
	:root {
		--panelRight: 1.8rem;
	}
}

@media (height < 500px) {
	:root {
		--padding-arrows: 1.5rem 2rem;
		--socialLinksRight: 2rem;
		--headerHeight: 6rem;
		--panelRight: 4rem;
		--controllSettingsTop: 120%;
		--controllContainerTop: 200%;
	}
}

@mixin formBtn($padding: 1rem, $bgc, $color: #000000, $cursor: pointer) {
	display: flex;
	align-self: flex-start;
	padding: $padding;
	font-size: var(--textSize_14);
	color: $color;
	background-color: $bgc;
	border: none;
	border-radius: var(--borderRadius06);
	transition: all 0.3s;
	cursor: $cursor;
}
