$desktopXL: 1600px;
$desktopBig: 1350px;
$desktop: 1250px;
$desktopSmaller: 1200px;
$desktopSmall: 1050px;
$tablet: 800px;
$tabletSmall: 600px;
$mobile: 500px;
$mobileSmall: 380px;

:root {
	--fontFamily: 'Inter', sans-serif;
	--font-2: 'DM Serif Text', serif;
	--font-3: 'DM Serif Display', serif;
	--loaderBgc: #000000;
	--logo-width: 96px;
	--logo-Size: 2.5rem;
	--logo-color: #ff9900;
	--logo-hover: #ff7700;

	--white: #ffffff;
	--black: #000000;

	--Bgc-main: #eff0f0;

	--Bgc-desktopPanel: #eff0f0;
	--Bgc-navTransparent: transparent;
	--Bgc-navBlack: #000000;
	--Bgc-navMobile: #000000;
	--Bgc-navSearch: #000000;
	--Bgc-navSecond: #000000;

	--menu-textColor: #ffffff;
	--menu-textColorHover: #d3d3d3d3;

	--borderBottom: #ffffff0d;

	--subMenu-BgColor: #222222;
	--subMenu-Color: #d3d3d3d3;
	--subMenu-ColorHover: #ffffff;

	--closeBtn-Color: #ffffff;
	--closeBtn-ColorHover: #d3d3d3d3;

	--searchElementTextColor: #000000;

	--menuIcon-Color: #ffffff;
	--menuIcon-ColorHover: #d3d3d3d3;

	--menu-TextSize: 1.5rem;
	--subMenu-TextSize: 1.4rem;

	--text-Size: 1.8rem;
	--text-SizeInput: calc(calc(calc((1.8rem / 1.2) / 1.2) * 1.2) * 1.2 * 1.2);
	// text size
	--text-md: calc(calc(calc((1.8rem / 1.2) / 1.2) * 1.2) * 1.2 * 1.2);
	--text-meta: calc(calc((1.8rem / 1.2) / 1.2) * 1.2);
	--text-h1: 8.8rem;

	--text-display: calc(
		calc(calc(calc(calc(calc(calc(calc(calc((1.8rem / 1.2) / 1.2) * 1.2) * 1.2 * 1.2) * 1.2) * 1.2) * 1.2) * 1.2) * 1.2) *
			1.2
	);
	--text-display-1: calc(
		calc(calc(calc(calc(calc(calc(calc(calc((1.8rem / 1.2) / 1.2) * 1.2) * 1.2 * 1.2) * 1.2) * 1.2) * 1.2) * 1.2) * 1.2)
	);

	--arrows-BgcHover: #000000;
	--arrows-ColorHover: #ffffff;
	--padding-arrows: 2rem 2.5rem;

	--text-xs: calc((1.8rem / 1.2) / 1.2);
	--text-xl: calc(calc(calc(calc(calc((1.8rem / 1.2) / 1.2) * 1.2) * 1.2 * 1.2) * 1.2) * 1.2);
	// Slider content width
	--slideContent-width: 55%;
	// Posts width
	--width-post: 25%;
	// Post lines left
	--line-left1: 25%;
	--line-left2: 50%;
	--line-left3: 75%;

	--gutter: 2.4rem;

	--space: 3.2rem;
	--vspace-0_125: calc(0.125 * 3.2rem);
	--vspace-0_25: calc(0.25 * 3.2rem);
	--vspace-0_5: calc(0.5 * 3.2rem);
	--vspace-0_75: calc(0.75 * 3.2rem);
	--vspace-1_5: calc(1.5 * 3.2rem);
	--vspace-1_75: calc(1.75 * 3.2rem);
	--vspace-1: 3.2rem;
	--vspace-2: calc(2 * 3.2rem);
	--vspace-2_5: calc(2.5 * 3.2rem);
	--vspace-3: calc(3 * 3.2rem);
	--vspace-4: calc(4 * 3.2rem);
	--vspace-5: calc(5 * 3.2rem);

	//Color categories Header span
	--color-text-light: #929393;
	--color-text-dark: #000000;

	--color-text: #282828;
	// Color border posts
	--color-border: #eeeeee;
	--btn-height: calc(2 * 3.2rem);
	--btn-heightXs: calc(1.5 * 3.2rem);
	--btn-color-hover: #282828;
	// Brick Padding
	--brick-padding: 3rem;
	// Social links
	--margin-bottomSocialLinks: calc(1 * 3.2rem);
	--socialPosition-right: 4rem;

	--header-height: 8.8rem;

	// SIDEBAR -----------------------
	--Bgc-sideBar: #eff0f0;
	--sideBarColorIcon: #333333;

	--sideBarBgcHoverLink: #d3d3d3d3;

	// PANEL / SETTINGS PAGES
	--pageBgc:#ffffff;
}
@media (max-width: 1600px) {
	:root {
		--text-h1: 8rem;
		--slideContent-width: 50dvw;
	}
}
@media (max-width: 1400px) {
	:root {
		--text-h1: 7.6rem;
		--width-post: 33%;
		--line-left1: 33%;
		--line-left2: 66%;
		--brick-padding: 4rem;
	}
}
@media (max-width: 1200px) {
	:root {
		--text-h1: 7rem;
		--slideContent-width: 55dvw;
		--gutter: 2rem;
		--brick-padding: 3.2rem;
	}
}
@media (max-width: 1100px) {
	:root {
		--width-post: 50%;
		--line-left1: 50%;
	}
}
@media (max-width: 1000px) {
	:root {
		--text-h1: 6.8rem;
		--slideContent-width: 70dvw;
		--margin-bottomSocialLinks: calc(0.5 * 3.2rem);
	}
}
@media (max-width: 900px) {
	:root {
		--lineHeight: calc(2.5 * 3.2rem);
		--menu-TextSize: calc(calc(calc((1.8rem / 1.2) / 1.2) * 1.2) * 1.2 * 1.2);
	}
}
@media (max-width: 800px) {
	:root {
		--text-h1: 6rem;
		--padding-arrows: 1.75rem 2.25rem;
	}
}
@media (max-width: 700px) {
	:root {
		--width-post: 100%;
		--brick-padding: 4rem;
		--text-display-1: calc(
			calc(calc(calc(calc(calc(calc((1.7rem / 1.2) / 1.2) * 1.2) * 1.2 * 1.2) * 1.2) * 1.2) * 1.2) * 1.2
		);
	}
}
@media (max-width: 600px) {
	:root {
		--text-meta: calc(calc((1.7rem / 1.2) / 1.2) * 1.2);
		--text-h1: 5rem;
		--padding-arrows: 1.5rem 2rem;
		--socialPosition-right: 1.8rem;
		--gutter: 1rem;
	}
}

@media (max-width: 500px) {
	:root {
		--lineHeight: calc(2.5 * 2.8rem);
		--menu-TextSize: calc(calc(calc((1.7rem / 1.2) / 1.2) * 1.2) * 1.2 * 1.2);
		--slideContent-width: 75dvw;
	}
}
