.footerContainer {
	padding-top: 10rem;
	padding-bottom: 6rem;
	color: #3b3d3d;
	font-size: var(--text-meta);
	background-color: var(--Bgc-main);
	line-height: calc(0.8125 * var(--space));

	h5 {
		font-size: var(--text-xs);
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: var(--black);
		padding-bottom: var(--vspace-0_75);
		margin-bottom: var(--vspace-0_75);
		margin-top: 0;
		border-bottom: 1px solid #e0e0e0;
	}

	.footerMain {
		margin-bottom: 4rem;
		width: 100%;

		ul {
			list-style: none;

			li > a {
				color: #3b3d3d;
			}
		}
		.grid {
			display: grid;
			grid-template-columns: repeat(12, 1fr);

			.footerInfo {
				grid-column: 1/4;
			}
			.footerSiteLinks {
				grid-column: 4/6;
			}
			.footerSocialLinks {
				grid-column: 6/8;
			}
			.footerSubscribe {
				grid-column: 9/13;

				.subscribeForm {
					margin-top: 1.6rem;
					.form {
						display: flex;
						flex-direction: column;

						input {
							padding: 0.8rem 2rem;
							margin-bottom: 1.6rem;
							background-color: transparent;
							border: 1px solid #282828;
							font-size: calc(var(--text-Size) * 0.7778);
							line-height: 3.2rem;
							text-align: center;
							outline: none;
						}
						button {
							padding: 0.8rem 2rem;
							margin-bottom: 1.6rem;
							background-color: black;
							color: #ffffff;
							border: none;
							font-size: var(--text-xs);
							text-transform: uppercase;
							letter-spacing: 5px;
							line-height: 3.4rem;
							text-align: center;
							transition: all 0.3s ease-in-out;
							cursor: pointer;

							&:hover {
								background-color: #282828;
							}
						}
					}
				}
			}
		}
	}
	.footerBottom {
		.copyright {
			color: #828484;
			font-size: calc(1.8rem * 0.7222);

			&:first-child::after {
				content: '|';
				padding: 0 1rem 0 1.2rem;
				color: #828484;
			}

			a {
				color: #000000;
			}
		}
	}
	.column {
		padding: 0 var(--gutter);
	}
}

@media (max-width: 1200px) {
	.footerContainer {
		.footerMain {
			.grid {
				grid-template-rows: repeat(2, 1fr);

				.footerInfo {
					grid-column: 1/7;
				}
				.footerSiteLinks {
					grid-column: 7/10;
				}
				.footerSocialLinks {
					grid-column: 10/13;
				}

				.footerSubscribe {
					grid-column: 1/7;
					grid-row: 2/3;
				}
			}
		}
	}
}
@media (max-width: 800px) {
	.footerContainer {
		.footerMain {
			.grid {
				grid-template-rows: repeat(3, 1fr);

				.footerInfo {
					grid-column: 1/13;
				}
				.footerSiteLinks {
					grid-column: 1/7;
					grid-row: 2/3;
				}
				.footerSocialLinks {
					grid-column: 7/13;
					grid-row: 2/3;
				}

				.footerSubscribe {
					grid-column: 1/13;
					grid-row: 3/4;
				}
			}
		}
	}
}
