.container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100dvh;
	background-color: #0000004d;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
	z-index: 1100;

	.searchContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		padding: 1rem;
		width: 100%;
		height: var(--header-height);
		background-color: var(--Bgc-navSearch);
		// --webkit-transorm: translateY(-200%);
		transform: translateY(-200%);
		// transition: transform 0.3s ease-in-out;
		transition: transform 0.5s 0.3s cubic-bezier(0, 0.55, 0.45, 1);

		.elementSearchContainer {
			position: relative;
			width: 100%;

			.elementSearchForm {
				.input {
					width: 100%;
					font-size: var(--text-SizeInput);
					color: var(--menu-textColor);
					background-color: transparent;
					border: none;
					outline: none;

					&::placeholder {
						color: var(--menu-textColor);
					}
				}
			}
			.elementSearchList {
				display: flex;
				flex-direction: column;
				position: absolute;
				top: 0;
				left: 0;
				max-height: 0;
				height: auto;
				width: 100%;
				background-color: var(--Bgc-main);
				visibility: hidden;
				opacity: 0;
				transition: all 0.3s ease-in-out;
				z-index: -1;

				.elementSearchListLink {
					display: block;
					width: 100%;
					height: 100%;
					padding: 5px;
					border-bottom: 1px solid var(--borderBottom);
					color: var(--searchElementTextColor);
					cursor: pointer;
					transition: all .3s;

					&:hover {
						
						background-color: var(--menu-textColorHover);
					}

					&:last-child{
						border-bottom: none;
					}
				}
			}
			.fadeOut {
				top: 40px;
				opacity: 1;
				visibility: visible;
			}
			.height {
				max-height: 325px;
			}
		}
		.close {
			// padding: 8px;
			background-color: transparent;
			border: unset;
			cursor: pointer;

			.icon {
				width: 28px;
				height: 28px;
				color: var(--closeBtn-Color);
				transition: 0.3s all ease-in-out;
			}

			&:hover {
				.icon {
					color: var(--closeBtn-ColorHover);
				}
			}
		}
	}
	.show {
		transform: translateY(0%);
	}
}
.fadeIn {
	transition: all 0.3s;
	opacity: 1;
	visibility: visible;
}

@media (max-width: 600px) {
	.container {
		.searchContainer {
			padding: 0 6vw;

			.elementSearchContainer {
				.elementSearchList {
					position: absolute;
					width: 100dvw;
					left: -12.7%;
					padding: 2rem;
				}
			}
		}
	}
}
