.resetPasswordTemplateContainer {
	display: flex;
	flex-direction: column;

	min-height: 100dvh;
	height: 100%;
	width: 100%;
	background-color: var(--pagesBgc);
	padding: 0 2rem;
}

@media (max-width: 800px) {
	.resetPasswordTemplateContainer {
		align-items: center;
	}
}
