.resetPasswordTemplateContainer {
	display: flex;
	flex-direction: column;

	min-height: 100dvh;
	height: 100%;
	width: 100%;
	background-color: var(--pagesBgc);
	padding: 0 2rem;

	.title {
		margin-block: 2rem;
		font-size: var(--textSize_26);
		font-weight: 400;
		line-height: 4rem;
		font-family: var(--font-2);
		color: var(--pagesColor);
	}
}

@media (max-width: 800px) {
	.resetPasswordTemplateContainer {
		align-items: center;
	}
}
