.popularPostsContainer {
	position: relative;
	grid-area: b;
	// margin-top: 2rem;

	// width: 100%;
	// max-width: 500px;
	// height: 100%;
	// min-height: 505px;
	padding: 3rem;
	color: #000000;
	background-color: var(--statBgc);
	border-radius: var(--borderRadius16);
	overflow: hidden;

	.popularPostsContainerTitle {
		margin-bottom: 2rem;
		color: var(--statMainColor);
		font-weight: 500;
	}
	.addNewPost {
		position: absolute;
		top: 5%;
		right: 3rem;
		padding: 0.5rem 1rem;
		color: var(--areaChartColor);
		border: 1px solid var(--areaChartColor);
		border-radius: var(--borderRadius06);
		transition: all 0.3s;
		&:hover {
			color: var(--areaChartHoverColor);
			border: 1px solid var(--areaChartHoverColor);
		}
	}
	.popularPostWrapper {
		display: flex;
		align-items: center;
		padding: 1rem 0;

		.popularPostImageBox {
			min-width: 90px;
			width: 90px;
			height: 55px;
			max-height: 55px;

			// overflow: hidden;
			img {
				height: 100%;
				width: 100%;
				border-radius: var(--borderRadius06);
			}
		}
		.popularPostInfo {
			display: flex;
			flex-direction: column;
			gap: 0.75rem;
			padding: 0.5rem 2rem;

			.popularPostInfoTitle {
				color: #464d4d;
				font-size: var(--textSize_16);
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
				text-overflow: ellipsis;
				line-clamp: 1;
				overflow: hidden;


				&:hover {
					color: #000000;
				}
			}

			.popularPostStatsBox {
				display: flex;
				align-items: center;
				gap: 1.2rem;
				.popularPostStats {
					display: flex;
					align-items: center;

					span {
						margin-left: 0.8rem;
						color: var(--statSecondColor);
						font-size: var(--textSize_12);
					}

					.popularViewsSVG {
						width: 15px;
						height: 15px;
						path {
							fill: var(--statSecondColor);
							stroke: var(--statSecondColor);
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1200px) {
	.popularPostsContainer {
		max-width: none;
	}
}

@media (max-width: 500px) {
	.popularPostsContainer {
		padding: 2rem;

		.addNewPost {
			position: absolute;
			top: 3%;
			right: 2rem;
			padding: 0.5rem 1rem;
		}
	}
}
