.popularPostsContainer {
	position: relative;
	grid-area: b;

	padding: 3rem;
	color: var(--blackColor);
	background-color: var(--whiteColor);
	border-radius: var(--borderRadius16);
	overflow: hidden;

	.popularPostsContainerTitle {
		margin-bottom: 2rem;
		color: var(--lighterBlackColor);
		font-weight: 500;
	}
	.addNewPost {
		position: absolute;
		top: 5%;
		right: 3rem;
		padding: 0.5rem 1rem;
		color: var(--mainColor);
		border: 1px solid var(--mainColor);
		border-radius: var(--borderRadius06);
		transition: all 0.3s;
		&:hover {
			color: var(--mainColorHover);
			border: 1px solid var(--mainColorHover);
		}
	}
	.popularPostWrapper {
		display: flex;
		align-items: center;
		padding: 1rem 0;

		&:hover {
			.popularPostImageBox {
				img {
					transform: scale(1.1);
				}
			}
		}
		.popularPostImageBox {
			min-width: 90px;
			width: 90px;
			height: 55px;
			max-height: 55px;
			overflow: hidden;
			border: 2px solid var(--lightGrayColor);
			border-radius: var(--borderRadius06);
			img {
				height: 100%;
				width: 100%;
				transform-origin: center;
				transition: all 0.3s ease-in-out;
			}
		}
		.popularPostInfo {
			display: flex;
			flex-direction: column;
			gap: 0.75rem;
			padding: 0.5rem 2rem;

			.popularPostInfoTitle {
				color: var(--lighterBlackColor);
				font-size: var(--textSize_16);
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
				text-overflow: ellipsis;
				line-clamp: 1;
				overflow: hidden;
				transition: all 0.3s;

				&:hover {
					color: #000000;
				}
			}

			.popularPostStatsBox {
				display: flex;
				align-items: center;
				gap: 1.2rem;
				.popularPostStats {
					display: flex;
					align-items: center;

					span {
						margin-left: 0.8rem;
						color: var(--darkerGrayColor);
						font-size: var(--textSize_12);
					}

					.popularViewsSVG {
						display: flex;
						justify-content: center;
						align-items: center;
						height: 20px;
						width: 20px;
						min-width: 20px;
						min-height: 20px;

						.showViews,
						.heartSVG,
						.commentsSvg {
							width: 100%;
							height: 100%;
							color: #889397;

							path {
								fill: var(--darkerGrayColor);
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1200px) {
	.popularPostsContainer {
		max-width: none;
	}
}

@media (max-width: 500px) {
	.popularPostsContainer {
		padding: 2rem;

		.addNewPost {
			position: absolute;
			top: 3%;
			right: 2rem;
			padding: 0.5rem 1rem;
		}
	}
}
