.contactContainer {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 95%;
	max-width: 1400px;
	box-shadow: 0px 0px 4px 4px var(--lightGrayColor);
	.contactInfo {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 40%;
		padding: 4rem;
		font-size: var(--textSize_18);
		color: var(--darkColor);
		font-family: var(--font-2);
		.favIcon {
			height: 200px;
			width: 200px;
			margin-bottom: 3rem;
			background-color: transparent;
			object-fit: cover;
			transition: all 0.3s ease-in-out;

		}
		.companyInfo {
			margin-bottom: 3rem;
			padding-bottom: 3rem;
			border-bottom: 1px solid var(--lightGrayColor);
		}
		.subTitle {
			margin-bottom: 1rem;
		}
		
		.socialWrapper {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
			margin-top: 4rem;
			
			.linksBox{
				display: flex;
				flex-direction: row;
				gap: 2rem;
			}
		}
	}
	.contactForm {
		width: 100%;
		height: 100%;
		padding: 4rem;

		.senderName {
			display: flex;
			flex-direction: row;
			gap: 1rem;
			width: 100%;
		}

		.formInputBox {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
			gap: 0.5rem;
			margin-bottom: 2rem;
			font-family: var(--font-2);
			label {
				font-weight: 500;
			}
			.formInput {
				input {
					display: flex;
					width: 100%;
					padding: var(--vspace-0_25);
					font-size: var(--textSize_16);
					font-family: var(--font-2);
					color: var(--textColor);
					border: 1px solid var(--lightGrayColor);
					border-radius: var(--borderRadius06);
					outline: none;
					transition: all 0.3s;

					&:hover {
						box-shadow: 0px 0px 0px 2px var(--lightGrayColor);
						border-color: var(--whiteColor);
					}

					&:focus {
						box-shadow: 0px 0px 0px 2px var(--mainColor);
						border-color: var(--whiteColor);
					}
				}
			}
		}

		.textAreaContainer {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
			gap: 0.5rem;
			margin-bottom: 2rem;
			font-family: var(--font-2);

			.textareaWrapper {
				textarea {
					field-sizing: content;
					resize: vertical;
					display: flex;
					min-height: 150px;
					width: 100%;
					height: 100%;
					padding: 1rem;
					color: var(--textColor);
					border: 1px solid var(--lightGrayColor);
					border-radius: var(--borderRadius06);
					outline: none;
					transition:
						border-color 0.3s,
						box-shadow 0.3s;

					&:hover {
						box-shadow: 0px 0px 0px 2px var(--lightGrayColor);
						border-color: var(--whiteColor);
					}

					&:focus {
						box-shadow: 0px 0px 0px 2px var(--mainColor);
						border-color: var(--whiteColor);
					}
				}
			}
		}
		.disableMiniMarkdown {
			display: none;
		}
		.checkbox {
			display: flex;
			align-items: center;
			gap: 1rem;
			margin-bottom: 2rem;

			.formCheckbox {
				label {
					display: flex;
					flex-direction: row;
					align-items: center;
					line-height: 20px;
				}
				input {
					display: none;
				}

				span {
					margin-left: 1rem;
					font-size: var(--textSize_14);
					font-family: var(--font-2);

					a {
						color: var(--blackColor);
						font-weight: bold;

						&:hover {
							color: #0498ec;
						}
					}
				}
			}
		}
		.sendMessage {
			width: 200px;
			background-color: var(--mainColor);
			color: var(--whiteColor);
			transition: all 0.3s ease;
			&:hover {
				background-color: var(--mainColorHover);
			}
		}
		.error {
			color: var(--errorColor);
			font-size: var(--textSize_14);
		}
	}
}

@media (width < 900px) {
	.contactContainer {
		flex-direction: column;
		box-shadow: none;
		.contactInfo {
			max-width: 100%;
			padding: 2rem;
			border-top: 2px solid var(--lightGrayColor);
		}
		.contactForm {
			padding: 2rem;
			order: -1;
			margin-bottom: 2rem;

			.checkbox {
				display: flex;
				align-items: center;
				gap: 1rem;

				.formCheckbox {
					input {
						display: none;
					}
				}
			}
		}
	}
}
