.contactContainer {
	display: flex;
	justify-content: center;
	margin-top: 10rem;
	height: 100%;
	width: 95%;
	max-width: 1400px;
	box-shadow: 0px 0px 4px 4px #d3d3d3;
	.contactInfo {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		// height: 100%;
		max-width: 40%;
		padding: 4rem;

		.favIcon {
			height: 200px;
			width: 200px;
			margin-bottom: 3rem;
			background-color: transparent;

			object-fit: cover;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: var(--logo-hover);
				scale: 1.05;
			}
		}
		.companyInfo {
			margin-bottom: 3rem;
			// font-size: var(--textSize_16);
			font-family: var(--font-2);
			padding-bottom: 3rem;
			border-bottom: 1px solid #d3d3d3d3;
		}
		.subTitle {
			font-family: var(--font-2);
			margin-bottom: 1rem;
		}
		.companyAddress {
			// font-size: var(--textSize_16);
			font-family: var(--font-2);
		}
		.socialWrapper {
			display: flex;
			flex-direction: row;
			gap: 2rem;

			margin-top: 4rem;
		}
	}
	.contactForm {
		width: 100%;
		height: 100%;
		padding: 4rem;

		.senderName {
			display: flex;
			flex-direction: row;
			gap: 1rem;
			width: 100%;
		}

		.formInputBox {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
			gap: 0.5rem;
			margin-bottom: 2rem;
			font-family: var(--font-2);
			label {
				font-weight: 500;
			}
			.formInput {
				input {
					display: flex;
					width: 100%;
					padding: var(--vspace-0_25);
					font-size: var(--textSize_16);
					font-family: var(--font-2);
					color: var(--textColor);
					border: 1px solid var(--inputBorderColor);
					border-radius: var(--borderRadius06);
					outline: none;
					transition: all 0.3s;

					&:hover {
						box-shadow: 0px 0px 0px 2px var(--inputBoxShadowColor);
						border-color: #ffffff;
					}

					&:focus {
						box-shadow: 0px 0px 0px 2px var(--inputFocusColor);
						border-color: #ffffff;
					}
				}
			}
		}

		.textAreaContainer {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
			gap: 0.5rem;
			margin-bottom: 2rem;
			font-family: var(--font-2);
			textarea {
				display: flex;
				min-height: 150px;
				width: 100%;
				height: 100%;
				padding: 1rem;
				color: var(--textColor);
				border: 1px solid var(--inputBorderColor);
				border-radius: var(--borderRadius06);
				outline: none;
				transition: all 0.3s;

				&:hover {
					box-shadow: 0px 0px 0px 2px var(--inputHoverColor);
					border-color: #ffffff;
				}

				&:focus {
					box-shadow: 0px 0px 0px 2px var(--inputFocusColor);
					border-color: #ffffff;
				}
			}
		}
		.checkbox {
			display: flex;
			align-items: center;
			gap: 1rem;
			margin-bottom: 2rem;

			.formCheckbox {
				label {
					display: flex;
					flex-direction: row;
					align-items: center;
					line-height: 20px;
				}
				input {
					display: none;
				}

				span {
					margin-left: 1rem;
					font-size: var(--textSize_14);
					font-family: var(--font-2);

					a {
						color: #000000;
						font-weight: bold;

						&:hover {
							color: #0498ec;
						}
					}
				}
			}
		}
		.sendMessage {
			width: 200px;
			background-color: var(--buttonBgcGreen);
			color: var(--buttonColorLight);
			transition: all 0.3s ease;
			&:hover {
				background-color: var(--buttonBgcHoverGreen);
			}
		}
		.error {
			color: var(--errorFormColor);
			font-size: var(--textSize_14);
		}
	}
}

@media (width < 900px) {
	.contactContainer {
		flex-direction: column;
		margin-top: 10rem;
		margin-bottom: 15rem;
		box-shadow: none;
		.contactInfo {
			max-width: 100%;
			padding: 2rem;
			border-top: 2px solid #d3d3d3d3;
		}
		.contactForm {
			padding: 2rem;
			order: -1;
			margin-bottom: 2rem;

			.checkbox {
				display: flex;
				align-items: center;
				gap: 1rem;

				.formCheckbox {
					input {
						display: none;
					}
				}
			}
		}
	}
}
