// Paggination-------------
.pagination {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 3rem;
	margin-top: 1rem;
	padding: 2rem 3rem;
	.paginationRows {
		display: flex;
		flex-direction: row;
		align-items: center;

		span {
			margin-right: 1rem;
		}
		.selectRows {
			position: relative;

			.inputBox {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				width: 50px;
				cursor: pointer;
				.selectInput {
					width: 100%;
					height: 100%;
					background: transparent;
					font-size: 18px;
					border: none;
					outline: none;
					pointer-events: none;

					z-index: 1;
				}
				.chevron {
					width: 40px;
					height: 40px;
					pointer-events: none;
					transition: all .3s;
				}
				.chevronRotate {
					rotate: 180deg;
				}
			}
			.rows {
				position: absolute;
				top: -12rem;
				display: flex;
				flex-direction: column;
				width: 50px;
				background-color: #ffffff;
				box-shadow: 0px 5px 20px #d3d3d3d3;
				transform-origin: bottom;
				opacity: 0;
				transform: scaleY(0);
				transition: all 0.3s;
				span {
					display: flex;
					align-items: center;
					justify-content: center;
					line-height: 40px;

					width: 100%;
					cursor: pointer;

					&:hover {
						background-color: var(--bgcTabelHover);
					}
				}
				.activeRow {
					background-color: var(--bgcTabelHover);
				}
			}
			.scaleRows {
				transform: scaleY(1);
				opacity: 1;
			}
		}
	}
	.arrowsControls {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 2rem;

		.chevron {
			padding: 0.75rem;
			cursor: pointer;

			border: none;
			background: none;

			transition: all 0.3s;

			.chevronPrev,
			.chevronNext {
				width: 20px;
				height: 20px;
				pointer-events: none;
			}
		}
	}
}

@media (width < 500px) {
	// Paggination-------------
	.pagination {
		justify-content: space-between;
		.paginationRows {
			span {
				display: none;
			}
		}
	}
}
