.listWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100dvh;

	.listTitle {
		padding: 2rem;
		font-size: var(--textSize_26);
		font-weight: 400;
		line-height: 4rem;
		font-family: var(--font-2);
		color: var(--pagesColor);
	}

	// Search ----------
	.searchContainer {
		display: flex;
		align-items: center;
		padding: 2rem;
		gap: 1rem;
		width: 100%;

		.searchTitle {
			font-size: 2rem;
			font-family: var(--font-2);
		}
		.searchBox {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.5rem 1rem;

			max-width: 400px;
			width: 100%;
			box-shadow: 3px -2px 10px black;
			border-radius: 20px;
			.searchInput {
				padding: 0.5rem 1rem;
				width: 100%;
				font-size: var(--textSize_16);
				color: var(--pagesColor);
				font-family: var(--font-2);
				outline: none;
				border: none;

				background: none;
			}
			.searchBtn {
				padding: 0.5rem;
				background: transparent;
				border: none;

				transition: all 0.3s;
				.searchIcon {
					background: transparent;
					color: #000000;
				}
			}
		}
	}

	.listContainer {
		width: 100%;
		height: 100%;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		background-color: #ffffff;
		// scrollbar-width: none;
		overflow-x: auto;

		.tableContainer {
			display: inline-block;
			min-width: 100%;
			// height: 100%;

			.thead,
			.tbody {
				background-color: var(--bgcTBody);

				.tr {
					display: flex;
					flex-direction: row;

					.th,
					.td {
						display: flex;
						align-items: center;
						justify-content: center;

						gap: 1rem;
						min-width: 120px;
						width: 100%;
						font-family: var(--font-2);
						color: var(--colorTabel);
						cursor: pointer;
						&:first-child {
							padding-left: 2rem;
							min-width: 250px;
						}
						&:nth-child(n + 2) {
							max-width: 150px;
						}
					}
				}
			}
			.thead {
				.tr {
					.th {
						position: relative;
						padding: 1.5rem 0;

						&:hover {
							background-color: var(--bgcTabelHover);
						}

						.theadDropDown {
							position: absolute;
							left: 0;
							top: 100%;
							display: flex;
							flex-direction: column;
							width: 100%;
							transform-origin: top;
							transform: scaleY(0);
							opacity: 0;
							visibility: hidden;
							background-color: #ffffff;
							box-shadow: 0px 5px 20px black;

							transition: all 0.3s;

							div {
								padding: 1rem;
								&:hover {
									background-color: var(--bgcTabelHover);
								}
							}
						}
						.scaleUp {
							transform: scaleY(1);
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
			.tbody {
				height: 100%;

				.tr {
					padding: 1rem 0;
					transition: all 0.3s;

					&:nth-child(odd) {
						background-color: #ffffff;
					}
					.td {
						padding-right: 1rem;

						&:first-child {
							justify-content: start;
						}
						&:nth-child(n + 2):nth-child(-n + 3) {
							text-align: center;
						}
						&:last-child {
							padding-right: 0;

							a {
								display: flex;
								align-items: center;
							}
						}
						&:nth-child(n + 6):nth-child(-n + 8) {
							justify-content: flex-end;
						}
					}
					&:hover {
						background-color: var(--bgcTabelHover);
					}
				}
				.draft {
					background-color: #ffb08f !important;
					&:hover {
						background-color: var(--bgcTabelHover) !important;
					}
				}
			}
		}
	}

	.popupInfo {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 0 2rem;
		margin-bottom: 3rem;

		span {
			font-size: var(--textSize_16);
			span:first-child {
				font-weight: 600;
			}
		}
	}

	.openPopup {
		display: flex;
	}
}

.tabelTitle {
	color: #000000;
	cursor: pointer;

	span {
		margin-left: 2rem;
	}

	&:hover {
		color: #251c1c;
	}
}
.publish {
	line-height: 40px;
	transition: all 0.3s;
	&:hover {
		background-color: var(--bgcPublishHover);
		cursor: pointer;
	}
}

@media (width <= 700px) {
	.listWrapper {
		height: 100dvh;
		.listContainer {
			height: 100%;
			.tableContainer {
				height: 100%;
				.tbody {
					height: 100%;
				}
			}
		}
		.searchContainer {
			.searchBox {
				max-width: none;
			}
		}

		.pagination {
			padding: 2rem;
		}
	}

	.publish {
		background-color: var(--bgcPublishHover);
	}
}
@media (width <= 500px) {
	.listWrapper {
		.pagination {
			justify-content: space-between;
			gap: 0;
		}
	}
}
