.responseMessage {
	display: flex;
	align-items: center;
	margin-bottom: 1.6rem;
	padding: 1rem;
	font-size: var(--textSize_14);
	color: var(--textColor);
	line-height: 2.2rem;
	min-height: 5rem;
	border-radius: var(--borderRadius06);
	.warnSVG {
		margin-right: 0.5rem;
	}
}
.successMessage {
	background-color: #f2fff0;
	border: 1px solid var(--mainColor);
}
.errorMessage {
	background-color: #ffeded;
	border: 1px solid var(--errorColor);
}
